<h3 class="text-center">
    <a href='/'><i class='glyphicon glyphicon-arrow-left'></i> Back To Home </a>
</h3>
<hr>
<section>
    <!-- Browser audio recording-->
    <ul class="ul-clean">
        <li>
            <div class="checkbox checkbox-success">
                <input id="audio-recording" class="styled" type="checkbox"
                       ng-model="generalSettings['browser_audio_recording']"
                       ng-change="updateSetting('browser_audio_recording')">
                <label for="audio-recording">
                    Browser audio recording
                </label>
            </div>
        </li>
    </ul>

    <!--Role based preferences-->
    <ul class="ul-clean">
        <li>
            <label>Todo checking popup confirm</label>
        </li>
        <li ng-repeat="role in roles track by $index">
            <div class="checkbox checkbox-success">
                <input title="{{role.slug}}" id="{{role.slug}}" class="styled" type="checkbox"
                       checklist-model="generalSettings['todo_popup_confirm']"
                       checklist-value="role.slug"
                       checklist-change="updateSetting('todo_popup_confirm')">
                <label for="{{role.slug}}" ng-bind="role.display"></label>
            </div>
        </li>
    </ul>
</section>