<toaster-container></toaster-container>
<div class='row'>
	<div class='col-md-12'>
		<hr>
		<center> <b> <a href='#/'><i class='glyphicon glyphicon-arrow-left'></i> Back To Manage Patient </a> </b> </center>
		<hr>

		<center> <b> Edit Patient Profile </b> </center>

	</div>

</div>


<div class='row'>

	<div class='col-md-3'>

		<div style='position:fixed; top:200px;'>

			<center> <b> Options </b> </center>

			<ul style='list-style-type:none; '>
				<li>
					<button class='btn btn-link' ng-click='navigate("basicInfo")'>
						Basic Information
					</button>
				</li>

				<li>
					<button class='btn btn-link' ng-click='navigate("profileInfo")'>
						Profile Information
					</button>
				</li>

				<li>
					<button class='btn btn-link' ng-click='navigate("emailInfo")'>
						Email Information
					</button>
				</li>

				<li>
					<button class='btn btn-link' ng-click='navigate("passwordInfo")'>
						Password Information
					</button>
				</li>

			</ul>

		</div>
		
	</div>

	<div class='col-md-9'>



		<div class='panel panel-default' id='basicInfo'>

			<div class='panel-heading'> <b> Basic Information </b> </div>

			<div class='panel-body'>


				<form class='form' ng-submit='update_basic_profile()'>


				<div class='form-group'>

					<label> First Name </label>

					<input type='text' ng-model='user_profile.user.first_name' class='form-control'>

				</div>

				<div class='form-group'>

					<label> Last Name </label>

					<input type='text' ng-model='user_profile.user.last_name' class='form-control'>

				</div>

				<div class='form-group'>

					<center>

						<input type='submit' value='Update' class='btn btn-default btn-lg'>

					</center>

				</div>



				</form>


			</div>

		</div>
	



		<div class='panel panel-default' id='profileInfo'>

			<div class='panel-heading'> <b> Profile Information  </b> </div>

			<div class='panel-body'>


				<form class='form' ng-submit='update_profile()'>


				<div class='form-group'>

					<label> Date of birth </label>

					<input type='text' ng-model='user_profile.date_of_birth' class='form-control' required id='dob'>

				</div>

				<div class='form-group'>

					<label> Phone/Contact </label>

					<input type='text' ng-model='user_profile.phone_number' class='form-control' required>

				</div>



				<div class='form-group'>

					<label> Sex </label>

					<select ng-model='user_profile.sex' class='form-control'>
						<option value=''> ---- </option>
						<option value='male'> Male </option>
						<option value='female'> Female </option>
					</select>
				</div>


				<div class='form-group'>

					<label> Summary </label>

					<textarea ng-model='user_profile.summary' class='form-control'></textarea>
				</div>

				


				<div class='form-group'>

					<img ng-src='{{user_profile.cover_image}}' class='thumbnail' alt='Cover Image'>


					<label> Cover Image </label>

					<input type='file'  file-model='files.cover_image'>
				</div>


				<div class='form-group'>

					<img ng-src='{{user_profile.portrait_image}}' class='thumbnail' alt='Portrait Image'>

					<label> Portrait Image </label>

					<input type='file' file-model='files.portrait_image' >
				</div>








				<div class='form-group'>

					<center>

						<input type='submit' value='Update' class='btn btn-default btn-lg'>

					</center>

				</div>



				</form>


			</div>

		</div>


		<div class='panel panel-default' id='emailInfo'>

			<div class='panel-heading'> <b> Email </b> </div>
			<div class='panel-body'>


			<form class='form' ng-submit='update_email()'>

				<div class='form-group'>
					<label> Email </label>
					<input type='text' class='form-control' ng-model='user_profile.user.email'>
				</div>

				<div class='form-group'>

					<input type='submit' value='Change Email' class='btn btn-default btn-lg'>

				</div>

			</form>





			</div>
		</div>

		<div class='panel panel-default' id='passwordInfo'>

			<div class='panel-heading'> <b>  Password  </b> </div>
			<div class='panel-body'>


			<form class='form'>

				<div class='form-group'>
					<label> Current Password </label>
					<input type='password' class='form-control' ng-model='old_password' >
				</div>

				<div class='form-group'>
					<label> New Password </label>
					<input type='password' class='form-control' ng-model='password' >
				</div>


				<div class='form-group'>
					<label> Verify Password </label>
					<input type='password' class='form-control' ng-model='repassword'>
				</div>

				<div class='form-group'>
					<button class='btn btn-default' ng-click='update_patient_password()'>
						Change Password
					</button>
				</div>

			</form>




			</div>
		</div>




	</div>
</div>


<script type='text/javascript'>
	
	$(document).ready(function(){

		$( "#dob" ).datepicker({ dateFormat: 'yy-mm-dd' });

	});
</script>