<style type='text/css'>

.controlled-div{
	background-color: green;
	color:white;
	padding: 7px;
}

.uncontrolled-div{
	background-color: red;
	color: white;
	padding: 7px;
}

</style>

<a href='#/'><b> Manage Patient </b></a>

<span class='text-default'>
	<i class='glyphicon glyphicon-menu-right'></i> 
</span>

<a href='#/problem/{{goal.problem.id}}' ng-show='goal.problem!=null'><b>   Problem: {{goal.problem.problem_name}} </b></a>
<span class='text-default'>
	<i class='glyphicon glyphicon-menu-right'></i> 
</span>
<span class='text-muted'><b>  Goal: {{goal.goal}} </b></span>


<hr>
<toaster-container></toaster-container>


<div ng-class="goal.is_controlled==true?'controlled-div':'uncontrolled-div'" class='row'>
	<h4>  Goal : {{goal.goal}}  </h4>
</div>

Problem  : <b> {{goal.problem.problem_name}} </b> 



<hr>

<p>
<b> Start Date </b> {{goal.start_date}}
</p>

<p>
	<input type='checkbox' ng-model='goal.is_controlled'> Currently Succeeding
</p>

<p>
	<input type='checkbox' ng-model='goal.accomplished'> Is Accomplished ?
</p>

<hr>

<p>
	<b> Motivation notes for this goal: </b>
	<hr>

	<textarea class='form-control' ng-model='new_note' placeholder='Add note...'></textarea>
	<hr>
	<button class='btn btn-default' ng-click='update_motivation()'>
		Submit
	</button>

</p>


<p>
	<ul class='ul-clean'>

		<li ng-repeat='note in goal_notes'>
			{{note.note}}
		</li>

</p>