

<!--
<div class='panel panel-info'>

	<div class='panel-heading'></div>

	<div class='panel-body'>

	</div>
</div>

-->

<toaster-container></toaster-container>

<div class='panel panel-default'>

	<div class='panel-heading'>Patient Info</div>

	<div class='panel-body'>

<div class='row'>

	<div class='col-md-4'>
		<img src='{{patient_info.portrait_image}}' class='thumbnail'> 
	</div>

	<div class='col-md-8'>
		<strong> {{patient_info.user.first_name}} {{patient_info.user.last_name}} </strong>
		<hr>
		
		<textarea class='form-control' ng-model='patient_info.summary'></textarea>
		<br>
		<button class='btn btn-default' ng-click='update_patient_summary()'>
			Update
		</button>
	</div>

</div>


	</div><!-- End of Panel Body -->
</div>


<hr>

<div class='row'>

	<div class='col-md-12'>

<div class='panel panel-default'>

	<div class='panel-heading'> Problems </div>

	<div class='panel-body'>

		<div class='row'>
			<div class='col-md-12'>
			
					<input type='text' ng-model='problem_term' class='form-control' placeholder='Search Problem....'>
					
					

					<div ng-show='new_problem.set==true'>
						<hr>
						<label> {{new_problem.code}} </label>
						{{new_problem.term}} <br>
						<button class='btn btn-sm btn-danger' ng-click='add_problem()'>
							Add Problem
						</button>
						<button class='btn btn-sm btn-warning' ng-click='unset_new_problem()'>
							Cancel
						</button>
						<hr>
					</div>

			</div>
			<div class='col-md-12'  style='max-height:375px; overflow-y:auto;'>
				<div ng-repeat='problem_term in problem_terms' style='margin-top:12px;'>
					<button class='btn btn-sm btn-default' title='{{problem_term.code}}' ng-click='set_new_problem(problem_term)'>
						{{problem_term.term}}
					</button>
				</div>
			</div>
		</div>

		<hr>

<div class='row'>
	<div class='col-md-6 col-md-offset-4'>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href=".tab-active-problem" aria-controls="home" role="tab" data-toggle="tab">Active Problems</a></li>
    <li role="presentation"><a href=".tab-inactive-problem" aria-controls="profile" role="tab" data-toggle="tab">Inactive Problems</a></li>

  </ul>
</div>
</div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active tab-active-problem" >

    	<div style='max-height:375px; overflow-y:auto;'>
		<ul class='ul-clean'>
		<li  ng-repeat='problem in problems'>
			
			<div class='item-box' ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>

				<a class='btn  btn-default btn-sm'  ng-click='open_problem(problem)'>
					View
				</a>

				{{problem.problem_name}}
			</div>
		</li>
		</ul>
	</div>


    </div>

    <div role="tabpanel" class="tab-pane  tab-inactive-problem" >

    	<div style='max-height:375px; overflow-y:auto;'>
		<ul class='ul-clean'>
		<li  ng-repeat='problem in inactive_problems'>
			
			<div class='item-box' ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>

				<a class='btn  btn-default btn-sm' href='#/problem/{{problem.id}}'>
					View
				</a>

				{{problem.problem_name}}
			</div>
		</li>
		</ul>
	</div>


    </div>



  </div>




	</div>
</div>

	</div>


	<div class='col-md-12'>

<div class='panel panel-default'>

	<div class='panel-heading'> Goals </div>

	<div class='panel-body'>


		<div class='row'>
			<div class='col-md-10 col-md-offset-1'>


			<form   role='form' ng-submit='add_goal(new_goal)'>

				
				<div class='form-group'>
					<label> Goal Name </label>
					<input type='text' ng-model='new_goal.name' class='form-control'>
				</div>
				<div class='form-group'>
					<label> Problem (optional) </label>
					<input type='text' ng-model='new_goal.problem' class='form-control'>
				</div>

				<button type='submit' class='btn btn-default'> Add Goal </button>

			</form>



			</div>	
		</div>

		<hr>

<div class='row'>
	<div class='col-md-6 col-md-offset-4'>
  <ul class="nav nav-pills" role="tablist">
  	<li role="presentation" class="active"><a href=".tab-incomplete-goals" aria-controls="goals" role="tab" data-toggle="tab"> Current/Incomplete Goals </a></li>
    <li role="presentation" ><a href=".tab-completed-goals" aria-controls="incomplete_goals" role="tab" data-toggle="tab">Completed Goals</a></li>
    

  </ul>
</div>
</div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active tab-incomplete-goals">
    <div style='max-height:375px; overflow-y:auto;'>

		<ul class='ul-clean'>
		<li  ng-repeat='goal in goals'>
			<div class='item-box' ng-class='goal.is_controlled==true ? "green-box" : "red-box" '>
				<a class='btn  btn-default btn-sm' href='#/goal/{{goal.id}}'>
					View
				</a>

				{{goal.goal}}
			</div>
		</li>
		</ul>
	</div>

    </div>
    <div role="tabpanel" class="tab-pane tab-completed-goals" > 

    	<div style='max-height:375px; overflow-y:auto;'>

		<ul class='ul-clean'>
		<li  ng-repeat='goal in completed_goals'>
			<div class='item-box' ng-class='goal.is_controlled==true ? "green-box" : "red-box" '>
				<a class='btn  btn-default btn-sm' href='#/goal/{{goal.id}}'>
					View
				</a>

				{{goal.goal}}
			</div>
		</li>
		</ul>

	</div>

    </div>

  </div>


	</div>
</div>

	</div>

</div>



<div class='panel panel-default'>

	<div class='panel-heading'> Todos </div>

	<div class='panel-body'>

		<div class='row'>
			<div class='col-md-12'>


			<form class='form-inline' role='form' ng-submit='add_todo(new_todo)'>
				<div class='form-group'>
					<label> Todo Name </label>
					<input type='text' ng-model='new_todo.name'>
				</div>
				<div class='form-group'>
					<label> Problem (optional) </label>
					<input type='text' ng-model='new_todo.problem'>
				</div>

				<button type='submit' class='btn btn-default'> Add Todo </button>

			</form>



			</div>	
		</div>

<div style='max-height:375px; overflow-y:auto;'>
		<table class='table'>
			<thead>
				<th> Accomplished </th>
				<th> Item </th>
				<th> For Problem </th>
			</thead>

			<tbody>

				<tr ng-repeat='todo in pending_todos'>
					<td> <input type='checkbox' ng-model='todo.accomplished'  ng-change='update_todo_status(todo)' ng-show='todo.accomplished==false'> </td>
					<td> {{todo.todo}}</td>

					<td>{{todo.problem.problem_name }} </td>
				</tr>
			</tbody>

		</table>
</div>
<hr>
		<a class='btn btn-default btn-md' ng-click='toggle_accomplished_todos()'> 
			<span ng-if='show_accomplished_todos==false'>Show accomplished Todos </span>
			<span ng-if='show_accomplished_todos==true'>Hide accomplished Todos </span>
		</a>
<hr>
<div style='max-height:375px; overflow-y:auto;'>
		<table class='table' ng-if='show_accomplished_todos==true'>
			<thead>

				<th> Item </th>
				<th> For Problem </th>
			</thead>

			<tbody>

				<tr ng-repeat='todo in accomplished_todos'>

					<td> <span class='text-success'> {{todo.todo}} </span> </td>

					<td>{{todo.problem.problem_name }} </td>
				</tr>
			</tbody>

		</table>
</div>

	</div>
</div>



<div class='panel panel-default'>

	<div class='panel-heading'> Encounters </div>

	<div class='panel-body'>

		<ul class='ul-clean'>
		<li  ng-repeat='encounter in encounters'>

			<div class='row'>
				<div class='col-md-6'>
					<a href='#/encounter/{{encounter.id}}'>
			From <b> {{encounter.starttime | date:'medium'}} </b> to <b>{{encounter.stoptime | date:'medium'}}</b>  
					</a>
				</div>

				<div class='col-md-4'>
				{{encounter.duration}}
				</div>
		</li>
		</ul>

	</div>
</div>


<div class='panel panel-default'>

	<div class='panel-heading'> Pain History </div>

	<div class='panel-body'>

		<a href="/patient/{{patient_id}}/pain/add_pain_avatar" class='btn btn-default pull-right'>Update Pain</a>
		<div pain-avatar  pain-data='pain_avatars'></div>

	</div>
</div>







