<toaster-container></toaster-container>

<a href='#/'><b> Manage Patient </b></a>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-8">
			<h3 ng-click="changeText(todo)" ng-if="!todo.change_text">{{todo.todo}}</h3>
			<div class="quick-card-editor-text" ng-if="todo.change_text">
				<input type="text" ng-model="todo.todo">
				<button class="btn btn-default" ng-click="saveTodoText(todo)">Save</button>
				<a href ng-click="changeText(todo)"><i class="fa fa-close"></i></a>
			</div>

			<p>{{todo.problem.problem_name}}</p>
			<p>
				<span ng-if="todo.accomplished == true">Accomplished</span>
				<span ng-if="todo.accomplished == false">Not Accomplished</span>
			</p>

			<div class="todo-component" ng-if="todo.labels.length > 0">
				<p>Labels:</p>
				<div class="quick-card-editor-label">
					<a ng-repeat="label in todo.labels" href class="todo-label" ng-class="label.css_class" ng-click="changeLabel2(todo)"></a>
					<a href ng-click="changeLabel2(todo)"><i class="fa fa-plus"></i></a>
				</div>

				<div class="quick-card-editor">
					<div ng-if="todo.change_label2" class="quick-card-editor-lv2">
						<div class="quick-card-editor-lv2-header">
							<a href ng-click="changeLabel2(todo); $event.stopPropagation();"><i class="fa fa-close"></i></a>
						</div>
						<a ng-repeat="label in labels" href class="todo-label" ng-class="label.css_class" ng-click="changeTodoLabel(todo, label)">
							<i class="fa fa-check" ng-repeat="l in todo.labels" ng-if="l.name==label.name"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="todo-component" ng-if="todo.due_date">
				<p>Due Date:</p>
				<p><span class="cursor-pointer" ng-click="changeDueDate2(todo)">{{todo.due_date}}</span></p>
				<div class="quick-card-editor">
					<div ng-if="todo.change_due_date2" class="quick-card-editor-lv2">
						<div class="quick-card-editor-lv2-header">
							<a href ng-click="changeDueDate2(todo); $event.stopPropagation();"><i class="fa fa-close"></i></a>
						</div>
						<p>
							<input type="text" ng-model="todo.due_date" ng-change="saveTodoDueDate(todo)" bs-datepicker data-date-format="yyyy-MM-dd" modelDateFormat="yyyy-MM-dd" date-type="string">
						</p>
					</div>
				</div>
			</div>
			<div class="todo-component" ng-if="attachments.length > 0">
				<p>Attachments:</p>

				<div ng-repeat="attachment in attachments" class="attachment">
					<p>{{attachment.attachment}}</p>
					<p>Added {{attachment.datetime}}</p>
					<p>
						<a href="/todo/attachment/{{attachment.id}}/downloadAttachment">
							<i class="fa fa-download"></i>
							Download
						</a>
						<a href ng-click="deleteAttachment(attachment)">
							<i class="fa fa-remove"></i>
							Delete
						</a>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<form class='form-inline' role='form' ng-submit='add_comment(new_comment)'>
						<div class='form-group'>
							<label> Comment </label>
							<input type='text' ng-model='new_comment.comment'>
						</div>

						<button type='submit' class='btn btn-default'> Add Comment </button>

					</form>
				</div>
			</div>

			<section class="comments">
				<h2>Comments:</h2>
				<div class="row" ng-repeat="comment in comments">
					<div class="col-xs-12">
						<div class="comment">
							<h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
							<div class="comment-content" ng-show="!comment.edit">{{comment.comment}}</div>
							<div ng-if="comment.user.id == active_user.user.id || active_user.role == 'physician' || active_user.role == 'admin'">
								<div class="comment-box" ng-show="comment.edit">
									<input type='text' ng-model='comment.comment'>
								</div>
								
								<p ng-show="!comment.edit">{{comment.datetime}} 
									<span ng-if="comment.user.id == active_user.user.id">- <a href ng-click="toggleEditComment(comment)">Edit</a> </span>
									<span ng-if='active_user.role == "physician" || active_user.role == "admin"'>- <a href ng-click="delete(comment)">Delete</a></span>
								</p>
								<p ng-show="comment.edit"><a href ng-click="toggleSaveComment(comment)">Save</a></p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col-xs-4">
			<div class="quick-card-editor" id="main-menu">
				<div class="quick-card-editor-card" >
					<div class="quick-card-editor-buttons">
						<a href ng-click="changeLabel(todo)"><i class="fa fa-tags"></i>Edit label</a>

						<a href ng-click="changeDueDate(todo)"><i class="fa fa-clock-o"></i>Change Due Date</a>

						<a href ng-click="changeAttachment(todo)"><i class="fa fa-link"></i>Attachment</a>
					</div>

					<div ng-if="todo.change_label" class="quick-card-editor-lv2">
						<div class="quick-card-editor-lv2-header">
							<a href ng-click="changeLabel(todo); $event.stopPropagation();"><i class="fa fa-close"></i></a>
						</div>
						<a ng-repeat="label in labels" href class="todo-label" ng-class="label.css_class" ng-click="changeTodoLabel(todo, label)">
							<i class="fa fa-check" ng-repeat="l in todo.labels" ng-if="l.name==label.name"></i>
						</a>
					</div>

					<div ng-if="todo.change_due_date" class="quick-card-editor-lv2">
						<div class="quick-card-editor-lv2-header">
							<a href ng-click="changeDueDate(todo); $event.stopPropagation();"><i class="fa fa-close"></i></a>
						</div>
						<p>
							<input type="text" ng-model="todo.due_date" ng-change="saveTodoDueDate(todo)" bs-datepicker data-date-format="yyyy-MM-dd" modelDateFormat="yyyy-MM-dd" date-type="string">
						</p>
					</div>

					<div ng-if="todo.change_attachment" class="quick-card-editor-lv2">
						<div class="quick-card-editor-lv2-header">
							<a href ng-click="changeAttachment(todo); $event.stopPropagation();"><i class="fa fa-close"></i></a>
						</div>
						<p>
							<input type='file' file-model="attachment">
							<button class="btn btn-default" ng-click="addAttachment(todo, attachment)">Save</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- delete comment -->
<div class="modal fade" id="deleteCommentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Are you sure?</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				Deleting a comment is forever. There is no undo.
				<a href ng-click="confirmDelete(currentComment)" class="btn btn-default">Delete</a>
			</div>
		</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- delete attachment modal -->
<div class="modal fade" id="deleteAttachmentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Are you sure?</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				Deleting a attachment is forever. There is no undo.
				<a href ng-click="confirmDeleteAttachment(currentAttachment)" class="btn btn-default">Delete</a>
			</div>
		</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->