<div class="panel panel-default">
    <div class="panel-heading" role="tab" ng-click="openColon()">
        <i class="fa " ng-class="show_colon_collapse ? 'fa-caret-down':'fa-caret-right'" aria-hidden="true"></i>
        <span>Colon cancer screening: {{header}}</span>
    </div>
    <div class="panel-body" ng-show="show_colon_collapse">
        <div class="row">
            <div class="col-md-6">
                <div class="io-box" id="recent-screening">
                    <div class="row" ng-if="colon_cancer.colon_studies.length > 0">
                        <div class="col-md-12">
                            <div>
                                <span><b>Most recent study</b></span>
                                <div class="pull-right">
                                    <a ng-href="#!colon_cancer/{{ colon_cancer.id }}/add_new_study"
                                       class="btn btn-default">
                                        Add new study
                                    </a>
                                </div>
                            </div>
                            <div class="study-wrapper">
                                <p>Study: <span ng-bind="colon_cancer.colon_studies[0].finding"></span>,
                                    <span ng-bind="colon_cancer.colon_studies[0].result"></span></p>
                                <p>Date: <span
                                        ng-bind="colon_cancer.colon_studies[0].study_date|date:'M/d/yyyy'"></span>
                                </p>
                                <p ng-if="colon_cancer.colon_studies[0].note">
                                    Note: <span ng-bind="colon_cancer.colon_studies[0].note"></span>
                                </p>
                                <p>
                                    <span>Last updated by</span> <b>{{colon_cancer.colon_studies[0].last_updated_user.username}}</b>
                                    on <span class="created-datetime">{{colon_cancer.colon_studies[0].last_updated_date|date:'M/d/yyyy'}}</span>
                                    - <a
                                        ng-href="#!colon_cancer/{{ colon_cancer.id }}/edit_study/{{ colon_cancer.colon_studies[0].id}}/"
                                        class="edit-link">Edit</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="colon_cancer.colon_studies.length == 0">
                        <div class="col-md-12">
                            no study has been entered. normal risk screening starts at age 50.
                            high risk screening starts at age 40, or 10 years before first
                            degree relative with colorectal cancer or adenomatous polyps.
                        </div>
                    </div>

                    <button class='btn btn-default btn-block'
                            ng-click="see_past_studies=!see_past_studies">View past studies
                    </button>

                    <div class="row" ng-show="see_past_studies">
                        <div class='col-md-12'>
                            <p><b>Past studies:</b></p>
                        </div>
                        <div class='col-md-12' ng-repeat="study in colon_cancer.colon_studies"
                             ng-if="!$first">
                            <p>Study:{{ study.finding }}, {{ study.result }}.</p>
                            <p ng-if="study.study_date">Date: {{ study.study_date|date:'M/d/yyyy'
                                }}.</p>
                            <p ng-if="study.author">Author: {{ study.author.first_name }} {{
                                study.author.last_name }}.</p>
                            <p ng-if="study.created_on">Date added: {{ study.created_on|date:'M/d/yyyy'
                                }}.</p>
                            <p ng-if="study.note">Note: {{ study.note }}</p>
                            <p>
                                <a href="#!colon_cancer/{{ colon_cancer.id }}/edit_study/{{ study.id }}/"
                                   class="btn btn-link"
                                   ng-if="active_user.role == 'physician' || active_user.role == 'admin' || active_user.id == study.author.id">Edit</a>
                                <a href class="btn btn-link" ng-click="deleteStudy(study)"
                                   ng-if="active_user.role == 'physician' || active_user.role == 'admin'">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="io-box" id="risk-factor">
                    <p><b>Risk:</b> {{ colon_cancer.risk }}</p>
                    <p ng-repeat="factor in factors" ng-if="factor.checked">{{ factor.value }}</p>
                    <p ng-if="colon_cancer.last_risk_updated_user">updated by
                        {{ colon_cancer.last_risk_updated_user.username }} on
                        {{ colon_cancer.last_risk_updated_date|date:'M/d/yyyy' }}</p>
                    <p><a href class="btn btn-default" ng-click="show_factors=!show_factors;">Update</a>
                    </p>
                    <form ng-show="show_factors">
                        <div ng-repeat="factor in factors">
                            <label><input type="checkbox" value="{{ factor.value }}"
                                          ng-click="changeFactor(factor)"
                                          ng-model="factor.checked">{{ factor.value }}</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="io-box" id="action-plan">
                    <p><b>Plan</b>(Pending order)</p>
                    <p ng-if='orders.length == 0'> No pending order</p>
                    <div ng-if="orders.length > 0">
                        <todo todo-list="orders" accomplished="false"
                              show-problem="false"
                              on-status-changed-success="todoStatusChanged"
                              labels="labels" members="members"
                              patient-id="patient_id" user-id="patient_id"
                              active-user="active_user"></todo>
                        <wave-spinner ng-if="todoIsLoading"></wave-spinner>
                    </div>

                    <div class='input-group'>
                        <input type='text' ng-model='newTodo.name' title="Todo name"
                               class="form-control" id='todoNameInput'>
                        <span class="input-group-btn">
                            <button type='submit' class='btn btn-default'
                                    ng-click="addNewOrder(newTodo)"> Add new order</button>
                        </span>
                    </div>
                    <br>
                    <p>
                        <a href class='btn btn-default btn-block' ng-click="repeatTodo(todo_repeat)">Repeat
                            {{ todo_repeat.name }} in {{ todo_repeat.year }} year<span
                                    ng-if="todo_repeat.year > 1">s</span></a>
                    </p>
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-danger" ng-click="refuse()">Refuse</a>
                        <a class="btn btn-primary" ng-click="notAppropriate()">Not appropriate</a>
                    </div>
                </div>

                <div class="io-box" id="notes">
                    <form ng-submit="addNote(note_form)">
                        <div class="input-group">
                            <input id="note" type='text' class='form-control' title="" ng-model='note_form.note'>
                            <span class="input-group-btn">
                                <button type='submit' value='Submit' class='btn btn-primary'>Add</button>
                            </span>
                        </div>
                    </form>
                    <button class='btn btn-default btn-block' ng-click="show_note=!show_note"
                            ng-bind="show_note ?'Show less notes':'Show more notes' ">
                    </button>

                    <div class="row" ng-if="colon_cancer.colon_notes.length">
                        <div class='col-md-12'
                             ng-repeat="note in colon_cancer.colon_notes|orderBy:'datetime':true">
                            <div ng-show="$index == 0 || show_note">
                                <div class="authoring">
                                    <span class="username">
                                        {{note.author.first_name}} {{note.author.last_name}} (<b>{{note.author.username}}</b>)
                                    </span>
                                    <span class="date" ng-bind="note.datetime|date:'M/d/yyyy' "></span> at
                                    <span class="time" ng-bind="note.datetime|date:'shortTime' "></span>
                                </div>
                                <div class="comment-box">
                                    <p class="note" ng-if="!note.edit" ng-bind="note.note"></p>
                                    <input title="" class="form-control" type='text' ng-if="note.edit"
                                           ng-model='note.note'>
                                </div>
                                <div ng-if="active_user.role == 'physician' || active_user.role == 'admin' || (active_user.role == 'patient' && active_user.id == note.author.profile.id)">
                                    <div ng-show="!note.edit">
                                        <a ng-click="toggleEditNote(note)">Edit</a> - <a ng-click="deleteNote(note)">Delete</a>
                                    </div>
                                    <div ng-show="note.edit">
                                        <a ng-click="toggleSaveNote(note)">Save</a> - <a
                                            ng-click="note.edit = !note.edit">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
