

<!--
<div class='panel panel-info'>

	<div class='panel-heading'></div>

	<div class='panel-body'>

	</div>
</div>

-->
<div class='panel-group'>

<div class='panel panel-info'>

	<div class='panel-heading'>Patient Info</div>

	<div class='panel-body'>

<div class='row'>

	<div class='col-md-4'>
		<img src='{{patient_info.portrait_image}}' class='thumbnail'> 
	</div>

	<div class='col-md-8'>
		<strong> {{patient_info.first_name}} {{patient_info.last_name}} </strong>
		<hr>
		{{patient_info.summary}}

	</div>

</div>


	</div><!-- End of Panel Body -->
</div>




<div class='panel panel-info'>

	<div class='panel-heading'> Problems </div>

	<div class='panel-body'>

		<div class='row'>
			<div class='col-md-10 col-md-offset-1'>
			
			<form class='form-inline' role='form' ng-submit='add_problem()'>
				<div class='form-group'>
					<label> Problem Name </label>
					<input type='text' ng-model='new_problem.name'>
				</div>
				<div class='form-group'>
					<label> Concept ID </label>
					<input type='text' ng-model='new_problem.concept_id'>
				</div>

				<button type='submit' class='btn btn-default'> Add Problem </button>

			</form>

			</div>	
		</div>

		<ul class='ul-clean'>
		<li  ng-repeat='problem in problems'>
			
			<div class='item-box' ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>

				<button class='btn  btn-default btn-sm' ng-click='show_problem(problem.id)'>
					Show Problem
				</button>

				{{problem.problem_name}}
			</div>
		</li>
		</ul>

	</div>
</div>



<div class='panel panel-info'>

	<div class='panel-heading'> Goals </div>

	<div class='panel-body'>


		<div class='row'>
			<div class='col-md-10 col-md-offset-1'>


			<form class='form-inline' role='form' ng-submit='add_goal()'>
				<div class='form-group'>
					<label> Goal Name </label>
					<input type='text' ng-model='new_goal.name'>
				</div>
				<div class='form-group'>
					<label> Problem (optional) </label>
					<input type='text' ng-model='new_goal.problem'>
				</div>

				<button type='submit' class='btn btn-default'> Add Goal </button>

			</form>



			</div>	
		</div>

		<ul class='ul-clean'>
		<li  ng-repeat='goal in goals'>
			<div class='item-box' ng-class='goal.is_controlled==true ? "green-box" : "red-box" '>
				<button class='btn  btn-default btn-sm' ng-click='show_goal()'>
					Show Goal
				</button>

				{{goal.goal}}
			</div>
		</li>
		</ul>

	</div>
</div>

<div class='panel panel-info'>

	<div class='panel-heading'> Todos </div>

	<div class='panel-body'>

		<div class='row'>
			<div class='col-md-12'>


			<form class='form-inline' role='form' ng-submit='add_todo()'>
				<div class='form-group'>
					<label> Todo Name </label>
					<input type='text' ng-model='new_todo.name'>
				</div>
				<div class='form-group'>
					<label> Problem (optional) </label>
					<input type='text' ng-model='new_todo.problem'>
				</div>

				<button type='submit' class='btn btn-default'> Add Todo </button>

			</form>



			</div>	
		</div>


		<table class='table'>
			<thead>
				<th> Item </th>
				<th> For Problem </th>
			</thead>

			<tbody>

				<tr ng-repeat='todo in pending_todos'>
					<td> {{todo.todo}}</td>

					<td>{{todo.problem }} </td>
				</tr>
			</tbody>

		</table>

		<a class='btn btn-link' ng-click='toggle_accomplished_todos()'> 
			<span ng-if='show_accomplished_todos==false'>Show accomplished Todos </span>
			<span ng-if='show_accomplished_todos==true'>Hide accomplished Todos </span>
		</a>

		<table class='table' ng-if='show_accomplished_todos==true'>
			<thead>
				<th> Item </th>
				<th> For Problem </th>
			</thead>

			<tbody>

				<tr ng-repeat='todo in accomplished_todos'>
					<td> <span class='text-success'> {{todo.todo}} </span> </td>

					<td>{{todo.problem }} </td>
				</tr>
			</tbody>

		</table>

	</div>
</div>



<div class='panel panel-info'>

	<div class='panel-heading'> Encounters </div>

	<div class='panel-body'>

		<ul class='ul-clean'>
		<li  ng-repeat='encounter in encounters'>

			<div class='row'>
				<div class='col-md-6'>
			From <b> {{encounter.starttime | date:'medium'}} </b> to <b>{{encounter.stoptime | date:'medium'}}</b>  
				</div>

				<div class='col-md-4'>
				{{encounter.duration}}
				</div>
		</li>
		</ul>

	</div>
</div>



</div>


