<toaster-container></toaster-container>

<a href='#/'><b> Manage Patient </b></a>

<div ng-if="!checkSharedProblem(todo.problem, sharing_patients) && !loading">You can not access this page</div>
<div ng-if="checkSharedProblem(todo.problem, sharing_patients)">

    <div class="container-fluid">
        <div class="row">
            <!-- begin todo info -->
            <div class="col-xs-8">
                <!-- begin todo name -->
                <h3 ng-click="changeText(todo)" ng-if="!todo.change_text">{{todo.todo}}</h3>
                <div class="quick-card-editor-text" ng-if="todo.change_text">
                    <input type="text" ng-model="todo.todo">
                    <button class="btn btn-default" ng-click="saveTodoText(todo)">Save</button>
                    <a href ng-click="changeText(todo)"><i class="fa fa-close"></i></a>
                </div>
                <!-- end todo name -->


                <p><a href="#/problem/{{todo.problem.id}}">{{todo.problem.problem_name}}</a></p>
                <p>
                    <input type='checkbox' ng-model='todo.accomplished' ng-change='update_todo_status(todo)'>
                    <span ng-if="todo.accomplished == true">Accomplished</span>
                    <span ng-if="todo.accomplished == false">Not Accomplished</span>
                </p>


                <!-- begin labels -->
                <div class="todo-component" ng-if="todo.labels.length > 0">
                    <p>Labels:</p>
                    <div class="quick-card-editor-label">
                        <a ng-repeat="label in todo.labels" href class="todo-label todo-label-name"
                           ng-class="label.css_class" ng-click="changeLabel2(todo)"
                           ng-if="label.author.id==user_id || label.is_all">{{label.name}}</a>
                        <a href ng-click="changeLabel2(todo)"><i class="fa fa-plus"></i></a>
                    </div>

                    <!-- begin change label -->
                    <div class="quick-card-editor">
                        <div ng-if="todo.change_label2" class="quick-card-editor-lv2">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="changeLabel2(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <div ng-repeat="label in labels">
                                <a href class="todo-label" ng-class="label.css_class"
                                   ng-click="changeTodoLabel(todo, label)">
                                    {{label.name}}
                                    <i class="fa fa-check" ng-repeat="l in todo.labels" ng-if="l.id==label.id"></i>
                                </a>

                                <!-- begin edit label -->
                                <a href class="todo-label-edit" ng-click="editLabel(label)"
                                   ng-if="label.name != 'screening' && (active_user.role == 'physician' || active_user.role == 'admin' || (label.author.profile.role != 'physician' && label.author.profile.role != 'admin' && active_user.user.id == label.author.id))"><i
                                        class="fa fa-pencil"></i></a>

                                <div ng-if="label.edit_label"
                                     class="quick-card-editor-lv2 quick-card-editor-lv3 top-left-0">
                                    <div class="quick-card-editor-lv2-header">
                                        <a href ng-click="editLabel(label); $event.stopPropagation();"><i
                                                class="fa fa-close"></i></a>
                                    </div>
                                    <input type="text" ng-model="label.name">
                                    <a ng-repeat="component in labels_component" href class="todo-label"
                                       ng-class="component.css_class"
                                       ng-click="selectEditLabelComponent(label, component)">
                                        <i class="fa fa-check" ng-if="component.css_class==label.css_class"></i>
                                    </a>
                                    <a href ng-click="saveEditLabel(label)">Save</a>
                                    <a href class="btn btn-danger" ng-click="deleteEditLabel(label)">Delete</a>
                                </div>
                                <!-- end edit label -->
                            </div>
                            <a href ng-click="createLabel2(todo)"><i class="fa fa-tags"></i>Create new label</a>
                        </div>

                        <div ng-if="todo.create_label2" class="quick-card-editor-lv2 quick-card-editor-lv3">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="createLabel2(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <input type="text" ng-model="label_component.name">
                            <a ng-repeat="component in labels_component" href class="todo-label"
                               ng-class="component.css_class" ng-click="selectLabelComponent(component)">
                                <i class="fa fa-check" ng-if="component.css_class==label_component.css_class"></i>
                            </a>
                            <a href ng-click="saveCreateLabel(todo)">Save just for me</a>
                            <a href ng-click="saveCreateLabelAll(todo)" ng-if="active_user.role != 'patient'">Save for
                                all users</a>
                        </div>
                    </div>
                    <!-- end change label -->
                </div>
                <!-- end labels -->
                <!-- begin due date -->
                <div class="todo-component" ng-if="todo.due_date">
                    <p>Due Date:</p>
                    <p><span class="cursor-pointer" ng-click="changeDueDate2(todo)" ng-class="isDueDate(todo.due_date)">{{todo.due_date}}</span>
                    </p>
                    <div class="quick-card-editor">
                        <div ng-if="todo.change_due_date2" class="quick-card-editor-lv2">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="changeDueDate2(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <p>
                                <input type="text" ng-model="todo.due_date" ng-change="saveTodoDueDate(todo)"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 30000, blur: 1000 } }">
                            </p>
                            <div ng-model="todo.due_date" ng-change="saveTodoDueDate(todo)" pickadate
                                 format="MM/dd/yyyy"></div>
                        </div>
                    </div>
                </div>
                <!-- end due date -->
                <!-- begin members -->
                <div class="todo-component" ng-if="todo.members.length > 0">
                    <p>Members:</p>
                    <div class="quick-card-editor-label">
                        <span ng-repeat="member in todo.members" class="todo-member">{{member.user.username}}</span>
                        <a href ng-click="changeMember2(todo)"><i class="fa fa-plus"></i></a>
                    </div>

                    <div ng-if="todo.change_member2" class="quick-card-editor-lv2 quick-card-editor">
                        <div class="quick-card-editor-lv2-header">
                            <a href ng-click="changeMember2(todo); $event.stopPropagation();"><i
                                    class="fa fa-close"></i></a>
                        </div>
                        <a ng-repeat="member in members" href ng-click="changeTodoMember(todo, member)">
                            {{member.user.first_name}} {{member.user.last_name}}
                            <i class="fa fa-check" ng-repeat="m in todo.members" ng-if="m.id==member.id"></i>
                        </a>
                    </div>
                </div>
                <!-- end members -->
                <!-- begin attachments -->
                <div class="todo-component" ng-if="attachments.length > 0">
                    <p>Attachments:</p>
                    <div ng-repeat="attachment in attachments" class="attachment">
                        <p>{{attachment.attachment}}</p>
                        <p>Added {{attachment.datetime}}</p>
                        <p>
                            <a href="/todo/attachment/{{attachment.id}}/downloadAttachment">
                                <i class="fa fa-download"></i>
                                Download
                            </a>
                            <a href ng-click="deleteAttachment(attachment)">
                                <i class="fa fa-remove"></i>
                                Delete
                            </a>
                        </p>
                    </div>
                </div>
                <!-- end attachments -->
                <!-- begin attachments -->
                <div class="todo-component" ng-if="documents.length > 0">
                    <p>Document:</p>
                    <div ng-repeat="document in documents" class="document">
                        <p ng-bind="document.filename"></p>
                        <p>Added: <span ng-bind="document.created_on | date : 'short'"></span></p>
                        <a ng-click="deleteDocumentTag(document,todo)" class="btn-remove">
                            <i class="fa fa-remove"></i>
                            Delete
                        </a>
                    </div>
                </div>
                <!-- end attachments -->
                <!-- begin encounters -->
                <div class='row todo-component' ng-if="related_encounters.length > 0">
                    <div class='col-md-12'>
                        <div class='panel panel-default' ng-init="encounter_collapse=false;">
                            <div class='panel-heading' ng-click="encounter_collapse=!encounter_collapse;">
                                <i class="fa fa-caret-down" aria-hidden="true" ng-if="encounter_collapse"></i>
                                <i class="fa fa-caret-right" aria-hidden="true" ng-if="!encounter_collapse"></i>
                                Related Encounters
                            </div>
                            <div class='panel-body' style='max-height:275px; overflow:auto;padding:15px;'
                                 ng-show="encounter_collapse">
                                <div ng-repeat='encounter in related_encounters' class='row'
                                     style='margin-bottom:4px; border-top:1px solid #ccc;'>
                                    <div class='col-md-12'>
                                        <a href='#/encounter/{{encounter.id}}'>
                                            Ref ID: {{encounter.id}} on {{encounter.starttime|date}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end encounters -->
                <!-- begin comments -->
                <div class="row">
                    <div class="col-xs-12">
                        <form class='form-inline' role='form' ng-submit='add_comment(new_comment)'>
                            <div class='form-group'>
                                <label> Comment </label>
                                <input type='text' ng-model='new_comment.comment'>
                            </div>

                            <button type='submit' class='btn btn-default'> Add Comment</button>

                        </form>
                    </div>
                </div>

                <section class="comments">
                    <h2>Comments:</h2>
                    <div class="row" ng-repeat="comment in comments">
                        <div class="col-xs-12">
                            <div class="comment">
                                <h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
                                <div class="comment-content" ng-show="!comment.edit">{{comment.comment}}</div>
                                <div ng-if="comment.user.id == active_user.user.id || active_user.role == 'physician' || active_user.role == 'admin'">
                                    <div class="comment-box" ng-show="comment.edit">
                                        <input type='text' ng-model='comment.comment'>
                                    </div>

                                    <p ng-show="!comment.edit">{{comment.datetime}}
                                        <span ng-if="comment.user.id == active_user.user.id">- <a href
                                                                                                  ng-click="toggleEditComment(comment)">Edit</a> </span>
                                        <span ng-if='active_user.role == "physician" || active_user.role == "admin"'>- <a
                                                href ng-click="delete(comment)">Delete</a></span>
                                    </p>
                                    <p ng-show="comment.edit"><a href ng-click="toggleSaveComment(comment)">Save</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end comments -->
                <!-- begin activities -->
                <section>
                    <h2>Activities:</h2>
                    <div ng-repeat='activity in activities' class='row activity-item'>
                        <div class='col-md-3'>
                            <b>{{activity.author.user.first_name}} {{activity.author.user.last_name}} -
                                {{activity.author.role}} </b>
                        </div>
                        <div class='col-md-7'>
                            <span ng-bind-html='activity.activity'></span>
                            <p ng-if="activity.attachment.is_image"><img ng-src="{{activity.attachment.attachment}}"
                                                                         class="thumbnail"></p>
                        </div>
                        <div class='col-md-2'>
                            {{activity.created_on | date }}
                        </div>
                    </div>
                </section>
                <!-- end activities -->

            </div>
            <!-- end todo info -->
            <!-- begin todo edit buttons -->
            <div class="col-xs-4">
                <div class="quick-card-editor" id="main-menu">
                    <div class="quick-card-editor-card">
                        <!-- begin buttons -->
                        <div class="quick-card-editor-buttons">
                            <a href ng-click="changeLabel(todo)"><i class="fa fa-tags"></i>Edit label</a>

                            <a href ng-click="changeDueDate(todo)"><i class="fa fa-clock-o"></i>Change Due Date</a>

                            <a href ng-click="changeAttachment(todo)"><i class="fa fa-link"></i>Attachment</a>

                            <a href ng-click="changeMember(todo)"><i class="fa fa-user"></i>Members</a>
                        </div>
                        <!-- end buttons -->

                        <!-- begin change label -->
                        <div ng-if="todo.change_label" class="quick-card-editor-lv2">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="changeLabel(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <div ng-repeat="label in labels">
                                <a href class="todo-label" ng-class="label.css_class"
                                   ng-click="changeTodoLabel(todo, label)">
                                    {{label.name}}
                                    <i class="fa fa-check" ng-repeat="l in todo.labels" ng-if="l.id==label.id"></i>
                                </a>

                                <!-- begin edit label -->
                                <a href class="todo-label-edit" ng-click="editLabel(label)"
                                   ng-if="label.name != 'screening' && (active_user.role == 'physician' || active_user.role == 'admin' || (label.author.profile.role != 'physician' && label.author.profile.role != 'admin' && active_user.user.id == label.author.id))"><i
                                        class="fa fa-pencil"></i></a>

                                <div ng-if="label.edit_label"
                                     class="quick-card-editor-lv2 quick-card-editor-lv3 top-left-0">
                                    <div class="quick-card-editor-lv2-header">
                                        <a href ng-click="editLabel(label); $event.stopPropagation();"><i
                                                class="fa fa-close"></i></a>
                                    </div>
                                    <input type="text" ng-model="label.name">
                                    <a ng-repeat="component in labels_component" href class="todo-label"
                                       ng-class="component.css_class"
                                       ng-click="selectEditLabelComponent(label, component)">
                                        <i class="fa fa-check" ng-if="component.css_class==label.css_class"></i>
                                    </a>
                                    <a href ng-click="saveEditLabel(label)">Save</a>
                                    <a href class="btn btn-danger" ng-click="deleteEditLabel(label)">Delete</a>
                                </div>
                                <!-- end edit label -->
                            </div>
                            <a href ng-click="createLabel(todo)"><i class="fa fa-tags"></i>Create new label</a>
                        </div>

                        <div ng-if="todo.create_label" class="quick-card-editor-lv2 quick-card-editor-lv3">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="createLabel(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <input type="text" ng-model="label_component.name">
                            <a ng-repeat="component in labels_component" href class="todo-label"
                               ng-class="component.css_class" ng-click="selectLabelComponent(component)">
                                <i class="fa fa-check" ng-if="component.css_class==label_component.css_class"></i>
                            </a>
                            <a href ng-click="saveCreateLabel(todo)">Save just for me</a>
                            <a href ng-click="saveCreateLabelAll(todo)" ng-if="active_user.role != 'patient'">Save for
                                all users</a>
                        </div>
                        <!-- end change label -->
                        <!-- begin change due date -->
                        <div ng-if="todo.change_due_date" class="quick-card-editor-lv2">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="changeDueDate(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <p>
                                <input type="text" ng-model="todo.due_date" ng-change="saveTodoDueDate(todo)"
                                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 30000, blur: 1000 } }">
                            </p>
                            <div ng-model="todo.due_date" ng-change="saveTodoDueDate(todo)" pickadate
                                 format="MM/dd/yyyy"></div>
                        </div>
                        <!-- end change due date -->
                        <!-- begin change attachment -->
                        <div ng-if="todo.change_attachment" class="quick-card-editor-lv2">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="changeAttachment(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <p>
                                <input type='file' file-model="attachment">
                                <button class="btn btn-default" ng-click="addAttachment(todo, attachment)">Save</button>
                            </p>
                        </div>
                        <!-- end change attachment -->
                        <!-- begin change member -->
                        <div ng-if="todo.change_member" class="quick-card-editor-lv2">
                            <div class="quick-card-editor-lv2-header">
                                <a href ng-click="changeMember(todo); $event.stopPropagation();"><i
                                        class="fa fa-close"></i></a>
                            </div>
                            <a ng-repeat="member in members" href ng-click="changeTodoMember(todo, member)">
                                {{member.user.first_name}} {{member.user.last_name}}
                                <i class="fa fa-check" ng-repeat="m in todo.members" ng-if="m.id==member.id"></i>
                            </a>
                        </div>
                        <!-- end change member -->
                    </div>
                </div>
            </div>
            <!-- end todo edit buttons -->
        </div>
    </div>

    <!-- begin delete comment modal -->
    <div class="modal fade" id="deleteCommentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            Deleting a comment is forever. There is no undo.
                            <a href ng-click="confirmDelete(currentComment)" class="btn btn-default">Delete</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end delete comment modal -->

    <!-- begin delete attachment modal -->
    <div class="modal fade" id="deleteAttachmentModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            Deleting a attachment is forever. There is no undo.
                            <a href ng-click="confirmDeleteAttachment(currentAttachment)"
                               class="btn btn-default">Delete</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end delete attachment modal -->

    <!-- begin delete label modal -->
    <div class="modal fade" id="deleteLabelModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            Deleting a label is forever. There is no undo.
                            <a href ng-click="confirmDeleteLabel(currentLabel)" class="btn btn-default">Delete</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end delete label modal -->

    <!-- Ask by default-->
    <script id="delete-document-tag" type="text/ng-template">
        <div class="dialog-contents text-center">
            <p>Remove this document from the todo only</p>
            <div>
                <button class="btn btn-danger" ng-click="confirm()">Confirm</button>
                <button class="btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
            </div>
        </div>
    </script>

    <!-- Ask delete in system-->
    <script id="delete-document" type="text/ng-template">
        <div class="dialog-contents text-center">
            <p>Delete this document from the todo and the system</p>
            <div>
                <button class="btn btn-danger" ng-click="confirm()">Confirm</button>
                <button class="btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
            </div>
        </div>
    </script>
</div>
