<!--<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>-->
<span>Update Profile Picture</span>
<div class="row align-center">
    <div class="col-xs-6 col-sm-6 col-md-6 col-log-6 btn-upload" ng-click="open_file_chooser()">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="">Upload photo</span>
        <input type="file" class="hide" id="upload" name="upload" ng-model="file">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-log-6 btn-take-photo">
        <span class="glyphicon glyphicon-camera"></span>
        <span class="">Take Photo</span>
    </div>
</div>
