project/local_settings.py

media/*
staticdev_bk/*
templates_bk/*

*.pyc
*.idea
*.db
media
Icon
static/CACHE
static/node_modules/
staticdev/CACHE
venv
.coverage
/static/css/.sass-cache/
.venv
.vscode
*.pem
Dockerfile
.dockerignore
.venv/*
static/node_modules/*
client-cert.pem
client-key.pem
server-ca.pem
project/settings.py

*.key
*.crt
*.pem