Django>=5
django-appconf>=1.0.2
django-compressor>=1.5
django-cronjobs>=0.2.3
django-crontab>=0.7.1
django-js-asset>=1.2.1
django-mptt>=0.9.1
django-mptt-admin>=0.6.0
django-ranged-response>=0.2.0
django-reversion>=3.0.3
django-session-security>=2.6.5
djangorestframework>=3.6.4
mysqlclient
Pillow>=2.8.1
python-dateutil>=2.8.0
raven>=6.10.0
gunicorn
gevent
django-debug-toolbar