Automat==0.7.0
Django==1.11.18
Pillow==2.8.1
PyHamcrest==1.9.0
Twisted==18.9.0
argparse==1.4.0
asgiref==2.3.2
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.1.1
channels==2.1.6
constantly==15.1.0
daphne==2.2.4
django-appconf==1.0.2
django-compressor==1.5
django-cronjobs==0.2.3
django-crontab==0.7.1
django-genericadmin==0.7.0
django-js-asset==1.1.0
django-mptt==0.9.1
django-mptt-admin==0.6.0
django-ranged-response==0.2.0
django-reversion==3.0.3
django-session-security==2.6.5
djangorestframework==3.9.1
futures==3.0.1
httplib2==0.12.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
pip==19.0.1
python-dateutil==2.7.5
python-openid==2.2.5
pytz==2018.9
raven==6.10.0
setuptools==40.6.2
six==1.12.0
txaio==18.8.1
zope.interface==4.6.0