<!--For the Blessed Virgin Mary: Soli Deo gloria-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title> {% block title %} Andromeda Health {% endblock %}</title>
    <!-- Bootstrap core CSS -->

    {% load compress %}

    {% compress css %}
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"
          charset="utf-8">
    <link rel="stylesheet" href="/static/bower_components/ngDialog/css/ngDialog.min.css" type="text/css"
          charset="utf-8">
    <link rel="stylesheet" href="/static/bower_components/ngDialog/css/ngDialog-theme-default.css" type="text/css"
          charset="utf-8">
    <link href="/static/bower_components/jquery-ui/themes/overcast/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/static/bower_components/angularjs-toaster/toaster.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/bower_components/angular-pickadate/dist/angular-pickadate.css">
    <link rel="stylesheet" href="/static/bower_components/angular-color-picker/dist/angularjs-color-picker.min.css"/>
    <link rel="stylesheet" href="/static/bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet"
          href="/static/bower_components/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bower_components/ng-json-explorer/dist/angular-json-explorer.css"/>
    <link rel="stylesheet" href="/static/bower_components/videogular-themes-default/videogular.css"/>
    <link rel="stylesheet" href="/static/bower_components/view-file-ng/dist/view-file-ng.min.css">
    <link rel="stylesheet" href='/static/bower_components/angular-hotkeys/build/hotkeys.css' charset="utf-8">
    <link rel="stylesheet" href='/static/bower_components/angular-xeditable/dist/css/xeditable.css' charset="utf-8">
    <link rel="stylesheet" href="/static/bower_components/angular-spinkit/build/angular-spinkit.min.css">
    <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css">


    <link rel="stylesheet" href="/static/css/main.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/static/css/patient-profile.css" type="text/css" charset="utf-8">
    {% endcompress %}

    {% compress js %}
    <script src="/static/bower_components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/jquery-form/jquery.form.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/underscore/underscore-min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/moment/moment.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="/static/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/bower_components/angular-cookies/angular-cookies.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/angular-animate/angular-animate.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/angular-route/angular-route.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/ngDialog/js/ngDialog.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/angularjs-toaster/toaster.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="/static/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/bower_components/angular-ui-sortable/sortable.js"></script>
    <script type="text/javascript"
            src="/static/bower_components/angular-click-outside/clickoutside.directive.js"></script>
    <script src="/static/bower_components/angular-pickadate/dist/angular-pickadate.min.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/bower_components/angular-prompt/dist/angular-prompt.js"></script>
    <script src="/static/bower_components/angular-audio/app/angular.audio.js"
            type="text/javascript"></script>
    <script src="/static/bower_components/ng-file-upload/ng-file-upload-all.min.js"
            type="text/javascript"></script>
    <script src="/static/bower_components/ng-file-upload/ng-file-upload.min.js" type="text/javascript"></script>
    <script src="/static/bower_components/angularAudioRecorder/dist/angular-audio-recorder.js"
            type="text/javascript"></script>
    <script src="/static/bower_components/webcam/dist/webcam.min.js"
            type="text/javascript"></script>
    <script src="/static/bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="/static/bower_components/angular-color-picker/dist/angularjs-color-picker.min.js"></script>
    <script src="/static/node_modules/chart.js/dist/Chart.js"></script>
    <script src="/static/node_modules/angular-chart.js/dist/angular-chart.js"></script>
    <!--<script src="/static/bower_components/highlightjs/highlight.pack.js"></script>-->
    <script src="/static/bower_components/angular-highlightjs/build/angular-highlightjs.js"></script>
    <script src="/static/bower_components/x2js/xml2json.min.js"></script>
    <script src="/static/bower_components/angular-x2js/dist/x2js.min.js"></script>
    <script src="/static/bower_components/ng-json-explorer/dist/angular-json-explorer.js"></script>
    <script src="/static/bower_components/vkbeautify-wrapper/dist/vkbeautify.0.99.00.beta.js"></script>
    <script src="/static/bower_components/angular-recursion/angular-recursion.js"></script>
    <script src="/static/bower_components/videogular/videogular.js"></script>
    <script src="/static/bower_components/videogular-controls/vg-controls.js"></script>
    <script src='/static/bower_components/view-file-ng/dist/view-file-ng.min.js'></script>
    <script src='/static/bower_components/angular-elastic/elastic.js'></script>
    <script src='/static/bower_components/angular-hotkeys/build/hotkeys.js'></script>
    <script src='/static/bower_components/angular-xeditable/dist/js/xeditable.min.js'></script>
    <script src="/static/bower_components/angular-spinkit/build/angular-spinkit.min.js"></script>
    <script src="/static/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/static/bower_components/checklist-model/checklist-model.js"></script>
    <script src="//vjs.zencdn.net/4.12/video.js"></script>

    <!-- Install sentry tracker -->
    <script src="https://cdn.ravenjs.com/3.9.1/angular/raven.min.js" crossorigin="anonymous"></script>
    <script>Raven.config('https://d71f6e59381c4a4caff011cbe970b229@sentry.io/127883').install();</script>

    <!--Common service shared across whole system-->
    <script src="/static/apps/common/template.module.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/common/httpModule.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/common/service.js" type="text/javascript" charset="utf-8"></script>

    <!-- Component-->
    <!--Document-->
    <script src="/static/apps/document/document.service.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/document/document-page.controller.js" type="text/javascript" charset="utf-8"></script>


    <!--INR-->
    <script src="/static/apps/inr/inr.component.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/inr/inr.service.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/inr/inr-bfdi.component.js" type="text/javascript" charset="utf-8"></script>

    <!--Medication component-->
    <script src="/static/apps/medication/medication-search.component.js" type="text/javascript"
            charset="utf-8"></script>


    {% endcompress %}

    {% include 'session_security/all.html' %}

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Andromeda Health</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {% block search %}
            {% endblock %}

            <ul class="nav navbar-nav navbar-right">


                {% if user.is_authenticated %}
                {% block patient_header%}

                {% endblock %}

                <li><a href="/logout">Logout</a></li>

                {% endif %}
                <li><a href="">{{item}}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div id='dvmain' class='container'>
    {% block content %}
    {% endblock %}
</div>
<div class="footer container text-center">
    <p>&copy; Andromeda Health</p>
</div>

{% block page_css %}
{% endblock %}
{% block page_js %}
{% endblock %}
</body>
</html>
