<!--<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>-->
<div class='panel panel-default'>

	<div class='panel-body'>

		<div class='row'>

			<div class='col-md-12'>
				<a href='#/data/{{data.id}}'><b> Back to data page </b></a>
			</div>
		</div>

	</div><!-- End of Panel Body -->
</div>

<div class='panel panel-default'>

	<div class='panel-body'>
		<h3>{{ data.name }}</h3>
		<p ng-repeat='unit in data.observation_units' ng-if="unit.is_used"> {{unit.value_unit}} </p>
	</div>
</div>

<div class='panel panel-default'>

	<div class='panel-body'>

		<div class='row'>

			<div class='col-md-12'>
                <ul class='ul-clean'>
                    <li ng-repeat='component in data.observation_components'>
                    	<p ng-repeat="value in component.observation_component_values">
                    		<span ng-if="data.observation_components.length > 1">{{ component.name }}: </span>
                    		<a href='#/data/individual_data/{{value.id}}'>
	                            {{ value.value_quantity }} {{ value.effective_datetime|date:'M/d/yyyy HH:mm' }}
	                        </a>
                    	</p>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>
