<div class="todos-container"  ng-if="todoList.length > 0">
    <!-- begin sortable -->
    <ul ui-sortable="sortableOptions" ng-model="todoList" class="no-padding">
        <li ng-repeat="item in todoList |orderBy:'tagged_status' | filter :{'accomplished':accomplished} track by $index"
            class="list-group-item todo staff-todo" ng-click="open_todo(item)"
            ng-class="{'active-element': item.changed,'new-tagged-todo':  (item.hasOwnProperty('tagged_status') && item.tagged_status != 2 )}">

            <!-- begin show item -->
            <div ng-show='!item.changed'>
                <input ng-model='item.accomplished' type='checkbox' ng-change='update_todo_status(item)' title="">
                <span ng-bind="item.todo" class="todo-name"></span>

                <span ng-if="item.due_date"> due by <span
                        ng-class="isDueDate(item.due_date)">{{ item.due_date }}</span></span>

                <span ng-if="item.problem">for problem <a
                        href="/u/patient/manage/{{ item.patient.id }}/#!problem/{{ item.problem.id }}">{{ item.problem.problem_name }}</a></span>

                <span ng-if="item.patient"> for patient
						<a href="/u/patient/manage/{{ item.patient.id }}/">{{ item.patient.first_name }} {{ item.patient.last_name }}</a>
				</span>

                <!-- begin label -->
                <span class="quick-card-editor-label">
						<a ng-repeat="label in item.labels" class="todo-label" ng-class="label.css_class"
                           ng-if="label.author.id==user_id || label.is_all"></a>
					</span>
                <!-- end label -->

                <div>
                    <span ng-show="item.comments.length > 0"><i
                            class="fa fa-comment-o"></i> {{ item.comments.length }}</span>
                    <span ng-show="item.attachments.length > 0"><i
                            class="fa fa-paperclip"></i> {{ item.attachments.length }}</span>
                    <span ng-if="item.document_set.length > 0"><i
                            class="fa fa-file-pdf-o"></i> {{ item.document_set.length }}</span>
                </div>

                <div>
                    <span ng-repeat="member in item.members" title="Remove this member"
                          ng-click="removeMember(item,member,$index);$event.stopPropagation();"
                          class="todo-member">{{ member.username }}</span>
                </div>
                <a class="btn-custom" ng-click="todoChange(item)"><i class="fa fa-pencil"></i></a>
            </div>
            <!-- end show item -->

            <!-- begin edit item -->
            <div class="quick-card-editor" id="main-menu" ng-show='item.changed'>
                <div class="row">
                    <div class="col-md-8">
                        <!-- show label and text in edit mode -->
                        <div class="quick-card-editor-text">
                            <div class="quick-card-editor-label">
                                <a ng-repeat="label in item.labels" class="todo-label" ng-class="label.css_class"
                                   ng-if="label.author.id==user_id || label.is_all"></a>
                            </div>
                            <textarea class="form-control" type="text" ng-model="item.todo" title="{{item.todo}}">
                            </textarea>
                            <button class="btn btn-primary" ng-click="saveTodoText(item)">Save</button>
                        </div>
                        <!-- end show label and text in edit mode -->
                    </div>

                    <div class="col-md-4">
                        <div class="quick-card-editor-card">
                            <!-- begin buttons -->
                            <div class="quick-card-editor-buttons">
                                <a ng-click="closeThisTodo(item)"><i class="fa fa-close"></i></a>
                                <a ng-click="changeLabel(item)"><i class="fa fa-tags"></i>Edit label</a>
                                <a ng-click="changeDueDate(item)"><i class="fa fa-clock-o"></i>Change Due Date</a>
                                <a ng-if="isTagged" ng-click="changeMember(item)"><i class="fa fa-user"></i>Members</a>
                            </div>
                            <!-- end buttons -->

                            <!-- begin change label -->
                            <div ng-if="item.change_label" class="quick-card-editor-lv2">
                                <div class="quick-card-editor-lv2-header quick-card-editor-buttons">
                                    <a ng-click="changeLabel(item);"><i class="fa fa-close"></i></a>
                                </div>
                                <div ng-repeat="label in labels">
                                    <a class="todo-label" ng-class="label.css_class"
                                       ng-click="changeTodoLabel(item, label)">
                                        {{ label.name }}
                                        <i class="fa fa-check" ng-repeat="l in item.labels" ng-if="l.id==label.id"></i>
                                    </a>

                                    <!-- begin edit label -->
                                    <a class="todo-label-edit" ng-click="editLabel(label)"
                                       ng-if="label.name != 'screening' && (active_user.role == 'physician' || active_user.role == 'admin' || (label.author.profile.role != 'physician' && label.author.profile.role != 'admin' && active_user.user.id == label.author.id))"><i
                                            class="fa fa-pencil"></i></a>

                                    <div ng-if="label.edit_label"
                                         class="quick-card-editor-lv2 quick-card-editor-lv3 top-left-0">
                                        <div class="quick-card-editor-lv2-header">
                                            <a ng-click="editLabel(label); $event.stopPropagation();"><i
                                                    class="fa fa-close"></i></a>
                                        </div>
                                        <input type="text" class="form-control" ng-model="label.name" title="">
                                        <a ng-repeat="component in labels_component" class="todo-label"
                                           ng-class="component.css_class"
                                           ng-click="selectEditLabelComponent(label, component)">
                                            <i class="fa fa-check" ng-if="component.css_class==label.css_class"></i>
                                        </a>
                                        <div class="quick-card-editor-buttons">
                                            <a ng-click="saveEditLabel(label)">Save</a>
                                            <a class="btn btn-danger" ng-click="deleteEditLabel(label)">Delete</a>
                                        </div>
                                    </div>
                                    <!-- end edit label -->
                                </div>
                                <div class="quick-card-editor-buttons">
                                    <a ng-click="createLabel(item)"><i class="fa fa-tags"></i>Create new label</a>
                                </div>
                            </div>

                            <div ng-if="item.create_label" class="quick-card-editor-lv2 quick-card-editor-lv3">
                                <div class="quick-card-editor-lv2-header quick-card-editor-buttons">
                                    <a ng-click="createLabel(item);"><i class="fa fa-close"></i></a>
                                </div>
                                <input class="form-control" type="text" ng-model="label_component.name"
                                       title="{{label_component.name}}">
                                <a ng-repeat="component in labels_component" class="todo-label"
                                   ng-class="component.css_class" ng-click="selectLabelComponent(component)">
                                    <i class="fa fa-check" ng-if="component.css_class==label_component.css_class"></i>
                                </a>
                                <div class="quick-card-editor-buttons">
                                    <a ng-click="saveCreateLabel(item)">Save just for me</a>
                                    <a ng-click="saveCreateLabelAll(item)">Save for all users</a>
                                </div>
                            </div>
                            <!-- end change label -->

                            <!-- begin change due date -->
                            <div ng-if="item.change_due_date" class="quick-card-editor-lv2">
                                <div class="text-center">
                                    <span>Change Due Date</span>
                                    <i class="fa fa-close pull-right" ng-click="changeDueDate(item)"></i>
                                </div>
                                <datepicker date-format="MM/dd/yyyy" selector="form-control">
                                    <input class="form-control" placeholder="Choose a date" ng-model="item.due_date"
                                           title=""/>
                                </datepicker>
                                <div class="">
                                    <button class="btn btn-primary pull-right" ng-click="saveTodoDueDate(item)">Save
                                    </button>
                                </div>
                            </div>
                            <!-- end change due date -->

                            <!-- begin change member -->
                            <div ng-if="item.change_member" class="quick-card-editor-lv2">
                                <div class="quick-card-editor-lv2-header quick-card-editor-buttons">
                                    <a ng-click="changeMember(item)">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                                <div class="quick-card-editor-buttons">
                                    <a ng-repeat="member in members" ng-click="changeTodoMember(item, member)">
                                        {{ member.user.first_name }} {{ member.user.last_name }}
                                        <i class="fa fa-check" ng-repeat="m in item.members"
                                           ng-if="m.id==member.id"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end change member -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end edit item -->
        </li>
    </ul>
    <!-- end sortable -->
</div>

<div class="overlay" ng-show="todo_changed" ng-click="clickOutSide()"></div>