<div class='panel panel-default'>
    <div class='panel-body'>
        <a href='#/'><b> Back to home page </b></a>
    </div><!-- End of Panel Body -->
</div>
<hr>
<div class="container-fluid" id="view_document_page">
    <section id="document-header">
        <div class="row">
            <div class="col-md-12">
                <!--Left part-->
                <div class="document-name">
                    <a ng-repeat="label in document.labels track by $index" class="todo-label-front"
                       ng-class="label.css_class"></a>
                    <span ng-bind="document.document_name" ng-show="!enableEditDocumentName"></span>
                    <span ng-if="document.patient">
                        <b>for </b>
                        <a href="/u/patient/manage/{{document.patient.id}}">{{document.patient.first_name}} {{document.patient.last_name}}</a>
                    </span>
                </div>
                <div ng-show="enableEditDocumentName" class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="newDocumentName" title="" placeholder="Enter new document's name"
                               auto-focus="true"
                               class="form-control">
                        <button type="button" class="btn btn-primary" ng-click="updateDocumentName()">Save</button>
                        <button type="button" class="btn btn-danger"
                                ng-click="enableEditDocumentName=false">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="flex-item">
                    <button class="btn btn-default" ng-show="!enableEditDocumentName"
                            ng-click="enableEditDocumentName=true">Edit name
                    </button>

                    <!--<button class="btn btn-default" ng-click="enableEditLabel=!enableEditLabel"-->
                            <!--ng-bind="enableEditLabel ? 'Done edit label' :'Edit label'"></button>-->
                    <button class="btn btn-default" ng-click="enableEditPatient=!enableEditPatient"
                            ng-show="['physician','admin','nurse','secretary'].indexOf(active_user.role)!=-1"
                            ng-bind="enableEditPatient ? 'Done edit patient' :'Edit patient'"></button>
                    <button ng-show="document.patient" class="btn btn-default" ng-click="enableTodoPin=!enableTodoPin"
                            ng-bind="enableTodoPin ? 'Done todo pin' :'Pin todo'"></button>
                    <button ng-show="document.patient" class="btn btn-default"
                            ng-click="enableProblemPin=!enableProblemPin"
                            ng-bind="enableProblemPin ? 'Done problem pin' :'Pin problem'"></button>
                    <button class="btn btn-danger" ng-click="deleteDocument(document)">Delete</button>
                </div>
            </div>

            <div class="col-md-12" ng-show="enableEditLabel">
                <span ng-repeat="label in labels track by $index" class="quick-card-editor-label labeled-list cursor"
                      ng-class="label.pin ? '' :''">
                    <a class="todo-label" ng-class="label.css_class"
                       ng-click="label.pin ? unpinDocumentLabel(document,label) :pinLabelToDocument(document, label)">
                        <span ng-bind="label.name"></span>
                        <i class="fa fa-check ng-scope" ng-if="label.pin"></i>
                    </a>
                </span>
            </div>

            <div class="col-md-12" ng-show="enableEditPatient">
                <input type="text"
                       class="form-control"
                       placeholder="Type patient name to search"
                       ng-if="document.author.id != document.patient.id"
                       ng-model="patientSearchString"
                       uib-typeahead="patient as patient.full_name for patient in getPatients($viewValue)"
                       typeahead-on-select="pinPatient2Document($item, $model, $label, $event) ">
            </div>
        </div>
    </section>

    <section id="document-content">
        <!--View file content section-->
        <view-file uri="document.document"
                   content-type="document.file_mime_type[0]"
                   controls="false"
                   allow-modal="false"></view-file>
        <br>
    </section>

    <!--Pinned problem-->
    <section ng-show="document.patient" id="document-problems" ng-click="enableProblemPin=!enableProblemPin">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of pinned problem
            </div>
            <div class="panel-body">
                <div class='row' ng-if='permitted(["add_problem"])'>
                    <div class='col-md-12'>
                        <div ng-if="['physician','mid-level'].indexOf(active_user.role) !=-1">
                            <p>Common problem:</p>
                            <div class="input-group">
                                <select class='form-control' ng-model="acuteForm" title=""
                                        ng-click="$event.stopPropagation();">
                                    <option ng-repeat="acute in acutes" value="{{ acute.id }}"> {{
                                        acute.problem_name }}
                                    </option>
                                </select>
                                <span class="input-group-btn">

                                <button class='btn btn-default'
                                        ng-click='addNewCommonProblem(acuteForm, "acute");$event.stopPropagation();'>
                                    Add acute problem
                                </button>
                                    </span>
                            </div>
                            <br>
                            <div class="input-group">
                                <select class='form-control' ng-model="chronicForm" title=""
                                        ng-click="$event.stopPropagation();">
                                    <option ng-repeat="chronic in chronics" value="{{ chronic.id }}">
                                        {{chronic.problem_name }}
                                    </option>
                                </select>
                                <span class="input-group-btn">
                                <button class='btn btn-default'
                                        ng-click='addNewCommonProblem(chronicForm, "chronic");$event.stopPropagation();'>
                                    Add chronic problem
                                </button>
                                    </span>
                            </div>
                            <br>
                        </div>

                        <!--Search problem normally-->
                        <div class="input-group">
                            <input type='text' class='form-control' id='problemTermInput'
                                   ng-model='problem_term'
                                   ng-model-options="{debounce: 1000}"
                                   ng-change="problemTermChanged(problem_term)"
                                   ng-click="$event.stopPropagation();"
                                   placeholder='Search Problem....'>
                            <span class="input-group-btn">
                            <button class='btn btn-default'
                                    ng-click='add_new_problem(problem_term);$event.stopPropagation();'>
                            Add Problem
                            </button>
                            </span>
                        </div>
                        <hr>
                        <!--Problem candidate for -->
                        <div ng-show='new_problem.set==true'>
                            <p>
                                <b ng-bind="new_problem.code"></b>&nbsp;<span ng-bind="new_problem.term "></span>
                            </p>
                            <button class='btn btn-sm btn-primary' ng-click='add_problem();$event.stopPropagation();'>
                                Add Problem
                            </button>
                            <button class='btn btn-sm btn-danger'
                                    ng-click='unset_new_problem();$event.stopPropagation();'>
                                Cancel
                            </button>
                            <hr>
                        </div>
                    </div>

                    <!--Problem search result-->
                    <div class='col-md-12' style='max-height:375px; overflow-y:auto;'>
                        <div ng-repeat='problem_term in problem_terms track by $index' style='margin-top:12px;'>
                            <button class='btn btn-sm btn-default' title='{{ problem_term.code }}'
                                    ng-click='set_new_problem(problem_term);$event.stopPropagation();'>
                                {{ problem_term.term }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- List of active problem-->
                <div class="checkbox" ng-repeat="problem in active_probs track by $index" ng-show="enableProblemPin"
                     ng-click="$event.stopPropagation();">
                    <input type="checkbox" ng-model="problem.pin" title="{{problem.problem_name}}" id="{{problem.id}}"
                           ng-change="!problem.pin ? unpinDocumentProblem(document,problem):pinProblem2Document(document,problem);$event.stopPropagation();">
                    <label for="{{problem.id}}" ng-bind="problem.problem_name"></label>
                </div>

                <!-- Pinned problem list-->
                <ul class="ul-clean no-padding" ng-show="!enableProblemPin">
                    <li ng-repeat="problem in active_probs | filter:{'pin':true} track by $index">
                        <a class="item-box flex-container" ng-class='problem.is_controlled ? "green-box" : "red-box" '
                           href="/u/patient/manage/{{problem.patient}}/#/problem/{{problem.id}}">
                            <span ng-bind="problem.problem_name" class="flex-item"></span>
                            <span ng-show="!problem.authenticated" class="flex-item">(not authenticated)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--Pinned todo-->
    <section ng-show="document.patient" id="document-todos" ng-click="enableTodoPin=!enableTodoPin">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of pinned todo
            </div>
            <div class="panel-body">
                <!--Add todo form-->
                <div class='form-inline' ng-show='permitted(["add_todo"])'>
                    <label for="todoNameInput"> Todo name </label>
                    <div class='input-group'>
                        <input type='text' ng-model='new_todo.name' title="Todo name"
                               class="form-control" id='todoNameInput' ng-click="$event.stopPropagation();">
                        <span class="input-group-btn">
                            <button type='button' class='btn btn-default'
                                    ng-click="addTodo(new_todo);$event.stopPropagation();">Add Todo</button>
                        </span>
                    </div>
                </div>

                <!-- List of active todos-->
                <div class="checkbox" ng-repeat="todo in active_todos track by $index" ng-show="enableTodoPin"
                     ng-click="$event.stopPropagation();">
                    <input type="checkbox" ng-model="todo.pin" title="{{todo.todo}}" id="{{todo.id}}"
                           ng-change="!todo.pin ? unpinDocumentTodo(document,todo):pinTodo2Document(document,todo);$event.stopPropagation();">
                    <label for="{{todo.id}}" class="flex-container">
                        <span ng-bind="todo.todo" class="flex-item"></span> <span ng-if="todo.due_date"  class="flex-item">&nbsp;due by <span ng-class="isDueDate(todo.due_date)">{{todo.due_date}}</span></span>
                    </label>
                </div>

                <!-- List of pinned todo-->
                <ul class="ul-clean no-padding" ng-show="!enableTodoPin">
                    <li ng-repeat="todo in active_todos | filter:{'pin':true} track by $index">
                        <a class="item-box flex-container" ng-click="$event.stopPropagation();"
                           href="/u/patient/manage/{{todo.patient.id}}/#/todo/{{todo.id}}">
                            <span ng-bind="todo.todo" class="flex-item"></span> <span ng-if="todo.due_date"  class="flex-item">&nbsp;due by <span ng-class="isDueDate(todo.due_date)">{{todo.due_date}}</span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
