@import "colors";
html {
  min-height: 100%;
  min-width: 100%;
  -ms-text-size-adjust: none;
}
a{
text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, nav, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, a {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  background-repeat: no-repeat;
}

button.submit-btn {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.transition {
  -webkit-transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
  transition-property: background-image, background-position, background-color, border-color, border-radius, color, font-size, font-style, font-weight, letter-spacing, line-height, text-align, box-shadow, text-shadow, opacity;
}

.transition * {
  -webkit-transition: inherit;
  transition: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  border-style: solid;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del, ins {
  text-decoration: none;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: inherit;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.form-grp input, .form-grp textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

a:link {
  color: $color38;
  text-decoration: underline;
}

a:visited {
  color: $color39;
  text-decoration: underline;
}

a:hover {
  color: $color38;
  text-decoration: underline;
}

a:active {
  color: $color40;
  text-decoration: underline;
}

a.nontext {
  color: $color4;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

.normal_text {
  color: $color41;
  direction: ltr;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 17px;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  vertical-align: 0;
  padding: 0;
}

.Text_Simple {
  color: $color42;
  font-family: open-sans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  padding: 0;
}

.Title_Small {
  color: $color43;
  font-family: fira-sans, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 42px;
  text-align: left;
  padding: 0;
}

.Text_Subhead {
  color: $color42;
  font-family: open-sans, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  padding: 0;
}

.list0 li:before {
  position: absolute;
  right: 100%;
  letter-spacing: 0;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

.rtl-list li:before {
  right: auto;
  left: 100%;
}

.nls-None > li:before, .nls-None .list3 > li:before, .nls-None .list6 > li:before {
  margin-right: 6px;
  content: '•';
}

.nls-None .list1 > li:before, .nls-None .list4 > li:before, .nls-None .list7 > li:before {
  margin-right: 6px;
  content: '○';
}

.nls-None, .nls-None .list1, .nls-None .list2, .nls-None .list3, .nls-None .list4, .nls-None .list5, .nls-None .list6, .nls-None .list7, .nls-None .list8 {
  padding-left: 34px;
}

.nls-None.rtl-list, .nls-None .list1.rtl-list, .nls-None .list2.rtl-list, .nls-None .list3.rtl-list, .nls-None .list4.rtl-list, .nls-None .list5.rtl-list, .nls-None .list6.rtl-list, .nls-None .list7.rtl-list, .nls-None .list8.rtl-list {
  padding-left: 0;
  padding-right: 34px;
}

.nls-None .list2 > li:before, .nls-None .list5 > li:before, .nls-None .list8 > li:before {
  margin-right: 6px;
  content: '-';
}

.nls-None.rtl-list > li:before, .nls-None .list1.rtl-list > li:before, .nls-None .list2.rtl-list > li:before, .nls-None .list3.rtl-list > li:before, .nls-None .list4.rtl-list > li:before, .nls-None .list5.rtl-list > li:before, .nls-None .list6.rtl-list > li:before, .nls-None .list7.rtl-list > li:before, .nls-None .list8.rtl-list > li:before {
  margin-right: 0;
  margin-left: 6px;
}

.TabbedPanelsTab {
  white-space: nowrap;
}

.MenuBar .MenuBarView, .MenuBar .SubMenuView {
  display: block;
  list-style: none;
}

.MenuBar .SubMenu {
  display: none;
  position: absolute;
}

.NoWrap {
  white-space: nowrap;
  word-wrap: normal;
}

.rootelem {
  margin-left: auto;
  margin-right: auto;
}

.colelem {
  display: inline;
  float: left;
  clear: both;
}

.clearfix:after {
  content: "\0020";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*:first-child + html .clearfix {
  zoom: 1;
}

.clip_frame {
  overflow: hidden;
}

.popup_anchor {
  position: relative;
  width: 0;
  height: 0;
}

.allow_click_through * {
  pointer-events: auto;
}

.popup_element {
  z-index: 100000;
}

.svg {
  display: block;
  vertical-align: top;
}

span.wrap {
  content: '';
  clear: left;
  display: block;
}

span.actAsInlineDiv {
  display: inline-block;
}

.position_content, .excludeFromNormalFlow {
  float: left;
}

.preload_images {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

.preload {
  height: 1px;
  width: 1px;
}

.animateStates {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

[data-whatinput="mouse"] *:focus, [data-whatinput="touch"] *:focus, input:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.allow_click_through, .fld-prompt {
  pointer-events: none;
}

.wrapped-input {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
}

.submit-btn {
  z-index: 50000;
  cursor: pointer;
}

.anchor_item {
  width: 22px;
  height: 18px;
}

.MenuBar .SubMenuVisible, .MenuBarVertical .SubMenuVisible, .MenuBar .SubMenu .SubMenuVisible, .popup_element.Active, span.actAsPara, .actAsDiv, a.nonblock.nontext, img.block {
  display: block;
}

.widget_invisible, .js .invi, .js .mse_pre_init {
  visibility: hidden;
}

.ose_ei {
  visibility: hidden;
  z-index: 0;
}

.no_vert_scroll {
  overflow-y: hidden;
}

.always_vert_scroll {
  overflow-y: scroll;
}

.always_horz_scroll {
  overflow-x: scroll;
}

.fullscreen {
  overflow: hidden;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.fullwidth {
  position: absolute;
}

.borderbox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.scroll_wrapper {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.browser_width > * {
  position: absolute;
  left: 0;
  right: 0;
}

.grpelem, .accordion_wrapper {
  display: inline;
  float: left;
}

.fld-checkbox input[type=checkbox], .fld-radiobutton input[type=radio] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.fld-checkbox input[type=checkbox] + label, .fld-radiobutton input[type=radio] + label {
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  width: 100%;
  height: 100%;
}

.pointer_cursor, .fld-recaptcha-mode, .fld-recaptcha-refresh, .fld-recaptcha-help {
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6, ol, ul, span.actAsPara {
  max-height: 1000000px;
}

.superscript {
  vertical-align: super;
  font-size: 66%;
  line-height: 0;
}

.subscript {
  vertical-align: sub;
  font-size: 66%;
  line-height: 0;
}

.horizontalSlideShow {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.verticalSlideShow {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.colelem100, .verticalspacer {
  clear: both;
}

.list0 li, .MenuBar .MenuItemContainer, .SlideShowContentPanel .fullscreen img, .css_verticalspacer .verticalspacer {
  position: relative;
}

.popup_element.Inactive, .js .disn, .js .an_invi, .hidden, .breakpoint {
  display: none;
}

#muse_css_mq {
  position: absolute;
  display: none;
  background-color: $color44;
}

.fluid_height_spacer {
  width: 0.01px;
}

.muse_check_css {
  display: none;
  position: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body {
    text-rendering: auto;
  }
}

.version.index {
  color: $color45;
  background-color: $color46;
}

#page {
  z-index: 1;
  min-height: 412.6218709164564px;
  background-image: none;
  border-width: 0;
  border-color: $color41;
  background-color: transparent;
  padding-top: 25px;
  padding-bottom: 62.37812908354363px;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#u210 {
  z-index: 28;
  background-color: transparent;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u97-4 {
  z-index: 8;
  min-height: 86px;
  background-color: transparent;
  line-height: 65px;
  font-size: 54px;
  margin-top: 46px;
  position: relative;
  width: 67.5%;
  margin-left: 16.25%;
  left: -1px;
}

#u94-6 {
  z-index: 2;
  min-height: 82px;
  background-color: transparent;
  line-height: 18px;
  font-size: 15px;
  margin-top: 31px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
  left: 0;
}

#u100-4 {
  z-index: 12;
  min-height: 42px;
  background-color: transparent;
  line-height: 36px;
  font-size: 30px;
  margin-top: 15px;
  position: relative;
  width: 17.3%;
  margin-left: 41.36%;
  left: -1px;
}

#pu101 {
  z-index: 16;
  margin-top: 15px;
  width: 93.13%;
}

#u101 {
  z-index: 16;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 35px;
  width: 22.6%;
  left: 0%;
  margin-left: 3.81%;
}

#u105 {
  z-index: 20;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 11.53%;
  left: 25.06%;
  margin-left: 3.81%;
}

#u109 {
  z-index: 24;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 22.49%;
  margin-left: 42.45%;
  left: 2px;
}

#u103 {
  z-index: 18;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 23px;
  width: 17.23%;
  left: 63.43%;
  margin-left: 3.81%;
}

#u440 {
  z-index: 75;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 36px;
  width: 18.24%;
  left: 81.77%;
  margin-left: 3.81%;
}

#pu107 {
  z-index: 22;
  margin-top: 31px;
  width: 25.73%;
  margin-left: 37.71%;
}

#u107 {
  z-index: 22;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 15px;
  width: 42.52%;
}

#u111 {
  z-index: 26;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 44.13%;
  left: 56.28%;
}

#u210_img, #u101_img, #u105_img, #u109_img, #u103_img, #u440_img, #u107_img, #u111_img {
  width: 100%;
}

#u231-10 {
  z-index: 30;
  min-height: 78px;
  background-color: transparent;
  margin-top: 84px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u246-4 {
  z-index: 59;
  width: 801px;
  min-height: 38px;
  background-color: transparent;
  margin-top: 82px;
  position: relative;
  margin-left: 2.09%;
}

#u243-4 {
  z-index: 40;
  min-height: 62px;
  background-color: transparent;
  margin-top: 23px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u245-15 {
  z-index: 44;
  min-height: 127px;
  background-color: transparent;
  margin-top: 46px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u245-13 {
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
}

#u421-4 {
  z-index: 67;
  width: 526px;
  min-height: 86px;
  background-color: transparent;
  line-height: 39px;
  font-size: 30px;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 17px;
  position: relative;
  margin-left: 50%;
  left: -263px;
}

#u257-4 {
  z-index: 63;
  width: 316px;
  min-height: 38px;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 92px;
  position: relative;
  margin-left: 32.19%;
}

#u467-11 {
  z-index: 86;
  min-height: 127px;
  background-color: transparent;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 38px;
  position: relative;
  width: 95.84%;
  margin-left: 2.19%;
}

#u476-4 {
  z-index: 97;
  width: 230px;
  min-height: 38px;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 69px;
  position: relative;
  margin-left: 36.67%;
}

#u477-7 {
  z-index: 101;
  min-height: 127px;
  background-color: transparent;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 18px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u482-4 {
  z-index: 108;
  width: 556px;
  min-height: 38px;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 33px;
  position: relative;
  margin-left: 21.05%;
}

#u483-7 {
  z-index: 112;
  min-height: 127px;
  background-color: transparent;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 17px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u488-4 {
  z-index: 119;
  width: 293px;
  min-height: 38px;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 47px;
  position: relative;
  margin-left: 34.8%;
}

#u489-4 {
  z-index: 123;
  min-height: 127px;
  background-color: transparent;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 14px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u494-4 {
  z-index: 127;
  width: 165px;
  min-height: 38px;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 40px;
  position: relative;
  margin-left: 41.36%;
}

#u495-4 {
  z-index: 131;
  min-height: 127px;
  background-color: transparent;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 15px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

#u426-4 {
  z-index: 71;
  width: 380px;
  min-height: 55px;
  background-color: transparent;
  line-height: 39px;
  font-size: 30px;
  font-family: open-sans, sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 60px;
  position: relative;
  margin-left: 50%;
  left: -190px;
}

#u454-9 {
  z-index: 77;
  min-height: 86px;
  background-color: transparent;
  margin-top: 27px;
  position: relative;
  width: 95.84%;
  margin-left: 2.09%;
}

.css_verticalspacer .verticalspacer {
  height: calc(100vh - 3155px);
}

#muse_css_mq, .html {
  background-color: $color13;
}

body {
  position: relative;
  min-width: 330px;
}

#cta-login {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}