@import "_variables.scss";
@import "colors";
@import "_quick_card_editor";
@import "colors";

body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.navbar.navbar-default.navbar-fixed-top {
  z-index: 8;
}

.google-login-img {
  height: 50px;
}

.ul-clean {
  list-style-type: none;
}

.ul-clean li {
  margin-top: 15px;
}

.item-box {
  min-height: 50px;
  padding: 12px;
  border: 1px solid $color21;
  cursor: pointer;
}

.green-box {
  background-color: $color15;
  border-color: $color22;
  color: $color23;
}

.red-box {
  background-color: $color2  !important;
  border-color: $color24  !important;
  color: $color25  !important;
}

#ngdialog1.large-modal .ngdialog-content {
  width: 600px;
  min-height: 275px;

}

#ngdialog1.small-modal .ngdialog-content {
  width: 450px;
}

.footer {
  margin-top: 75px;
}

.small-img {
  width: 100px;
  height: 100px;
}

.modal-image {
  width: 80%;
}

.bottom-bar {
  position: fixed;
  height: 65px;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 2px solid grey;
  border-radius: 3px;
  padding-top: 10px;

  overflow-x: auto;
  overflow-y: hidden;
}

.bottom-bar #encounter-box {

  margin: 0 auto;
}

.box50 {
  height: 50px;
}


.nav-pills>a:hover,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: grey;
  color: $color3  !important;
}

.activity-item img {}

.cover-image {
  margin: 0 auto;
  max-width: 50%;
}

.cursor-pointer {
  cursor: pointer !important;
}


.todo {
  position: relative;
}

.btn-custom {
  color: $color19;
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  z-index: 8;
}

#problem-header {
  z-index: 10;
  position: absolute;

  &.affix {
    position: fixed !important;
  }

  .todo {
    width: auto;
    display: inline-block;

    .btn-custom {
      right: -30px;
      top: 5px;
    }

    h4 {
      width: auto;
      display: inline-block;
    }
  }
}

#problem-header:hover .btn-custom,
.todo:hover .btn-custom {
  display: block;
}

.problem-uncontrolled {
  background-color: $color2  !important;
  border-color: $color24  !important;
  color: $color25  !important;
}

.btn-custom:hover {
  color: $color26;
}


#problem-header .todo input {
  color: $color4;
}


.thumbnail-custom {
  height: auto;
  width: 160px;
}

.todos-container .list-group-item {
  cursor: pointer;
}

.todo-label-green {
  background-color: $color27  !important;
}

.todo-label-yellow {
  background-color: $color28  !important;
}

.todo-label-orange {
  background-color: $color29  !important;
}

.todo-label-red {
  background-color: $color30  !important;
}

.todo-label-purple {
  background-color: $color31  !important;
}

.todo-label-blue {
  background-color: $color32  !important;
}

.todo-label-sky {
  background-color: $color33  !important;
}


.todo-component {
  margin-bottom: 20px;
}

.attachment {
  margin-bottom: 10px;
}

.attachment p {
  margin: 0;
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
}

button {
  outline: none;
  border: 0;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}

button {
  outline: none;
  border: 0;
}

tbody button {
  padding: 6px;
}


.todo-member {
  background: rgba(68, 48, 48, 0.15);
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  display: inline-block;

  &:hover {
    background: $color34;
    color: $color5;
    cursor: pointer;
  }
}

.due-date {
  background: rgba(255, 0, 0, 0.35);
}


.top-left-0 {
  top: 0;
  left: 0;
}

.todo-label {
  width: auto;
  height: auto;
  color: $color5;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  border-radius: 3px;

  &:hover {
    text-decoration: none;
  }
}

.labeled-list a.todo-label {
  width: auto;
  height: auto;
  color: $color5;
  padding: 2px 5px;
  text-decoration: none;
  margin-bottom: 2px;
}

.tiny-img {
  width: 20px;
  height: 20px;
}

.io-box {
  border: 1px solid $color21;
  margin-bottom: 10px;
  padding: 10px;
}

.io-box .table-responsive tbody td .smallbutton {
  padding: 1px 5px;
}

.io-box .table-responsive .listinrvalue tbody td input {
  width: 100%;
}

.medication-page-tabs .nav {
  border-top: 1px solid $color3;
  margin-top: 0;
}


.my-story {
  border: 1px solid $color3;
  border-radius: 3px;
  overflow: hidden;
}

.my-story-left {
  border-right: 1px solid $color3;
  padding-top: 10px;
  //padding-bottom: 10px;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
}

.my-story-right {
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-story-list li button {
  border-radius: 0;
  border: none;
}

.my-story-list li button.active {
  color: $color4;
  font-weight: bold;
  border-left: 3px solid black;
}

.data-frame {
  background: $color3;
  border: none;
}

.pickadate {
  top: 0 !important;
  left: 0 !important;
}

.masonry-brick {
  width: 48%;

  .fa.fa-times {
    position: absolute;
    color: $color35;
    font-size: 3rem;
    cursor: pointer;
    right: 0;
    top: 0;
  }
}

.masonry-brick img {
  width: 100%;
  border: 2px solid $color36;
  border-radius: 3px;
}

#signature {
  position: relative;
  right: 0;
  width: 250px !important;
  ;
}

.inactive {
  color: lightgrey;
}

todo-laboratory {

  .label-wrapper {
    display: inline-block;
    margin-bottom: -6px;
    overflow: hidden;
    position: relative;

    a.todo-label {
      float: left;
      text-align: center;
      display: inline-block;
      ;
      margin: 0 2px;
      clear: none;
      color: $color4;
      width: auto;
      padding: 0 10px;
      text-decoration: none;
    }
  }

}

@media print {
  #print-template {
    #signature {
      position: fixed;
      right: 0;
      width: 250px !important;
      ;
    }

    b {
      font-weight: bold !important;
    }

    display: block !important;

    div,
    li,
    p,
    ul {
      display: block !important;
    }

    p,
    ul {
      margin: 0 0 10px !important;
    }

    li {
      display: list-item !important;
      font-size: 14px !important;
      height: 20px !important;
      line-height: 20px !important;
      list-style-type: none !important;
      text-align: left !important;
    }
  }
}

.home-page-tabs {
  z-index: -1;

  .nav {
    border: 1px solid $color3;
    border-radius: 3px;
    border-top: none;
    margin-bottom: 40px;

    &>li {
      display: inline-block;
      float: none;
      margin: 0 !important;

      a {
        color: $color37;
        font-weight: 700;
        padding: 13px 30px;
        border-right: 1px solid $color3;
        background: none !important;
        border-radius: 0;
        cursor: pointer;
      }
    }

    .nav-pills {
      &>li {
        margin: 0 !important;
      }
    }
  }
}

/* ALL LOADERS */

.loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER 2 */

#loader-2 span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 17px 2px;
}

#loader-2 span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {

  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}