/*Stytle for medication related component*/
#medication-page {
  #medication-header {
    @media(min-width: 992px) {
      .medication-action-control {
        text-align: right;
      }
    }
  }

  .note-box {
    textarea {
      margin-bottom: 16px;
    }

    a {
      margin-right: 4px;
    }
  }
}