@import "colors";
.todo-label-front {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0;
  display: inline-block;
  margin: 0 2px;
  clear: none;
}

.quick-info, .tagged-member {
  margin-bottom: 10px;
}

.quick-card-editor-label a.todo-label-name {
  margin-right: 4px;
  margin-bottom: 4px;
}

#comments,#comments-list {
  textarea {
    width: 100%;
    resize: none;
  }

  form.new-comment {
    background: $color1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .comment-history {
    .comment {
      background: $color1;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 3px;

      .username {
        font-weight: bold;
      }

      .comment-content-wrapper {
        margin-bottom: 15px;

        .comment-content {
          background: white;
          padding: 10px;
          border-radius: 3px;
        }
      }

      textarea {
        margin-bottom: 15px;
      }
    }
  }
}
