@import "colors";
todo {
  .new-tagged-todo {
    background: $color2;

    input[type='checkbox']:before {
      content: "*";
      left: 2px;
      position: absolute;
      font-size: 2em;
      top: 10px;
    }
  }
}