<div class='panel panel-default'>
    <div class='panel-body'>
        <a href='#/'><b> Back to home page </b></a>
    </div><!-- End of Panel Body -->
</div>
<hr>
<div class="container-fluid" id="view_document_page">
    <section id="document-header">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <!--Left part-->
                <div>
                    <a ng-repeat="label in document.labels track by $index" class="todo-label-front"
                       ng-class="label.css_class"></a>
                    <span class="document-name" ng-bind="document.filename" ng-show="!enableEditDocumentName"></span>
                </div>
                <div ng-show="enableEditDocumentName" class="flex-item ">
                    <input type="text" ng-model="newDocumentName" title="" placeholder="Enter new document's name"
                           auto-focus="true"
                           class="form-control">
                </div>
            </div>
            <!--Right part-->
            <div class="col-md-6 col-lg-6">
                <div class="flex-item">
                <span ng-show="enableEditDocumentName">
                    <button type="button" class="btn btn-primary" ng-click="updateDocumentName()">Save</button>
                    <button type="button" class="btn btn-danger"
                            ng-click="enableEditDocumentName=false">
                        Cancel
                    </button>
                </span>
                    <button class="btn btn-default" ng-show="!enableEditDocumentName"
                            ng-click="enableEditDocumentName=true">Edit name
                    </button>

                    <button class="btn btn-default" ng-click="enableEditLabel=!enableEditLabel"
                            ng-bind="enableEditLabel ? 'Done edit label' :'Edit label'"></button>

                    <button class="btn btn-default" ng-click="enableTodoPin=!enableTodoPin"
                            ng-bind="enableTodoPin ? 'Done todo pin' :'Pin todo'"></button>
                    <button class="btn btn-default" ng-click="enableProblemPin=!enableProblemPin"
                            ng-bind="enableProblemPin ? 'Done problem pin' :'Pin problem'"></button>
                    <button class="btn btn-danger" ng-click="deleteDocument(document)">Delete</button>
                </div>
            </div>
        </div>

        <div class="row" ng-if="enableEditLabel">
            <div class="col-md-12">
            <span ng-repeat="label in labels track by $index" class="quick-card-editor-label labeled-list cursor"
                  ng-class="label.is_pinned ? '' :''">
                <a class="todo-label" ng-class="label.css_class"
                   ng-click="label.is_pinned ? unpinDocumentLabel(document,label) :pinLabelToDocument(document, label)">
                    <span ng-bind="label.name"></span>
                    <i class="fa fa-check ng-scope" ng-if="label.is_pinned"></i>
                </a>
            </span>
            </div>
        </div>
    </section>

    <section id="document-content">
        <!--View file content section-->
        <view-file uri="document.document"
                   content-type="document.file_mime_type[0]"
                   controls="false"
                   allow-modal="false"></view-file>
    </section>

    <!--Pinned todo-->
    <section id="document-todos">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>List of pinned todo</p>
            </div>
            <div class="panel-body">
                <div class='row' ng-show='permitted(["add_todo"])'>
                    <div class='col-md-12'>
                        <form class='form-inline' role='form' ng-submit='addTodo(new_todo)'>
                            <div class='form-group'>
                                <label for="todoNameInput"> Todo name </label>
                                <input type='text' ng-model='new_todo.name' title="Todo name"
                                       class="form-control" id='todoNameInput'>
                            </div>
                            <button type='submit' class='btn btn-default'>Add Todo</button>
                        </form>
                    </div>
                </div>

                <ul class="ul-clean no-padding">
                    <li ng-repeat="todo in active_todos | filter:(enableTodoPin ? '' :{'is_pinned':true})  track by $index">
                        <div class="item-box flex-container">
                            <button ng-if="enableTodoPin"
                                    ng-click="todo.is_pinned ? unpinDocumentTodo(document,todo):pinTodo2Document(document,todo)"
                                    ng-class="todo.is_pinned ? 'btn-danger':'btn-primary'"
                                    class="btn dube-btn-pin-unpin flex-item pull-left">
                                <span ng-bind="todo.is_pinned ? 'Un pin' : 'Pin'"></span>
                            </button>
                            <span ng-bind="todo.todo" class="flex-item"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--Pinned problem-->
    <section id="document-problems">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>List of pinned problem</p>
            </div>
            <div class="panel-body">
                <div class='row' ng-if='permitted(["add_problem"])'>
                    <div class='col-md-12'>
                        <br>
                        <div ng-if="active_user.role=='physician' || active_user.role=='mid-level'">
                            <div>
                                <p>Common problem:</p>
                                <select class='form-control' ng-model="acuteForm" title="">
                                    <option ng-repeat="acute in acutes"
                                            value="{{ acute.id }}"> {{ acute.problem_name }}
                                    </option>
                                </select>
                                <button class='btn btn-sm btn-default'
                                        ng-click='addNewCommonProblem(acuteForm, "acute")'>
                                    Add acute problem
                                </button>
                            </div>
                            <br>
                            <div>
                                <select class='form-control' ng-model="chronicForm" title="">
                                    <option ng-repeat="chronic in chronics"
                                            value="{{ chronic.id }}"> {{
                                        chronic.problem_name }}
                                    </option>
                                </select>
                                <button class='btn btn-sm btn-default'
                                        ng-click='addNewCommonProblem(chronicForm, "chronic")'>
                                    Add chronic problem
                                </button>
                            </div>
                            <br>
                        </div>

                        <!--Search problem normally-->
                        <input type='text' class='form-control' id='problemTermInput'
                               ng-model='problem_term'
                               ng-model-options="{debounce: 1000}"
                               ng-change="problemTermChanged(problem_term)"
                               placeholder='Search Problem....'>
                        <button class='btn btn-sm btn-default' ng-click='add_new_problem(problem_term)'>
                            Add Problem
                        </button>
                        <br>
                        <!--Problem candidate for -->
                        <div ng-show='new_problem.set==true'>
                            <hr>
                            <label ng-bind="new_problem.code"></label><span
                                ng-bind="new_problem.term "></span>
                            <br>
                            <button class='btn btn-sm btn-primary' ng-click='add_problem()'>
                                Add Problem
                            </button>
                            <button class='btn btn-sm btn-danger'
                                    ng-click='unset_new_problem()'>
                                Cancel
                            </button>
                            <hr>
                        </div>
                    </div>
                    <div class='col-md-12' style='max-height:375px; overflow-y:auto;'>
                        <div ng-repeat='problem_term in problem_terms track by $index'
                             style='margin-top:12px;'>
                            <button class='btn btn-sm btn-default'
                                    title='{{ problem_term.code }}'
                                    ng-click='set_new_problem(problem_term)'>
                                {{ problem_term.term }}
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <ul class="ul-clean no-padding">
                    <li ng-repeat="problem in active_probs | filter:(enableProblemPin ? '' :{'is_pinned':true}) track by $index">
                        <div class="item-box flex-container"
                             ng-show="problem.is_active"
                             ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>
                            <button ng-if="enableProblemPin"
                                    ng-click="problem.is_pinned ? unpinDocumentProblem(document,problem):pinProblem2Document(document,problem)"
                                    ng-class="problem.is_pinned ? 'btn-danger':'btn-primary'"
                                    class="btn dube-btn-pin-unpin pull-left flex-item">
                                <span ng-bind="problem.is_pinned ? 'Un pin' : 'Pin'"></span>
                            </button>
                            <span ng-bind="problem.problem_name" class="flex-item"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
