<!--<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>-->
<center>
    <h3>
        <a href='/'><i class='glyphicon glyphicon-arrow-left'></i> Back To Home </a>
    </h3>
</center>
<hr>
<div class="container-fluid" id="document-tag-page">
    <div class="row">
        <div class="col-md-6">
            <b>Document name: </b><span ng-bind="document.document_name"></span> (<span
                ng-bind="document.patient.user.first_name"></span> <span
                ng-bind="document.patient.user.last_name"></span>) <br>
        </div>
        <div class="col-md-6">
            <input type="text"
                   ng-if="document.author.id != document.patient.id"
                   class="form-control"
                   ng-model="patient"
                   uib-typeahead="patient as patient.full_name for patient in getPatients($viewValue)"
                   typeahead-on-select="pinPatient2Document($item, $model, $label, $event) "
                   placeholder="Type patient name to search">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="label in labels track by $index" class="quick-card-editor-label labeled-list"
                 ng-class="label.is_pinned ? '' :''">
                <a class="todo-label" ng-class="label.css_class"
                   ng-click="label.is_pinned ? unpinDocumentLabel(document,label) :pinLabelToDocument(document, label)">
                    <span ng-bind="label.name"></span>
                    <i class="fa fa-check ng-scope" ng-if="label.is_pinned"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <view-file uri="document.document"
                       content-type="document.file_mime_type[0]"
                       controls="false"
                       allow-modal="false"></view-file>
        </div>
    </div>

    <!-- List of all active todo the document can associated to-->
    <div class="panel panel-default" ng-if="active_todos.length != 0">
        <div class="panel-heading">
            <p>List of active todo</p>
        </div>
        <div class="panel-body">
            <ul class="ul-clean no-padding">
                <li ng-repeat="todo in active_todos track by $index">
                    <div class="item-box flex-container">
                        <button ng-click="todo.is_pinned ? unpinDocumentTodo(document,todo):pinTodo2Document(document,todo)"
                                ng-class="todo.is_pinned ? 'btn-danger':'btn-primary'"
                                class="btn dube-btn-pin-unpin flex-item pull-left">
                            <span ng-bind="todo.is_pinned ? 'Un pin' : 'Pin'"></span>
                        </button>
                        <span ng-bind="todo.todo" class="flex-item"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- List of all problem(shared problem) of current patient which has be pinned to this documentation-->
    <div class="panel panel-default" ng-if="active_probs.length != 0">
        <div class="panel-heading">
            <p>List of pinable problem</p>
        </div>
        <div class="panel-body">
            <ul class="ul-clean no-padding">
                <li ng-repeat="problem in active_probs track by $index">
                    <div class="item-box flex-container"
                         ng-show="problem.is_active"
                         ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>
                        <button ng-click="problem.is_pinned ? unpinDocumentProblem(document,problem):pinProblem2Document(document,problem)"
                                ng-class="problem.is_pinned ? 'btn-danger':'btn-primary'"
                                class="btn dube-btn-pin-unpin pull-left flex-item">
                            <span ng-bind="problem.is_pinned ? 'Un pin' : 'Pin'"></span>
                        </button>
                        <span ng-bind="problem.problem_name" class="flex-item"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
