<div class="row ">
    <div class='col-md-12'>
        <!--Search form-->
        <form class="form-inline">
            <div class='form-group'>
                <label>Name</label>
                <input type='text' class='form-control' ng-model='$ctrl.searchTerm' ng-change="$ctrl.termChanged()"
                       ng-model-options="{debounce: 1000 }"
                       placeholder="Enter medication name"
                       title="Search box">
            </div>

            <div class='form-group'>
                <input type='submit' value='Add' class='btn btn-default btn-primary'
                       ng-click="$ctrl.onUpdate({value:{name: $ctrl.searchTerm,search_str:$ctrl.searchTerm}});">
            </div>
        </form>
        <!--End search form-->
        <br>
        <!-- selected medication from search results-->
        <div ng-show='$ctrl.new_medication.set==true'>
            <hr>
            <label> {{ $ctrl.new_medication.concept_id }} </label>
            {{ $ctrl.new_medication.name }} <br>
            <button class='btn btn-sm btn-primary' ng-click='$ctrl.onUpdate({value:$ctrl.new_medication})'> Add
                Medication
            </button>
            <button class='btn btn-sm btn-default' ng-click='$ctrl.unsetNewMedication()'>Cancel</button>
            <hr>
        </div>
        <!--End selected medication from search results-->
    </div>
</div>

<!--Search result-->
<div class="row no-margin">
    <div class='col-md-12' style='max-height:375px; overflow-x:hidden; overflow-y:auto;'>
        <div ng-repeat='medication in $ctrl.medicationTerms track by $index' style='margin-top:12px;'>
            <button class='btn btn-sm btn-default' ng-click='$ctrl.setMedication(medication)'
                    ng-bind="medication.name"></button>
        </div>
    </div>
</div>
<!--end search result-->