<span>Update Profile Picture</span>
<div class="row align-center">
    <input type="file" class="hide" id="portrait-image-holder" accept="image/*" on-file-change="file_changed">
    <canvas id="snapshot" class="hide"></canvas>
    <div class="col-xs-6 col-sm-6 col-md-6 col-log-6 btn-upload" onclick="$('#portrait-image-holder').click();">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="">Upload photo</span>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-log-6 btn-take-photo"
         ng-click="reset_take_photo_flags()">
        <span class="glyphicon glyphicon-camera"></span>
        <span class="">Take Photo</span>
    </div>
    <p ng-if="webcamError">{{ webcamError }}</p>
    <!-- This is image preview -->
    <div class="col-xs-12 col-sm-12 col md-12 col-lg-12">
        <div ng-if="get_image_via_camera_flag && !photo_is_taken_flag">
            <webcam channel="channel" on-access-denied="onError(err)" on-streaming="onSuccess()">
            </webcam>
            <button type="button" class="btn btn-primary float-right" ng-click="take_snapshot()">Take photo</button>
        </div>
        <form ng-submit="submit_form()" class="align-center" ng-if="preview_image_src">
            <img ng-src="{{ preview_image_src }}" class="thumbnail thumbnail-custom preview-image">
            <button type="submit" class="btn btn-primary float-right">Save</button>
        </form>
    </div>
</div>
