<form class='form-inline' action='{{image_upload_url()}}' method='POST' enctype='multipart/form-data' id='uploadProblemImageFrm'>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{get_csrftoken()}}">
	<label for="file">File:</label>
	<input type="file" name="file[]" id="file" multiple>
	<input type="submit" class="btn btn-default" name="submit" value="Upload">
</form>

<script>
    $("#file").on("change", function() {
		if($(this)[0].files.length > 5) {
			alert("You can select only 5 images");
		}
	});

	var options = {
		success: function(data){
			if(data['success']==true){
				alert("Uploaded Image!");
				location.reload();
			}else{
				alert("Something went wrong!");
			}
		},
		error: function(data){
			alert("Something went wrong!");
		},
		headers: {'Content-Type': undefined, 'X-CSRFToken': $('[name="csrfmiddlewaretoken"]').val()}
	};

	$('#uploadProblemImageFrm').ajaxForm(options);

    $("#uploadProblemImageFrm").on("submit", function(e) {
		if($("#file")[0].files.length > 5) {
			e.preventDefault();
			alert("You can select only 5 images");
		}
	});
	
</script>

