<!--<toaster-container toaster-options="{'time-out': 1000}"></toaster-container>-->

<div ng-if="!checkPermitted(study, active_user) && !loading">You can not access this page</div>
<div ng-if="checkPermitted(study, active_user)">
    <div class='panel panel-default'>

        <div class='panel-body'>

            <div class='row'>

                <div class='col-md-12'>
                    <a href='#/problem/{{colon_cancer.problem.id}}'><b> Back to problem page </b></a>
                </div>
            </div>

        </div><!-- End of Panel Body -->
    </div>

    <div class='panel panel-default'>

        <div class='panel-body'>

            <div class='row'>

                <div class='col-md-12'>
                    <b> Edit Study </b>
                    <hr>

                    <form class='form-horizontal'>
                        <div class="col-md-12">
                            <div class='form-group'>
                                <label> Finding </label>
                                <select class='form-control'
                                        ng-model="study.finding"
                                        ng-change="update_results(study.finding);">
                                    <option ng-repeat="finding in findings"
                                            value="{{ finding }}"> {{ finding }}
                                    </option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label> Result </label>
                                <select class='form-control'
                                        ng-model="study.result">
                                    <option ng-repeat="result in results"
                                            value="{{ result }}"
                                            ng-selected="study.result === result"> {{ result }}
                                    </option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label> Date </label>
                                <input type='text' class='form-control' ng-model='study.study_date' id="due_date">
                            </div>
                            <div class='form-group'>
                                <label> Note </label>
                                <textarea class='form-control' ng-model='study.note'></textarea>
                            </div>
                            <div class='form-group'>
                                <input ng-click="saveStudy(study)" type='submit' value='Save' class='btn btn-default'>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div><!-- End of Panel Body -->
    </div>

    <div class='panel panel-default'>
        <div class='panel-heading'>
            Images
            <button class='btn btn-sm btn-default' ngf-select="open_image_upload_box($files)" multiple ngf-max-files="5"
                    accept="image/*"> Upload
            </button>
        </div>

        <div class='panel-body' ng-show="study.study_images.length > 0">

            <div class='row'>

                <div class='col-md-2 text-center' ng-repeat='image in study.study_images'>

                        <img ng-src='{{image.image}}' class='thumbnail small-img' ng-click='open_image_box(image)'>
                        <br>

                        <a href="{{image.image}}" target="_blank" class='btn btn-sm btn-default'>View</a>

                        <button class='btn btn-sm btn-danger' ng-click='delete_study_image(image)'>
                            Delete
                        </button>
                        <hr>
                </div>

            </div>

        </div>

    </div>

    <script type='text/javascript'>

        $(document).ready(function () {

            $("#due_date").datepicker({dateFormat: 'mm/dd/yy'});

        });
    </script>
</div>