<center>
    <h3>
        <a href='/'><i class='glyphicon glyphicon-arrow-left'></i> Back To Home </a>
    </h3>
</center>
<hr>

<center><h3> Tag documents</h3></center>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            Document name: <span>{{document.document}}</span>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control"
                   ng-model="patient"
                   uib-typeahead="patient for patient in patients | filter: $viewValue"
                   typeahead-on-select="pinDocument2Problem($viewValue)"
                   placeholder="Find user to pin">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>List of active todo</h1>
            <ul>
                <li ng-repeat="todo in active_todos track by $index">
                    <span ng-bind="todo.todo"></span>
                    <button ng-click="pinDocument2Todo(todo)" class="btn btn-default right">Toggle</button>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h1>List of pinable problem</h1>
            <ul>
                <li ng-repeat="prob in active_probs track by $index | filter : prob.is_active">
                    <span ng-bind="prob.problem_name"></span>
                    <button ng-click="pinDocument2Prob(prob)" class="btn btn-default right">Toggle</button>
                </li>
            </ul>
        </div>
    </div>
</div>
