<div class='row'>


<div class='col-md-3'>


	<div class='panel panel-default'>

		<div class='panel-heading'>
			Options
		</div>
		<div class='panel-body'>

		</div>
	</div>


</div>


<div class='col-md-9'>

		<div class='panel panel-default'>

		<div class='panel-heading'>
			Dashboard
		</div>
		<div class='panel-body'>
			<center>
			<h4 class='text-info'> Users </h4>
			</center>
			<hr>
			<table class='table' >
				<thead>
        <tr>
          <th class="sort selected" sortBy='givenName' sortOrder="desc">First Name</th>
          <th class="sort " sortBy='familyName' sortOrder="desc">Last Name</th>
          <th class="sort " sortBy='login' sortOrder="desc">Username</th>
          <th class="sort " sortBy='birthDate' sortOrder="desc">Date of birth</th>
          <th class="sort " sortBy='sex' sortOrder="desc">Sex</th>
          <th>Contact Number</th>
          <th>Action</th>
        </tr>
        	</thead>

        	<tbody>

        		<tr ng-repeat='user in users'>
        			<td> {{user.user.first_name}} </td>
        			<td> {{user.user.last_name}} </td>
        			<td> {{user.user.username}} </td>
        			<td> {{user.date_of_birth}} </td>
        			<td> {{user.sex}} </td>
        			<td> {{user.phone_number}} </td>
        			<td>

        				<a href='#/edit/{{user.user.id}}/'  class='btn btn-sm btn-default'>
        					Edit 
        				</a>

        				<a href='/u/patient/manage/{{user.user.id}}/' class='btn btn-sm btn-default'  ng-show='user.role=="patient"'>
        					Manage
        				</a>

        				


        			</td>


        		</tr>

        	</tbody>

        </table>

		</div>
	</div>

</div>


</div>