<div class="row ">
    <div class='col-md-12'>
        <!--Search form-->
        <p>Name</p>
        <div class='input-group'>
            <input type='text' class='form-control' ng-model='$ctrl.searchTerm' ng-change="$ctrl.termChanged()"
                   ng-model-options="{debounce: 1000 }"
                   placeholder="Enter medication name"
                   title="Search box">

            <span class='input-group-btn'>
                <button type="button" class='btn btn-default btn-primary'
                        ng-click="$ctrl.onUpdate({value:{name: $ctrl.searchTerm,search_str:$ctrl.searchTerm}});">
                    Add free text medication
                </button>
            </span>
        </div>
        <!--End search form-->
        <br>
        <!-- selected medication from search results-->
        <div ng-show='$ctrl.new_medication.set==true'>
            <hr>
            <label> {{ $ctrl.new_medication.concept_id }} </label>
            {{ $ctrl.new_medication.name }} <br>
            <button class='btn btn-sm btn-primary' ng-click='$ctrl.onUpdate({value:$ctrl.new_medication})'> Add
                snomed based medication (Prefered)
            </button>
            <button class='btn btn-sm btn-default' ng-click='$ctrl.unsetNewMedication()'>Cancel</button>
            <hr>
        </div>
        <!--End selected medication from search results-->
    </div>
</div>

<!--Search result-->
<div class="row no-margin">
    <div class='col-md-12' style='max-height:375px; overflow-x:hidden; overflow-y:auto;'>
        <div ng-repeat='medication in $ctrl.medicationTerms track by $index' style='margin-top:12px;'>
            <button class='btn btn-sm btn-default' ng-click='$ctrl.setMedication(medication)'
                    ng-bind="medication.name"></button>
        </div>
    </div>
</div>
<!--end search result-->