<div class='panel panel-default'>
    <div class='panel-body'>
        <a href='#/'><b> Back to home page </b></a>
    </div><!-- End of Panel Body -->
</div>

<hr>

<div class="container-fluid" id="view_document_page">
    <div class="row">
        <div class="col-md-12 ">
            <span class="pull-left" ng-bind="document.filename"></span>
            <!--Labels-->
            <!--</div>-->
            <!--<div class="col-xs-12  col-sm-12  col-md-4  col-lg-4 text-right">-->
            <div class="pull-right">
                <button class="btn btn-default" ng-click="enableTodoPin=!enableTodoPin"
                        ng-bind="enableTodoPin ? 'Done todo pin' :'Pin todo'"></button>
                <button class="btn btn-default" ng-click="enableProblemPin=!enableProblemPin"
                        ng-bind="enableProblemPin ? 'Done problem pin' :'Pin problem'"></button>
                <button class="btn btn-danger" ng-click="deleteDocument(document)">Delete document</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="label in document.labels track by $index" class="quick-card-editor-label labeled-list"
                 ng-class="label.is_pinned ? '' :''">
                <a class="todo-label" ng-class="label.css_class"
                   ng-click="label.is_pinned ? unpinDocumentLabel(document,label) :pinLabelToDocument(document, label)">
                    <span ng-bind="label.name"></span>
                    <i class="fa fa-check ng-scope" ng-if="label.is_pinned"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span ng-repeat="label in labels track by $index" class="quick-card-editor-label labeled-list"
                 ng-class="label.is_pinned ? '' :''">
                <a class="todo-label" ng-class="label.css_class"
                   ng-click="label.is_pinned ? unpinDocumentLabel(document,label) :pinLabelToDocument(document, label)">
                    <span ng-bind="label.name"></span>
                    <i class="fa fa-check ng-scope" ng-if="label.is_pinned"></i>
                </a>
            </span>
        </div>
    </div>

    <!--View file content section-->
    <div class="row">

        <div class="col-md-12">
            <view-file uri="document.document"
                       content-type="document.file_mime_type[0]"
                       controls="false"
                       allow-modal="false"></view-file>
        </div>
    </div>

    <!--Pinned todo-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>List of pinned todo</p>
        </div>
        <div class="panel-body">
            <ul class="ul-clean no-padding">
                <li ng-repeat="todo in active_todos | filter:(enableTodoPin ? '' :{'is_pinned':true})  track by $index">
                    <div class="item-box flex-container">
                        <button ng-if="enableTodoPin"
                                ng-click="todo.is_pinned ? unpinDocumentTodo(document,todo):pinTodo2Document(document,todo)"
                                ng-class="todo.is_pinned ? 'btn-danger':'btn-primary'"
                                class="btn dube-btn-pin-unpin flex-item pull-left">
                            <span ng-bind="todo.is_pinned ? 'Un pin' : 'Pin'"></span>
                        </button>
                        <span ng-bind="todo.todo" class="flex-item"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--Pinned problem-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>List of pinned problem</p>
        </div>
        <div class="panel-body">
            <ul class="ul-clean no-padding">
                <li ng-repeat="problem in active_probs | filter:(enableProblemPin ? '' :{'is_pinned':true}) track by $index">
                    <div class="item-box flex-container"
                         ng-show="problem.is_active"
                         ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>
                        <button ng-if="enableProblemPin"
                                ng-click="problem.is_pinned ? unpinDocumentProblem(document,problem):pinProblem2Document(document,problem)"
                                ng-class="problem.is_pinned ? 'btn-danger':'btn-primary'"
                                class="btn dube-btn-pin-unpin pull-left flex-item">
                            <span ng-bind="problem.is_pinned ? 'Un pin' : 'Pin'"></span>
                        </button>
                        <span ng-bind="problem.problem_name" class="flex-item"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
