{% extends "base.html" %}

{% block search %}
<form class="navbar-form navbar-left" target="_blank" action="{% url 'staff_search'%}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="query">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}

{% block content %}
<script src="/static/apps/admin/admin.app.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/admin/controllers/homeController.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/admin/controllers/editUserController.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/admin/controllers/addUserController.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/admin/controllers/manageSharingController.js" type="text/javascript" charset="utf-8"></script>

<div id='ng-app' ng-app='AdminApp' class='no-js' lang="en">
    <div>
        <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
        <!--<p class="text-center">-->
        <!--<a href='/old/home'> Go to old Physician/Admin Dashboard </a>-->
        <!--</p>-->

        <div ng-view>
            Loading...
        </div>
    </div>

</div>

{% endblock %}


