<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.jsdelivr.net/jplayer/2.6.1/jquery.jplayer.min.js"></script>
<a href="/patient/{{ patient.id }}/">Go back to patient {{ patient.get_full_name }}</a>
{% if not encounter.audio %}
<form action="" method="post"
enctype="multipart/form-data">
<label for="file">File:</label>
<input type="file" name="audio_file" id="file"><br>
<input type="submit" name="submit" value="Submit">
</form>
{% else %}
<a href="{{ encounter.audio }}">Audio file</a>
{% endif %}
{% if not encounter.video %}
<form action="" method="post"
enctype="multipart/form-data">
<label for="file">File:</label>
<input type="file" name="video_file" id="file"><br>
<input type="submit" name="submit" value="Submit">
</form>
{% else %}
<a href="{{ encounter.video }}">Video file</a>
{% endif %}
{% if not encounter.note %}
<form action="" method="post">
<strong>Note:</strong> <textarea name="note"></textarea>
<input type="submit" name="submit" value="Submit">
</form>
{% else %}
<strong>Note:</strong> {{ encounter.note }}
{% endif %}
<table>

<tr><th>Time</th><th>Summary</th></tr>
{% for event in events %}
<tr><td>{{ event.datetime }}</td><td>{{ event.event.summary }}</td>
{% endfor %}
</table>
