<style>
     body {background:white;     font:15px arial,sans-serif;}
     
</style>

<title>Dr Ryan's</title>


<form action='/login/' method="post">
<strong>Email:</strong> <input type="text" name="email" autofocus/>
<strong>Password:</strong> <input type="password" name="password" />
<input type="submit" value="Submit" />
</form>
<br/>
<br/>

<br/>
<a href="/login/google-oauth2/">Login with Google</a>
<br/>
<br/>
<strong>Email:</strong> <input type="text" name="email" autofocus/>
<p><strong>First time?</strong> All accounts are approved by Dr.Ryan, go ahead and enter your email address, and create a password below and we will be in touch with you soon.</p>
<br/>
<strong>Email:</strong> <input type="text" name="emailNew" />
<br/>
<strong>Password:</strong> <input type="password" name="password" />
<br/>
<strong>Re-enter password:</strong> <input type="password" name="password" />

