{% extends "base.html" %}

{% block content %}


<div class='row'>

    <div class='col-md-6'>

        <div class='panel panel-info'>

            <div class='panel-heading'>Login</div>

            <div class='panel-body'>

                {% for error in login_errors %}
                <p class='text-info'>{{ error }}</p>
                {% endfor %}

                <form action='/u/login/' class='form' method="post" role='form'>
                    {% csrf_token %}
                    <div class='form-group'>
                        <label> Username </label>
                        <input autofocus class='form-control' name="username" required type="text"/>

                    </div>


                    <div class='form-group'>
                        <label> Password </label>
                        <input class='form-control' name="password" required type="password"/>

                    </div>

                    <div class='form-group'>
                        <center>
                            <button class='btn btn-default' type='submit'>Submit</button>
                        </center>
                    </div>

                </form>
            </div>

        </div>


    </div>

    <div class='col-md-6'>


        <div class='panel panel-info'>

            <div class='panel-heading'> Register</div>

            <div class='panel-body'>


                <form action="/u/register/" class='form' method="post" role='form'>
                    {% csrf_token %}
                    <p class='lead'><b>First time?</b> <br>
                        All accounts are approved by Dr. Ryan.<br> Go ahead and enter your email address and create
                        a password below, and we will be in touch with you soon.
                    </p>

                    {% if register_errors %}
                    <hr>
                    {% for error in register_errors %}
                    <p class='text-info'>{{ error }}</p>
                    {% endfor %}

                    {% endif %}

                    <hr>

                    <div class='form-group'>
                        <label> Email </label>

                        <input class='form-control' name='email' required type='email'>
                    </div>

                    <div class='form-group'>
                        <label> Password </label>

                        <input class='form-control' name='password' required type='password'>
                    </div>

                    <div class='form-group'>
                        <label>Re-enter Password</label>

                        <input class='form-control' name='verify_password' required type='password'>
                    </div>

                    <div class='form-group'>
                        <label> First Name </label>
                        <input class='form-control' name='first_name' type='text'>
                    </div>

                    <div class='form-group'>
                        <label> Last Name </label>
                        <input class='form-control' name='last_name' type='text'>
                    </div>

                    <div class='form-group'>
                        <button class='btn btn-primary' type='submit'> Register</button>
                    </div>


                </form>


            </div>

        </div>


    </div>

</div>


{% endblock %}