{% extends "base/base.html" %}
{% block title %}  Manage Patient - {{ patient.get_full_name }}   {% endblock %}

{% block search %}
<form class="navbar-form navbar-left" target="_blank" action="{% url 'search' patient.id %}" method="post">
    {% csrf_token %}
    <input type='hidden' name='patient_id' value='{{ user.id }}'>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="query">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Submit</button>
        </span>
    </div>
</form>
{% endblock %}

{% block patient_header%}
<li>
    <a href="#/" class="headerWrap">
        {% if patient_profile.portrait_image %}
        <img src="{{ patient_profile.portrait_image.url }}" alt="" class="profileThumb">
        {% endif %}
        {{patient.get_full_name}} {{ patient_profile.date_of_birth | date:"m/d/Y"}}
    </a>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="vitals_info">
            <div class="vital-wrapper">
                <div class="vital-item" title="BLOOD PRESSURE">
                    <p class="vital_title">BP</p>
                    <span class="vital" id="vitals_blood_pressure"></span>
                </div>
                <div class="vital-item" title="BODY TEMPERATURE">
                    <p class="vital_title">W</p>
                    <span class="vital" id="vitals_body_temperature"></span>
                </div>
                <div class="vital-item" title="WEIGHT">
                    <p class="vital_title">T</p>
                    <span class="vital" id="vitals_weight"></span>
                </div>
                <div class="vital-item" title="HEART RATE">
                    <p class="vital_title">P</p>
                    <span class="vital" id="vitals_heart_rate"></span>
                </div>
            </div>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href='#/edit/'>My account</a></li>
    </ul>
</li>
{% endblock %}

{% block content %}
<script src="/static/apps/patient_manager/app.js" type="text/javascript" charset="utf-8"></script>

<script src="/static/apps/patient_manager/controllers/home.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/problems.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/goals.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/encounter-page.controller.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/encounter-bfdi.controller.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/todo.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/editUserController.js" type="text/javascript"
        charset="utf-8"></script>

<!--A1C module's components-->
<script src="/static/apps/a1c/a1c-new-order.controller.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/a1c/a1c-new-value.controller.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/a1c/a1c-edit-delete-value.controller.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/a1c/a1c-edit-value.controller.js" type="text/javascript"
        charset="utf-8"></script>

<script src="/static/apps/patient_manager/controllers/manageSharingController.js" type="text/javascript"
        charset="utf-8"></script>

<!--Services-->
<script src="/static/apps/patient_manager/controllers/colon.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/portraitUpdateDialogController.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/data.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/controllers/medication.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/patient.service.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/problemService.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/encounterFailSafeService.js" type="text/javascript"></script>
<script src="/static/apps/patient_manager/services/goalService.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/encounterService.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/todoService.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/a1c.service.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/colonService.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/dataService.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/services/medicationService.js" type="text/javascript"
        charset="utf-8"></script>

<!--Directives-->
<script src="/static/apps/patient_manager/directives/directives.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/patient_manager/directives/timeline.directive.js" type="text/javascript"
        charset="utf-8"></script>
<!--<script src="/static/apps/todo/todo-item.component.js" type="text/javascript"-->
<!--charset="utf-8"></script>-->
<script src="/static/apps/patient_manager/directives/todo.directive.js" type="text/javascript"
        charset="utf-8"></script>

<script src="/static/apps/patient_manager/directives/a1c.directive.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/directives/problem.directive.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/directives/colon-cancer.directive.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/apps/patient_manager/directives/medication.directive.js" type="text/javascript"
        charset="utf-8"></script>

<div id='ng-app' ng-app='ManagerApp' class='no-js' lang='en'
     ng-init="active_user={{active_user}};patient_info={{patient_info}};
     bleeding_risk={{bleeding_risk}};patient_id={{patient.id}};user_id={{user.id}}">

    <input type='hidden' id='patient_id' value='{{ patient.id }}'>
    <input type='hidden' id='user_id' value='{{ user.id }}'>
    <input type="hidden" id="fit_and_well" value="{{fit_and_well}}">

    <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>

    <div ng-view autoscroll='true'>
        Loading ....
    </div>

    {% verbatim %}
    <div id='encounter-bar' class='bottom-bar' ng-controller='EncountersMainCtrl'
         ng-if="active_user.permissions.indexOf('add_encounter') != -1">

        <!-- Client UI response for recording states-->
        <div class='row' id='encounter-box'>
            <!-- Don't have an active encounter-->
            <div class='col-md-12' ng-show='activeEncounter == null'>
                <button class='btn btn-warning btn-md' ng-click='start_encounter()'>
                    Start Encounter
                </button>
            </div>

            <!-- Having an active encounter-->
            <div class='col-md-12' ng-show='activeEncounter != null'>
                <div class='row'>
                    <div class='col-md-6'>
                        <div ng-show="activeEncounter.recorder_status != 2">
                            <button class='btn btn-warning btn-md' ng-click='stop_encounter()'> Stop Encounter</button>

                            <span ng-show="settings.browser_audio_recording">
                                <!-- This is control used to record audio in client side-->
                                <ng-audio-recorder id='audioInput' show-player="false" audio-model='recordedInput'
                                                   style="display: none"
                                                   on-record-start="recordStart()"
                                                   on-record-complete="recordComplete()"
                                                   on-conversion-start="conversionStart()"
                                                   on-conversion-complete="conversionComplete()">
                                    <div ng-if="!recorder.isAvailable"> Your browser is not support recording</div>
                                </ng-audio-recorder>

                                <!-- Pause/Resume recorder while encountering | Disable while converting -->
                                <button type="button" class="btn btn-default" ng-click='toggle_recorder()'>
                                    <span ng-if="activeEncounter.recorder_status==1" class="glyphicon glyphicon-play"
                                          title="Resume" aria-hidden="true"></span>
                                    <span ng-if="activeEncounter.recorder_status==0" class="glyphicon glyphicon-pause"
                                          title="Pause" aria-hidden="true"></span>
                                </button>
                            </span>

                            <button class='btn btn-default btn-md' ng-click='view_encounter()'> View Encounter</button>
                            <span>Recorded time: {{ elapsedTime*1000 | duration }}</span>
                        </div>

                        <!--Audio conversion & uploading status only if there is stop command-->
                        <div ng-show="activeEncounter.recorder_status == 2">
                            <label ng-if="encounterCtrl.status.isConverting">Converting encounter...</label>
                            <label ng-if="encounterUploading">Uploading encounter...</label>
                        </div>
                    </div>

                    <div class='col-md-6'>
                        <div class="input-group">
                            <input type='text' ng-model='event_summary' placeholder='What are you doing right now ?'
                                   class='form-control'>
                            <span class="input-group-btn">
                                <button class='btn btn-default' ng-click='add_event_summary()'>
                                    Add Event Summary
                                </button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endverbatim %}
</div>
{% endblock %}
{% block page_js %}
{% endblock %}
{% block page_css %}
{% endblock %}
