{% extends "base/base.html" %}

{% block content %}

<script src="/static/apps/common/httpModule.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/staff/app.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/admin/directives/directives.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/staff/controllers/homeController.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/staff/controllers/todo.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/staff/services/staffService.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/staff/services/physicianService.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/staff/services/todoService.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/apps/staff/directives/todoDirective.js" type="text/javascript" charset="utf-8"></script>

<input type='hidden' id='user_id' value='{{user.id}}'>

<div class='row'>

	<div class='col-md-3'>
		<div class='panel panel-default'>

			<div class='panel-heading'>
				 Info
			</div>
			<div class='panel-body'>
				<b> Name </b>:  {{user.first_name}} {{user.last_name}} 
				<br>
				<b> Role </b>:  {{user_profile.get_role_display}}
				<br>
				<b> Username </b>:  {{user.username}}
				<br>
				{% if user_profile.role == 'physician' %}
					<a class='btn btn-default' href='/project/admin/#/add/user'>Add User</a>
				{% endif %}
				</br>
				</br>
		        <a class='btn btn-default' href='/project/admin/#/manage/sharing'>
		          Manage sharing between patients
		        </a>
			</div>

		</div>
	</div>

	<div class='col-md-9'>

		<div id='ng-app' ng-app='StaffApp' class='no-js' lang-'en'>

			<div ng-view>
				Loading...
			</div>

		</div>

		{% if user_profile.role == 'mid-level' or user_profile.role == 'nurse' or user_profile.role == 'secretary' %}
		<div class='panel panel-default'>

			<div class='panel-heading'>
				 Physicians Assigned
			</div>
			<div class='panel-body'>

				{% for physician in physicians %}

					{{physician.first_name}} {{physician.last_name}} {{physician.username}}
				{% endfor %}

			</div>

		</div>

		<div class='panel panel-default'>
			<div class='panel-heading'>
				 Patients Assigned
			</div>
			<div class='panel-body'>

				<table class='table'>

					<thead>
						<th> Name </th>
						<th> Username </th>
						<th> Actions </th>
					</thead>

					<tbody>
						{% for patient in patients %}
						<tr>
							<td> {{patient.first_name}} {{patient.last_name}} </td>
							<td> {{patient.username}} </td>
							<td>
								<a href='/u/patient/manage/{{patient.id}}/'>
									Manage Patient 
								</a> 
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>


			</div>



		</div>
		{% endif %}

	</div>

</div>



{% endblock %}