{% extends "base.html" %}

{% block search %}
<form action="{% url 'staff_search' %}" class="navbar-form navbar-left" method="post" target="_blank">
    {% csrf_token %}
    <div class="input-group">
        <input class="form-control" name="query" placeholder="Search" type="text">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Submit</button>
        </span>
    </div>
</form>
{% endblock %}
{% block patient_header %}
<li><a href='/logout'>Logout</a></li>
{% endblock %}

{% block content %}

<script src="/static/apps/staff/staff.app.js" type="text/javascript"></script>

<!--Controllers-->
<script src="/static/apps/staff/home-page/home.controller.js" type="text/javascript"></script>
<script src="/static/apps/staff/staff-todo-page/staff-todo-page.controller.js" type="text/javascript"></script>
<script src="/static/apps/staff/manage-sharing-page/share-management.controller.js" type="text/javascript"></script>
<script src="/static/apps/staff/manage-sharing-patient-page/share-management.controller.js"
        type="text/javascript"></script>
<script src="/static/apps/staff/manage-sharing-problem-page/share-management.controller.js"
        type="text/javascript"></script>
<script src="/static/apps/staff/problem-common-page/problem-common.controller.js" type="text/javascript"></script>
<script src="/static/apps/staff/upload-document-page/document-upload.controller.js" type="text/javascript"></script>
<script src="/static/apps/staff/uploaded-document-page/document-uploaded.controller.js" type="text/javascript"></script>
<script src="/static/apps/staff/setting-page/setting-page.controller.js" type="text/javascript"></script>

<input id='user_id' type='hidden' value='{{ user.id }}'>

<div class='row'>
    <div class='col-md-3'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Info
            </div>
            <div class='panel-body'>
                <p>
                    <b> Name </b>: {{ user.first_name }} {{ user.last_name }}
                </p>
                <p>
                    <b> Role </b>: {{ user_profile.get_role_display }}
                </p>
                <p>
                    <b> Username </b>: {{ user.username }}
                </p>

                <a class='btn btn-default btn-manage' href='/project/admin/#!add/user'>Add User</a>

                <a class='btn btn-default btn-manage' href='/#!manage/sharing'>
                    Manage patient sharing
                </a>

                {% if user_profile.role == 'mid-level' or user_profile.role == 'physician' %}
                <a class='btn btn-default btn-manage' href='/#!manage/common_problems'>
                    Add common problems
                </a>

                {% endif %}
                {% if user_profile.role != 'patient' %}
                <a class='btn btn-default btn-manage' href='/#!manage/upload_documents'>
                    Upload documents
                </a>

                <a class='btn btn-default btn-manage' href='/#!manage/uploaded'>
                    Manage uploaded documents
                </a>
                {% if user_profile.role == 'admin' or user_profile.role == 'physician' %}

                <a class='btn btn-default btn-manage' href='/#!manage/setting'>
                    Settings
                </a>
                {% endif %}
                {% endif %}

            </div>

        </div>
    </div>

    <div class='col-md-9'>
        <!-- TODO: User_Id is an User_ID instant-->
        <!-- TODO: active_user is an UserProfile instant-->
        <div class='no-js' id='ng-app' lang="en" ng-app='StaffApp'
             ng-init="active_user={{active_user}};user_id={{user.id}}">
            <div ng-view>
                Loading...
            </div>
            <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
        </div>
        {% if user_profile.role == 'mid-level' or user_profile.role == 'nurse' or user_profile.role == 'secretary' %}
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Physicians Assigned
            </div>
            <div class='panel-body'>
                {% for physician in physicians %}
                <p>{{physician.first_name}} {{physician.last_name}} {{physician.username}}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
