{% extends "base.html" %}

{% block search %}
    <form class="navbar-form navbar-left" target="_blank" action="{% url 'staff_search' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="query">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Submit</button>
        </span>
        </div>
    </form>
{% endblock %}
{% block patient_header %}
    <li><a href='/logout'>Logout</a></li>
{% endblock %}

{% block content %}

    <script src="/static/apps/staff/staff.app.js" type="text/javascript"></script>

    <!--Controllers-->
    <script src="/static/apps/staff/controllers/home.controller.js" type="text/javascript"></script>
    <script src="/static/apps/staff/controllers/todo.controller.js" type="text/javascript"></script>
    <script src="/static/apps/staff/controllers/share-management.controller.js" type="text/javascript"></script>
    <script src="/static/apps/staff/controllers/problem-common.controller.js" type="text/javascript"></script>
    <script src="/static/apps/staff/controllers/document-upload.controller.js" type="text/javascript"></script>
    <script src="/static/apps/staff/controllers/document-uploaded.controller.js" type="text/javascript"></script>

    <!--Directives-->
    <script src="/static/apps/staff/directives/todo.directive.js" type="text/javascript"></script>

    <script src="/static/apps/staff/setting-page/setting-page.controller.js" type="text/javascript"></script>

    <input type='hidden' id='user_id' value='{{ user.id }}'>

    <div class='row'>
        <div class='col-md-3'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    Info
                </div>
                <div class='panel-body'>
                    <p>
                        <b> Name </b>: {{ user.first_name }} {{ user.last_name }}
                    </p>
                    <p>
                        <b> Role </b>: {{ user_profile.get_role_display }}
                    </p>
                    <p>
                        <b> Username </b>: {{ user.username }}
                    </p>

                    <a class='btn btn-default btn-manage' href='/project/admin/#/add/user'>Add User</a>

                    <a class='btn btn-default btn-manage' href='/#/manage/sharing'>
                        Manage patient sharing
                    </a>

                    {% if user_profile.role == 'mid-level' or user_profile.role == 'physician' %}
                        <a class='btn btn-default btn-manage' href='/#/manage/common_problems'>
                            Add common problems
                        </a>

                    {% endif %}
                    {% if user_profile.role != 'patient' %}
                        <a class='btn btn-default btn-manage' href='/#/manage/upload_documents'>
                            Upload documents
                        </a>

                        <a class='btn btn-default btn-manage' href='/#/manage/uploaded'>
                            Manage uploaded documents
                        </a>
                        {% if user_profile.role == 'admin' or user_profile.role == 'physician' %}

                            <a class='btn btn-default btn-manage' href='/#/manage/setting'>
                                Settings
                            </a>
                        {% endif %}
                    {% endif %}

                </div>

            </div>
        </div>

    <div class='col-md-9'>
        <!-- TODO: User_Id is an User_ID instant-->
        <!-- TODO: active_user is an UserProfile instant-->
        <div id='ng-app' ng-app='StaffApp' class='no-js' lang="en"
             ng-init="active_user={{active_user}};user_id={{user.id}}">
            <div ng-view>
                Loading...
            </div>
            <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
        </div>
        {% if user_profile.role == 'mid-level' or user_profile.role == 'nurse' or user_profile.role == 'secretary' %}
        <div class='panel panel-default'>
            <div class='panel-heading'>
                Physicians Assigned
            </div>
            <div class='panel-body'>
                {% for physician in physicians %}
                <p>{{physician.first_name}} {{physician.last_name}} {{physician.username}}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
