<div class='row'>
    <div class='col-md-3'>
        <div id="profile-navigation">
            <ul>
                <li>
                    <button class='btn btn-link' ng-click='navigate("basic-info")'>
                        Basic Information
                    </button>
                </li>

                <li>
                    <button class='btn btn-link' ng-click='navigate("profile-info")'>
                        Profile Information
                    </button>
                </li>

                <li>
                    <button class='btn btn-link' ng-click='navigate("image-info")'>
                        Profile Images
                    </button>
                </li>
                <li>
                    <button class='btn btn-link' ng-click='navigate("email-info")'>
                        Email Information
                    </button>
                </li>

                <li>
                    <button class='btn btn-link' ng-click='navigate("password-info")'>
                        Password Information
                    </button>
                </li>
                <li>
                    <button class='btn btn-link' ng-click='navigate("manage-patient")'>
                        Manage Sharing
                    </button>
                </li>
                <li>
                    <button class='btn btn-link' ng-click='navigate("insurance")'>
                        Insurance Information
                    </button>
                </li>
            </ul>

        </div>
    </div>

    <div class='col-md-9'>
        <section id="basic-info">
            <div class='panel panel-default'>
                <div class='panel-heading'>Basic Information</div>
                <div class='panel-body'>

                    <form class='form' ng-submit='updateBasicProfile()'>

                        <div class='form-group'>
                            <label for="first-name"> First Name </label>
                            <input id="first-name" type='text' ng-model='patient_info.user.first_name'
                                   class='form-control'>
                        </div>
                        <div class='form-group'>
                            <label for="last-name"> Last Name </label>
                            <input id="last-name" type='text' ng-model='patient_info.user.last_name'
                                   class='form-control'>
                        </div>
                        <div class='form-group'>
                            <input type='submit' value='Update' class='btn btn-primary pull-right'>
                        </div>

                    </form>

                </div>
            </div>
        </section>
        <section id='profile-info'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Profile Information</div>
                <div class='panel-body'>
                    <form class='form' name="profileInfoForm" novalidate ng-submit='updateProfile()'>

                        <div class='form-group'>
                            <label for="date-of-birth"> Date of birth</label>
                            <div class="input-group">
                                <input id="date-of-birth"
                                       class="form-control"
                                       placeholder="Choose a date"
                                       uib-datepicker-popup="{{dateFormat}}"
                                       datepicker-options="DATEPICKER_OPTS"
                                       is-open="datePickerOpened"
                                       ng-model='profileInfoFormModel.dateOfBirth'/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="datePickerOpened =!datePickerOpened ">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for="phone-number">
                                Phone/Contact
                            </label>
                            <input id="phone-number" type='text' ng-model='profileInfoFormModel.phoneNumber'
                                   class='form-control'>
                        </div>

                        <div class='form-group'>

                            <label for="sex">
                                Sex
                            </label>

                            <select id="sex" ng-model='profileInfoFormModel.sex' class='form-control'>
                                <option value=''> ----</option>
                                <option value='male'> Male</option>
                                <option value='female'> Female</option>
                            </select>
                        </div>
                        <div class='form-group'>
                            <label for="summary">
                                Summary
                            </label>
                            <textarea id="summary" ng-model='profileInfoFormModel.summary' class='form-control'
                                      msd-elastic></textarea>
                        </div>

                        <div class='form-group'>
                            <input type='submit' value='Update' class='btn btn-primary pull-right'>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section id='image-info'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Profile Image</div>
                <div class='panel-body'>

                    <form class='form' ng-submit='updateImage()'>

                        <div class='form-group'>
                            <img ng-src='{{ patient_info.cover_image }}' class='cover' alt='Cover Image'>
                            <label> Cover Image </label>
                            <input type='file' file-model='files.cover_image'>
                        </div>
                        <div class='form-group'>
                            <img ng-src='{{ patient_info.portrait_image }}' class='thumbnail' alt='Portrait Image'>
                            <label> Portrait Image </label>
                            <input type='file' file-model='files.portrait_image'>
                        </div>
                        <div class='form-group'>
                            <input type='submit' value='Update' class='btn btn-primary pull-right'>
                        </div>

                    </form>
                </div>
            </div>
        </section>
        <section id='email-info'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Email</div>
                <div class='panel-body'>

                    <form class='form' ng-submit='updateEmail()'>

                        <div class='form-group'>
                            <label for="email"> Email </label>
                            <input id="email" type='text' class='form-control' ng-model='patient_info.user.email'>
                        </div>

                        <div class='form-group'>
                            <input type='submit' value='Change Email' class='btn btn-primary pull-right'>

                        </div>

                    </form>
                </div>
            </div>
        </section>
        <section id='password-info'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Password</div>
                <div class='panel-body'>

                    <form class='form' ng-submit="updatePatientPassword()">

                        <div class='form-group'>
                            <label for="old-password"> Current Password </label>
                            <input id="old-password" type='password' class='form-control' ng-model='old_password'>
                        </div>

                        <div class='form-group'>
                            <label for="password"> New Password </label>
                            <input id="password" type='password' class='form-control' ng-model='password'>
                        </div>


                        <div class='form-group'>
                            <label for="re-password"> Verify Password </label>
                            <input id="re-password" type='password' class='form-control' ng-model='repassword'>
                        </div>

                        <div class='form-group'>
                            <button class='btn btn-primary pull-right' type="submit">
                                Change Password
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
        <section id='manage-patient'>
            <div class='panel panel-default'>

                <div class='panel-heading'>Manage Sharing</div>
                <div class='panel-body'>
                    <a ng-href="#!manage/sharing/" class='btn btn-sm btn-default'>
                        Manage
                    </a>

                    <h4>People that can access me: </h4>
                    <table class='table'>
                        <thead>
                        <tr>
                            <th> Name</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='p in sharing_patients'>
                            <td> {{ p.user.first_name }} {{ p.user.last_name }}
                            </td>
                            <td>
                                <a ng-href="#!manage/sharing/" class='btn btn-sm btn-default'>
                                    Manage
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>

                    <h4>People I can access: </h4>
                    <table class='table'>
                        <thead>
                        <tr>
                            <th> Name</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='p in shared_patients'>
                            <td> {{ p.user.first_name }} {{ p.user.last_name }}
                            </td>
                            <td>
                                <a ng-href="/u/patient/manage/{{ p.user.id }}" class='btn btn-sm btn-default'>
                                    Access chart
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section id="insurance">
            <div class='panel panel-default'>
                <div class='panel-heading'><b> Insurance </b></div>

                <div class='panel-body'>
                    <form novalidate ng-submit="submitInsurance()">
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" id="insurance-medicare" ng-model="insuranceForm.medicare"
                                       title="Patient has medicare">
                                <label for="insurance-medicare"> Patient has Medicare </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="insurance-note"></label>
                            <textarea id="insurance-note" msd-elastic class="form-control"
                                      ng-model="insuranceForm.note"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary pull-right" type="submit"> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>