<div class="todos-container" ng-show='todoList.length'>
    <ul ui-sortable="sortableOptions" ng-model="todoList" class="no-padding">
        <li class="list-group-item todo patient-todo"
            ng-repeat="item in todoList track by $index" ng-show="checkSharedProblem(item.problem, sharing_patients)">
            <!--Data is passed down to the item component-->
            <todo-item item="item" show-problem="showProblem" labels="labels" members="members"
                       edit-started="onTodoEditStarted" edit-finished="onTodoEditFinished"
                       patient-id="patientId" user-id="userId" active-user="activeUser"></todo-item>
        </li>
    </ul>
</div>