<div class='panel panel-default'>
    <div class='panel-heading' ng-click="taggedTodoCollapsed ? openTaggedTodo(): closeTaggedTodo()">
        <i class="fa fa-caret-right" ng-class="taggedTodoCollapsed ? 'fa-caret-right':'fa-caret-down'"></i>
        Tagged Todos <span class="new-todo" ng-if="newTaggedTodo > 0">({{ newTaggedTodo }})</span>
    </div>
    <div class='panel-body' ng-if="!taggedTodoCollapsed">
        <wave-spinner ng-if="!todos_ready"></wave-spinner>
        <todo ng-model="tagged_todos" accomplished="false" show-problem="true" is-tagged="true"></todo>
        <hr>
        <a class='btn btn-default btn-md' ng-click="showAccomplishedTaggedTodos=!showAccomplishedTaggedTodos"
           ng-bind='showAccomplishedTaggedTodos?"Hide accomplished Todos" :"Show accomplished Todos"'>
        </a>
        <hr>
        <todo ng-if='showAccomplishedTaggedTodos'
              ng-model="tagged_todos"
              accomplished="true"
              show-problem="true"
              is-tagged="true"></todo>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-heading'>Top Patients List</div>
    <div class='panel-body'>
        <table class='table'>
            <thead>
            <tr>
                <th> Name</th>
                <th class="cursor-pointer" ng-click="sortBy('problem')"> P
                    <i class="fa pull-right" ng-if="'problem'== sortingKey"
                       ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"></i>
                </th>
                <th class="cursor-pointer" ng-click="sortBy('todo')"> T
                    <i class="fa pull-right" ng-if="'todo'== sortingKey"
                       ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"></i>
                </th>
                <th class="cursor-pointer" ng-click="sortBy('encounter')"> E
                    <i class="fa pull-right" ng-if="'encounter'== sortingKey"
                       ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"></i>
                </th>
                <th class="cursor-pointer" ng-click="sortBy('document')"> D
                    <i class="fa pull-right" ng-if="'document'== sortingKey"
                       ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"></i>
                </th>
                <th> Multiply</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='patient in patients_list' ng-show="$index < 10 || show_all">
                <td><a href='/u/patient/manage/{{ patient.id }}/'>
                    {{ patient.name }}
                </a>
                </td>
                <td> {{ patient.problem | number:0 }}</td>
                <td> {{ patient.todo | number:0 }}</td>
                <td> {{ patient.encounter | number:0 }}</td>
                <td> {{ patient.document | number:0 }}</td>
                <td> {{ patient.multiply | number:0 }}</td>
            </tr>
            </tbody>
        </table>
        <a href class="btn btn-default" ng-click="show_all=!show_all">
            <span ng-bind='show_all? "Not show all":"Show all"'></span>
        </a>
    </div>
</div>
<div class='panel panel-default' ng-if="active_user.role=='secretary'">
    <div class='panel-heading'>
        List of all todos for all patients that have been generated in the past 24 hours
        ({{ new_generated_todos_list.length }})
    </div>
    <div class='panel-body'>
        <table class='table'>
            <thead>
            <th> Name</th>
            </thead>
            <tbody>
            <tr ng-repeat='todo in new_generated_todos_list'>
                <td>
                    {{ todo.todo }}
                    <span ng-if="todo.patient"> for patient
                      <a href="/u/patient/manage/{{ todo.patient.id }}/">{{ todo.patient.first_name }} {{ todo.patient.last_name }}</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class='panel panel-default' ng-if="active_user.role=='secretary'">
    <div class='panel-heading'>List all physicians</div>
    <div class='panel-body'>
        <p ng-repeat='physician in new_generated_physicians_list'>
            {{ physician.user.first_name }} {{ physician.user.last_name }} {{ physician.user.username }}
        </p>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-heading' ng-click="showLabeledTodoList=!showLabeledTodoList">
        <i class="fa " aria-hidden="true" ng-class="showLabeledTodoList?'fa-caret-down':'fa-caret-right'"></i>
        <span ng-bind="showLabeledTodoList ?'Labeled to do lists':'Add new labeled todo list' "></span>
    </div>
    <div class='panel-body' ng-show="showLabeledTodoList">
        <form class='form-inline' role='form'>
            <div class='form-group'>
                <label> Labeled to do list name
                    <input type='text' class="form-control" ng-model='new_list.name'> </label>
                <br>
                <div class="quick-card-editor-label labeled-list">
                    <div ng-repeat="label in labels track by $index">
                        <a href class="todo-label" ng-class="label.css_class"
                           ng-click="add_new_list_label(new_list, label)">
                            <span ng-bind="label.name"></span>
                            <i class="fa fa-check" ng-repeat="l in new_list.labels track by $index"
                               ng-if="l.id==label.id"></i>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <button type='button' ng-click="add_todo_list(new_list,1)" class='btn btn-primary'>Add list only for me
            </button>
            <button type='button' ng-click="add_todo_list(new_list,0)" class='btn btn-danger'
                    ng-if="['admin','physician'].indexOf(active_user.role) != -1">Add list for all users
            </button>
            <br>
        </form>
    </div>
</div>
<div class='panel panel-default' ng-repeat="list in todo_lists track by $index"
     ng-init="list.show_accomplished=false;list.collapse=false;">
    <div class='panel-heading' ng-click="openTodoList(list);">
        <i class="fa fa-caret-down" aria-hidden="true" ng-if="list.collapse"></i>
        <i class="fa fa-caret-right" aria-hidden="true" ng-if="!list.collapse"></i>
        {{ list.name }} ({{(list.todos | filter:{'accomplished':false}).length}} todos, {{ getNewTodos(list)}} are new)
        <a href class="btn btn-danger" ng-click="delete_list(list)"
           ng-if="list.collapse && list.user.id == active_user.id">Delete</a></div>
    <div class='panel-body' ng-if="list.collapse">
        <todo ng-model="list.todos" accomplished="false" show-problem="true" is-list="list.id"></todo>
        <hr>
        <a class='btn btn-default btn-md' ng-click='list.show_accomplished=!list.show_accomplished'>
            <span ng-if='list.show_accomplished==false'>Show accomplished Todos </span>
            <span ng-if='list.show_accomplished==true'>Hide accomplished Todos </span>
        </a>
        <hr>
        <div class="col-md-12" ng-show='list.show_accomplished==true'>
            <todo ng-model="list.todos" accomplished="true" show-problem="true" is-list="list.id"></todo>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'> Personal Todos</div>
    <div class='panel-body'>
        <todo ng-model="personal_todos" accomplished="false" show-problem="true" is-tagged="false"></todo>
        <a class='btn btn-default btn-md' ng-click='show_accomplished_personal_todos=!show_accomplished_personal_todos'>
            <span ng-bind='show_accomplished_personal_todos? "Hide accomplished Todos ":"Show accomplished Todos "'></span>
        </a>
        <todo ng-if="show_accomplished_personal_todos" ng-model="personal_todos" accomplished="true" show-problem="true"
              is-tagged="false"></todo>
        <form class='form-inline' role='form' ng-submit='add_todo(new_todo)'>
            <div class='form-group'>
                <label> Todo name </label>
                <input type='text' ng-model='new_todo.name' title="Todo name" class="form-control" id='todoNameInput'>
            </div>
            <button type='submit' class='btn btn-default'> Add Todo</button>
        </form>
    </div>
</div>

<div ng-if="active_user.role=='physician'" class="physician-view">
    <!--<div class='panel panel-default'>-->
    <!--<div class='panel-heading'>-->
    <!--Registered Users-->
    <!--</div>-->
    <!--<div class='panel-body'>-->
    <!--<h4 class='text-info text-center'> Registered Users </h4>-->
    <!--<hr>-->
    <!--<input type='text' class='form-control' ng-model='query_users' placeholder='Search...'>-->
    <!--<hr>-->
    <!--<table class='table'>-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th class="sort selected" sortBy='givenName' sortOrder="desc">First Name</th>-->
    <!--<th class="sort " sortBy='familyName' sortOrder="desc">Last Name</th>-->
    <!--<th class="sort " sortBy='login' sortOrder="desc">Username</th>-->
    <!--<th class="sort " sortBy='birthDate' sortOrder="desc">Role</th>-->
    <!--<th class="sort " sortBy='sex' sortOrder="desc">Sex</th>-->
    <!--<th>Contact Number</th>-->
    <!--<th>Action</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat='user in users|filter:query_users'>-->
    <!--<td> {{user.user.first_name}}</td>-->
    <!--<td> {{user.user.last_name}}</td>-->
    <!--<td> {{user.user.username}}</td>-->
    <!--<td> {{user.role}}</td>-->
    <!--<td> {{user.sex}}</td>-->
    <!--<td> {{user.phone_number}}</td>-->
    <!--<td>-->
    <!--<a href='/project/admin/#/edit/{{user.user.id}}/' class='btn btn-sm btn-default'>-->
    <!--Edit-->
    <!--</a>-->
    <!--<a href='/u/patient/manage/{{user.user.id}}/' class='btn btn-sm btn-default'-->
    <!--ng-show='user.role=="patient"'>-->
    <!--Manage-->
    <!--</a>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class='panel panel-default' id='patientsAssignedInfo'>-->
    <!--<div class='panel-heading'> Patients Assigned</div>-->
    <!--<div class='panel-body'>-->
    <!--<table class='table'>-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th> Name</th>-->
    <!--<th> Username</th>-->
    <!--<th> Contact Number</th>-->
    <!--<th> Actions</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat='patient in patients'>-->
    <!--<td> {{patient.user.first_name}} {{patient.user.last_name}}</td>-->
    <!--<td> {{patient.user.username}}</td>-->
    <!--<td> {{patient.phone_number}}</td>-->
    <!--<td><a href='/u/patient/manage/{{patient.user.id}}/' class='btn btn-sm btn-default'-->
    <!--ng-show='patient.role=="patient"'>-->
    <!--Manage-->
    <!--</a>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <div class='panel panel-default' id='nursesAssignedInfo'>
        <div class='panel-heading'> Nurses Assigned</div>
        <div class='panel-body'>
            <table class='table'>
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Username</th>
                    <th> Contact Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='nurse  in team.nurses'>
                    <td> {{ nurse.user.first_name }} {{ nurse.user.last_name }}</td>
                    <td> {{ nurse.user.username }}</td>
                    <td> {{ nurse.phone_number }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel panel-default' id='midLevelAssignedInfo'>
        <div class='panel-heading'> Mid-Level Assigned</div>
        <div class='panel-body'>
            <table class='table'>
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Username</th>
                    <th> Contact Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='staff  in team.mid_level_staffs'>
                    <td> {{ staff.user.first_name }} {{ staff.user.last_name }}</td>
                    <td> {{ staff.user.username }}</td>
                    <td> {{ staff.phone_number }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel panel-default' id='secretaryAssignedInfo'>
        <div class='panel-heading'> Secretary Assigned</div>
        <div class='panel-body'>
            <table class='table'>
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Username</th>
                    <th> Contact Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='staff  in team.secretaries'>
                    <td> {{ staff.user.first_name }} {{ staff.user.last_name }}</td>
                    <td> {{ staff.user.username }}</td>
                    <td> {{ staff.phone_number }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel panel-default' ng-if='active_user.role=="physician" && pendingUsers.length > 0'>
        <div class='panel-heading'> Users Pending Registration</div>
        <div class='panel-body'>
            <input type='text' class='form-control' ng-model='pendingUserSearch' placeholder='Search...'>
            <hr>
            <button class='btn btn-default pull-right' ng-click='refreshPendingUsers()'>
                Refresh
            </button>
            <h4 class='text-info text-center'> Users Waiting Approval </h4>
            <hr>
            <table class='table'>
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th> Assign</th>
                    <th> Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='user in pendingUsers | filter:pendingUserSearch'>
                    <td> {{ user.full_name }}</td>
                    <td> {{ user.username }}</td>
                    <td>
                        <select ng-model='user.role' title="Assigned role" class="form-control">
                            <option value=''>--Role--</option>
                            <option value='patient'>Patient</option>
                        </select>
                    </td>

                    <td>
                        <button class='btn btn-primary' ng-click='updatePendingUser(user,1)'> Approve</button>
                        <button class='btn btn-danger' ng-click='updatePendingUser(user,0)'> Reject</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
