<div class='panel panel-default'>
    <div class='panel-heading' ng-click="taggedTodoCollapsed ? openTaggedTodo(): closeTaggedTodo()">
        <i class="fa fa-caret-right" ng-class="taggedTodoCollapsed ? 'fa-caret-right':'fa-caret-down'"></i>
        Tagged Todos <span class="new-todo" ng-if="newTaggedTodo > 0">({{ newTaggedTodo }})</span>
    </div>
    <div class='panel-body' ng-if="!taggedTodoCollapsed">
        <wave-spinner ng-if="!todos_ready"></wave-spinner>
        <todo accomplished="false" is-tagged="true" ng-model="tagged_todos" show-problem="true"></todo>
        <a class='btn btn-default btn-block'
           ng-bind='showAccomplishedTaggedTodos?"Hide accomplished Todos" :"Show accomplished Todos"'
           ng-click="showAccomplishedTaggedTodos=!showAccomplishedTaggedTodos">
        </a>
        <todo accomplished="true"
              is-tagged="true"
              ng-if='showAccomplishedTaggedTodos'
              ng-model="tagged_todos"
              show-problem="true"></todo>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-heading'>Top Patients List</div>
    <div class='panel-body'>
        <table class='table'>
            <thead>
            <tr>
                <th> Name</th>
                <th class="cursor-pointer" ng-click="sortBy('problem')"> P
                    <i class="fa pull-right" ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"
                       ng-if="'problem'== sortingKey"></i>
                </th>
                <th class="cursor-pointer" ng-click="sortBy('todo')"> T
                    <i class="fa pull-right" ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"
                       ng-if="'todo'== sortingKey"></i>
                </th>
                <th class="cursor-pointer" ng-click="sortBy('encounter')"> E
                    <i class="fa pull-right" ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"
                       ng-if="'encounter'== sortingKey"></i>
                </th>
                <th class="cursor-pointer" ng-click="sortBy('document')"> D
                    <i class="fa pull-right" ng-class="isDescending ? 'fa-caret-down':'fa-caret-up'"
                       ng-if="'document'== sortingKey"></i>
                </th>
                <th> Multiply</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='patient in patients_list' ng-show="$index < 10 || show_all">
                <td><a href='/u/patient/manage/{{ patient.id }}/'>
                    {{ patient.name }}
                </a>
                </td>
                <td> {{ patient.problem | number:0 }}</td>
                <td> {{ patient.todo | number:0 }}</td>
                <td> {{ patient.encounter | number:0 }}</td>
                <td> {{ patient.document | number:0 }}</td>
                <td> {{ patient.multiply | number:0 }}</td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-default" href ng-click="show_all=!show_all">
            <span ng-bind='show_all? "Not show all":"Show all"'></span>
        </a>
    </div>
</div>
<div class='panel panel-default' ng-if="active_user.role=='secretary'">
    <div class='panel-heading'>
        List of all todos for all patients that have been generated in the past 24 hours
        ({{ new_generated_todos_list.length }})
    </div>
    <div class='panel-body'>
        <table class='table'>
            <thead>
            <th> Name</th>
            </thead>
            <tbody>
            <tr ng-repeat='todo in new_generated_todos_list'>
                <td>
                    {{ todo.todo }}
                    <span ng-if="todo.patient"> for patient
                      <a href="/u/patient/manage/{{ todo.patient.id }}/">{{ todo.patient.first_name }} {{ todo.patient.last_name }}</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class='panel panel-default' ng-if="active_user.role=='secretary'">
    <div class='panel-heading'>List all physicians</div>
    <div class='panel-body'>
        <p ng-repeat='physician in new_generated_physicians_list'>
            {{ physician.user.first_name }} {{ physician.user.last_name }} {{ physician.user.username }}
        </p>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-heading' ng-click="showLabeledTodoList=!showLabeledTodoList">
        <i aria-hidden="true" class="fa " ng-class="showLabeledTodoList?'fa-caret-down':'fa-caret-right'"></i>
        <span ng-bind="showLabeledTodoList ?'Labeled to do lists':'Add new labeled todo list' "></span>
    </div>
    <div class='panel-body' ng-show="showLabeledTodoList">
        <form class='form-inline' role='form'>
            <div class='form-group'>
                <input title="" placeholder="Labeled to do list name" class="form-control" ng-model='new_list.name'
                       type='text'>
            </div>

            <button class='btn btn-primary' ng-click="add_todo_list(new_list,1)" type='button'>Add list only for me
            </button>
            <button class='btn btn-danger' ng-click="add_todo_list(new_list,0)"
                    ng-if="['admin','physician'].indexOf(active_user.role) != -1" type='button'>Add list for all users
            </button>
            <div class="form-group">
                <a ng-repeat="label in labels track by $index" class="todo-label" href ng-class="label.css_class"
                   ng-click="add_new_list_label(new_list, label)">
                    <span ng-bind="label.name"></span>
                    <i class="fa fa-check" ng-if="l.id==label.id"
                       ng-repeat="l in new_list.labels track by $index"></i>
                </a></div>
        </form>
    </div>
</div>
<div class='panel panel-default' ng-init="list.show_accomplished=false;list.collapse=false;"
     ng-repeat="list in todo_lists track by $index">
    <div class='panel-heading' ng-click="openTodoList(list);">
        <i aria-hidden="true" class="fa fa-caret-down" ng-if="list.collapse"></i>
        <i aria-hidden="true" class="fa fa-caret-right" ng-if="!list.collapse"></i>
        {{ list.name }} ({{(list.todos | filter:{'accomplished':false}).length}} todos, {{ getNewTodos(list)}} are new)
        <a class="btn btn-danger" href ng-click="delete_list(list)"
           ng-if="list.collapse && list.user.id == active_user.id">Delete</a></div>
    <div class='panel-body' ng-if="list.collapse">
        <todo accomplished="false" is-list="list.id" ng-model="list.todos" show-problem="true"></todo>
        <a class='btn btn-default btn-block' ng-click='list.show_accomplished=!list.show_accomplished'>
            <span ng-if='list.show_accomplished==false'>Show accomplished Todos </span>
            <span ng-if='list.show_accomplished==true'>Hide accomplished Todos </span>
        </a>
        <div class="col-md-12" ng-show='list.show_accomplished==true'>
            <todo accomplished="true" is-list="list.id" ng-model="list.todos" show-problem="true"></todo>
        </div>
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-heading'> Personal Todos</div>
    <div class='panel-body'>
        <form ng-submit='add_todo(new_todo)' role='form'>
            <div class='input-group'>
                <input class="form-control" id='todoNameInput' ng-model='new_todo.name' title="Todo name" type='text'>
                <span class="input-group-btn">
            <button class='btn btn-primary' type='submit'> Add Todo</button></span>
            </div>
        </form>
        <todo accomplished="false" is-tagged="false" ng-model="personal_todos" show-problem="true"></todo>
        <a class='btn btn-default btn-block'
           ng-click='show_accomplished_personal_todos=!show_accomplished_personal_todos'>
            <span ng-bind='show_accomplished_personal_todos? "Hide accomplished Todos ":"Show accomplished Todos "'></span>
        </a>
        <todo accomplished="true" is-tagged="false" ng-if="show_accomplished_personal_todos" ng-model="personal_todos"
              show-problem="true"></todo>

    </div>
</div>

<div class="physician-view" ng-if="active_user.role=='physician'">

    <div class='panel panel-default' id='nursesAssignedInfo'>
        <div class='panel-heading'> Nurses Assigned</div>
        <div class='panel-body'>
            <table class='table'>
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Username</th>
                    <th> Contact Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='nurse  in team.nurses'>
                    <td> {{ nurse.user.first_name }} {{ nurse.user.last_name }}</td>
                    <td> {{ nurse.user.username }}</td>
                    <td> {{ nurse.phone_number }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel panel-default' id='midLevelAssignedInfo'>
        <div class='panel-heading'> Mid-Level Assigned</div>
        <div class='panel-body'>
            <table class='table'>
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Username</th>
                    <th> Contact Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='staff  in team.mid_level_staffs'>
                    <td> {{ staff.user.first_name }} {{ staff.user.last_name }}</td>
                    <td> {{ staff.user.username }}</td>
                    <td> {{ staff.phone_number }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel panel-default' id='secretaryAssignedInfo'>
        <div class='panel-heading'> Secretary Assigned</div>
        <div class='panel-body'>
            <table class='table'>
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Username</th>
                    <th> Contact Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='staff  in team.secretaries'>
                    <td> {{ staff.user.first_name }} {{ staff.user.last_name }}</td>
                    <td> {{ staff.user.username }}</td>
                    <td> {{ staff.phone_number }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='panel panel-default' ng-if='active_user.role=="physician" && pendingUsers.length > 0'>
        <div class='panel-heading'> Users Pending Registration</div>
        <div class='panel-body'>
            <input class='form-control' ng-model='pendingUserSearch' placeholder='Search...' type='text'>
            <hr>
            <button class='btn btn-default pull-right' ng-click='refreshPendingUsers()'>
                Refresh
            </button>
            <h4 class='text-info text-center'> Users Waiting Approval </h4>
            <hr>
            <table class='table'>
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th> Assign</th>
                    <th> Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='user in pendingUsers | filter:pendingUserSearch'>
                    <td> {{ user.full_name }}</td>
                    <td> {{ user.username }}</td>
                    <td>
                        <select class="form-control" ng-model='user.role' title="Assigned role">
                            <option value=''>--Role--</option>
                            <option value='patient'>Patient</option>
                        </select>
                    </td>

                    <td>
                        <button class='btn btn-primary' ng-click='updatePendingUser(user,1)'> Approve</button>
                        <button class='btn btn-danger' ng-click='updatePendingUser(user,0)'> Reject</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
