<toaster-container></toaster-container>
<div class='panel panel-default'>

	<div class='panel-body'>

		<div class='row'>

			<div class='col-md-12'>
				<a href='#/problem/{{observation.problem.id}}'><b> Back to problem page </b></a>
			</div>
		</div>

	</div><!-- End of Panel Body -->
</div>

<div class='panel panel-default'>

	<div class='panel-body'>

		<div class='row'>

			<div class='col-md-12'>
				<b> New Order </b>
				<hr>  

				<form class='form-inline' ng-submit='add_todo(todo_form)' >
					<div class='form-group'>
						<label> Add </label>
						<input type='text' class='form-control' ng-model='todo_form.name'>
					</div>
					<div class='form-group'>
						<input type='submit' value='Submit' class='btn btn-default'>
					</div>
				</form>
			</div>
		</div>

	</div><!-- End of Panel Body -->
</div>