<div class='panel panel-default'>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-12'>
                <a href='#/data/{{data.id}}/show_all_data'><b> Back to all data page </b></a>
            </div>
        </div>
    </div><!-- End of Panel Body -->
</div>
<div class='panel panel-default'>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-12'>
                <h3>{{ data.name }}</h3>
                <p>
                    <span class="component-value" ng-repeat="value in editComponentValue">{{value.value_quantity}}<i
                            ng-if="!$last">/</i></span>
                    <span ng-repeat='unit in data.observation_units | filter:{"is_used":true}'> {{unit.value_unit}} </span>
                </p>
                <p>{{editComponentValue[0].author.user.first_name}} {{editComponentValue[0].author.user.last_name}}</p>
                <p>Created on: {{ editComponentValue[0].created_on|date:'M/d/yyyy HH:mm' }}</p>
                <p>Date measured: {{ editComponentValue[0].date }} {{ editComponentValue[0].time }}</p>
            </div>
        </div>
    </div>
</div>
<div class='panel panel-default' ng-show="show_edit">
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-12'>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="due_date">Date</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="editForm.date" id="due_date"
                                   title="Due date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="time">Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="time" ng-model="editForm.time" title="Time">
                        </div>
                    </div>

                    <div class="form-group" ng-repeat="component in data.observation_components">
                        <label class="col-sm-2 control-label" for="{{component.name}}">{{ component.name }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="{{component.name}}"
                                   ng-model="component.new_value">
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">Value</label>-->
                    <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" ng-model="editForm.value_quantity">-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button class="btn btn-primary" ng-click="save_data();">Save</button>
                            <button class="btn btn-danger" ng-click="toggleEdit();">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class='panel panel-default'>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-12'>
                <button class="btn btn-primary"
                        ng-if="active_user.role!='patient' || active_user.id== editComponentValue[0].author.id"
                        ng-click="toggleEdit()">Edit
                </button>
                <button class="btn btn-danger"
                        ng-if="active_user.role!='patient' || active_user.id== editComponentValue[0].author.id"
                        ng-click="deleteData();">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    $(document).ready(function () {
        $("#due_date").datepicker({dateFormat: 'mm/dd/yy'});
    });
</script>