<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>{{patient_info.user.first_name}} {{patient_info.user.last_name}} {{patient_info.date_of_birth}}</th>
        <!--<th class="text-center" ng-repeat="day in last5Days track by $index">{{day | date:'MM/dd/yyyy'}}</th>-->
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Weight</td>
        <td class="text-center" ng-repeat="entry in vitals.weight track by $index">
            {{entry | number: 0 }} lb 
        </td>
    </tr>
    <tr>
        <td>Height</td>
        <td class="text-center" ng-repeat="entry in vitals.height track by $index">
            {{entry | number: 0 }} in
        </td>
    </tr>
    <tr>
        <td>BMI</td>
        <td class="text-center" ng-repeat="entry in vitals.bmi track by $index">
            {{entry | number: 0 }}
        </td>
    </tr>
    <tr>
        <td>BP</td>
        <td class="text-center" ng-repeat="entry in vitals.blood_pressure track by $index">
            {{entry[0] | number: 0}}/{{entry[1] | number: 0}} mmHg
        </td>
    </tr>
    <tr>
        <td>Temperature</td>
        <td class="text-center" ng-repeat="entry in vitals.temperature track by $index">
            {{entry | number: 0 }} °F
        </td>
    </tr>
    <tr>
        <td>Pulse</td>
        <td class="text-center" ng-repeat="entry in vitals.pulse track by $index">
            {{entry | number: 0 }} bpm
        </td>
    </tr>
    <tr>
        <td>Respiratory rate</td>
        <td class="text-center" ng-repeat="entry in vitals.respiratory_rate track by $index">
            {{entry | number: 0 }} breaths/min
        </td>
    </tr>
    <tr>
        <td>A1C</td>
        <td class="text-center" ng-repeat="entry in vitals.a1c track by $index">
            {{entry | number: 0 }}
        </td>
    </tr>
    </tbody>
</table>
