<div class='panel panel-default'>
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-12'>
				<a href='#/data/{{data.id}}'><b> Back to data page </b></a>
			</div>
		</div>
	</div><!-- End of Panel Body -->
</div>

<div class='panel panel-default'>

	<div class='panel-body'>

		<div class='row'>

			<div class='col-md-12'>
				<form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" ng-model="new_data.date" id="due_date">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Time</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" ng-model="new_data.time">
                        </div>
                    </div>

                    <div class="form-group" ng-repeat="component in data.observation_components">
                        <label class="col-sm-2 control-label">{{ component.name }}</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" ng-model="component.new_value">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2"> </div>
                        <div class="col-sm-10">
                            <button class="btn btn-default" ng-click="add_data(new_data);">Save</button>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>

<script type='text/javascript'>
	$(document).ready(function(){
		$("#due_date").datepicker({ dateFormat: 'mm/dd/yy' });
	});
</script>