

.google-login-img{
	height: 50px;
}

.ul-clean{
	list-style-type: none;
}

.ul-clean li{
	margin-top:15px;
}

.item-box{
	min-height: 50px;
	padding: 12px;
	border: 1px solid #ccc;
}

.green-box{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}



.red-box{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

#ngdialog1.large-modal .ngdialog-content{
	width: 600px;
	min-height: 275px;

}

#ngdialog1.small-modal .ngdialog-content{
	width: 450px;
}


.note-box{
	width: 400px;
}

.footer{
	margin-top: 75px;
}


.small-img{
	width: 200px;
	height:200px;
}

.modal-image{
	width: 80%;
}

#bottom-bar{
	position: fixed;
	height: 65px;
	bottom: 0px;
	left:0px;
	width: 100%;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.9);


	border-top: 2px solid grey;
	border-radius: 3px;
	padding-top: 10px;

}