
.google-login-img {
    height: 50px;
}

.ul-clean {
    list-style-type: none;
}

.ul-clean li {
    margin-top: 15px;
}

.item-box {
    min-height: 50px;
    padding: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.green-box {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.red-box {
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    color: #a94442 !important;
}

#ngdialog1.large-modal .ngdialog-content {
    width: 600px;
    min-height: 275px;

}

#ngdialog1.small-modal .ngdialog-content {
    width: 450px;
}

.note-box {
    width: 400px;
}

.footer {
    margin-top: 75px;
}

.small-img {
    width: 100px;
    height: 100px;
}

.modal-image {
    width: 80%;
}

.bottom-bar {
    position: fixed;
    height: 65px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 2px solid grey;
    border-radius: 3px;
    padding-top: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-bar #encounter-box {
    /*width:90%;*/
    margin: 0 auto;
}

.box50 {
    height: 50px;
}

/*ce-entity ce-flag {*/
/*font-weight: bold;*/
/*}*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: grey;
    color: white;
}

.activity-item img {
    /*height:75px;*/
    /*width: 75px;*/
}

.cover-image {
    margin: 0 auto;
    max-width: 50%;
}

.cursor-pointer {
    cursor: pointer !important;
}

/*    TO DO     */

.todo {
    position: relative;
}

.btn-custom {
    color: #999;
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    z-index: 98;
}

#problem-header .todo .btn-custom {
    right: -30px;
    top: 5px;
}

#problem-header .todo,
#problem-header .todo h4 {
    width: auto;
    display: inline-block;
}

#problem-header:hover .btn-custom,
.todo:hover .btn-custom {
    display: block;
}

.problem-uncontrolled {
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    color: #a94442 !important;
}

.btn-custom:hover {
    color: #4d4d4d;
}

.todo .quick-card-editor-card {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    max-width: 200px;
}

#problem-header .todo .quick-card-editor-card {
    right: -200px;
}

#problem-header .todo input {
    color: black;
}

#problem-header .todo .quick-card-editor-text input {
    width: 100%;
    min-width: 500px;
}

.thumbnail-custom {
    height: auto;
    width: 160px;
}

.todos-container .list-group-item {
    cursor: pointer;
}

.quick-card-editor input,
.quick-card-editor button {
    position: relative;
    z-index: 99;
}

.quick-card-editor a {
    background: rgba(0, 0, 0, .6);
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    display: block;
    float: left;
    margin: 0 0 5px 0;
    padding: 6px 9pt 6px 8px;
    text-decoration: none;
    -webkit-transition: -webkit-transform 85ms ease-in;
    transition: transform 85ms ease-in;
}

.quick-card-editor a:hover {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.quick-card-editor-buttons a i {
    margin-right: 5px;
}

.quick-card-editor a.todo-label,
.quick-card-editor-label a.todo-label {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    display: block;
    margin: 0 2px;
    clear: none;
}

.quick-card-editor-label a.todo-label-name {
    color: #fff;
    width: auto;
    padding: 0 10px;
    text-decoration: none;
}

.quick-card-editor a.todo-label i {
    font-size: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 0 2px #000;
    margin: 0;
}

.todo-label-green {
    background-color: #61bd4f !important;
}

.todo-label-yellow {
    background-color: #f2d600 !important;
}

.todo-label-orange {
    background-color: #ffab4a !important;
}

.todo-label-red {
    background-color: #eb5a46 !important;
}

.todo-label-purple {
    background-color: #c377e0 !important;
}

.todo-label-blue {
    background-color: #0079bf !important;
}

.todo-label-sky {
    background-color: #00c2e0 !important;
}

.overlay {
    background: rgba(0, 0, 0, .5);
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
}

.quick-card-editor-lv2 {
    position: absolute;
    z-index: 999;
    background: white;
    min-height: 220px;
    min-width: 200px;
    padding: 10px;
}

.quick-card-editor .quick-card-editor-lv2 a.todo-label {
    clear: none;
    width: 80%;
    min-height: 20px;
    height: auto;
    text-align: left;
    padding: 0;
    padding-left: 10px;
    display: block;
    float: left;
    margin-left: 0;
    margin-bottom: 2px;
}

.quick-card-editor .quick-card-editor-lv2 a.todo-label-edit {
    float: right;
    clear: none;
    background: none;
    margin: 0px;
    padding: 0px;
    color: black;
    transition: none;
    -webkit-transform: none !important;
    transform: none !important;
}

.quick-card-editor .quick-card-editor-lv2 a.todo-label-edit:hover {
    color: #242323;
}

.quick-card-editor-label {
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.todo .quick-card-editor-label {
    display: inline-block;
    margin-bottom: -6px;
}

.quick-card-editor-lv2-header {
    margin-bottom: 40px;
}

.quick-card-editor-lv2-header a {
    float: right;
}

.todo-component {
    margin-bottom: 20px;
}

.attachment {
    margin-bottom: 10px;
}

.attachment p {
    margin: 0;
}

.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}

button {
    outline: none;
    border: 0px;
}

/*tbody {*/
/*height: 180px;*/
/*}*/

/*tbody button {*/
/*padding: 6px;*/
/*}*/

/*&*/
/*.datepicker-mode-1,*/

/*&*/
/*.datepicker-mode-2 {*/

/*tbody button {*/
/*height: 65px;*/
/*}*/

/*}*/
/*}*/

.timepicker.dropdown-menu {
    padding: 0 4px;
}

button {
    outline: none;
    border: 0px;
}

tbody button {
    padding: 6px;
}

/*}*/

.todo-member {
    background: rgba(68, 48, 48, 0.15);
    padding: 5px;
    margin-right: 5px;
}

.due-date {
    background: rgba(255, 0, 0, 0.35);
}

.quick-card-editor-lv3 {
    z-index: 1000;
}

.top-left-0 {
    top: 0;
    left: 0;
}

.labeled-list a.todo-label {
    width: auto;
    height: auto;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    margin-bottom: 2px;
}

.problem-tabs .quick-card-editor-label,
#problem-header .quick-card-editor-label {
    display: inline-block;
    top: 0;
}

.tiny-img {
    width: 20px;
    height: 20px;
}

.io-box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.io-box .table-responsive tbody td .smallbutton {
    padding: 1px 5px;
}

.io-box .table-responsive .listinrvalue tbody td input {
    width: 100%;
}

.home-page-tabs .nav {
    border: 1px solid #ddd;
    border-radius: 4px;
    border-top: none;
    margin-bottom: 40px;
    margin-top: -50px;
}

.medication-page-tabs .nav {
    border-top: 1px solid #ddd;
    margin-top: 0px;
}

.home-page-tabs .nav > li {
    display: inline-block;
    float: none;
    margin: 0 !important;
}

.home-page-tabs .nav .nav-pills > li {
    margin: 0 !important;
}

.home-page-tabs .nav > li a {
    color: #337ab7;
    font-weight: 700;
    padding: 13px 30px;
    border-right: 1px solid #ddd;
    background: none !important;
    border-radius: 0;
    cursor: pointer;
}

.home-page-tabs .nav-pills > li.active > a,
.home-page-tabs .nav-pills > li.active > a:hover,
.home-page-tabs .nav-pills > li.active > a:focus {
    color: grey;
}

.my-story {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.my-story-left {
    border-right: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}

.my-story-right {
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-story-list li button {
    border-radius: 0px;
    border: none;
}

.my-story-list li button.active {
    color: black;
    font-weight: bold;
    border-left: 3px solid black;
}

.data-frame {
    background: #ddd;
    border: none;
}

.pickadate {
    top: 0px !important;
    left: 0px !important;
}