<div class='col-md-12'>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne" ng-click="open_inr()">
				<div ng-show="!show_inr_collapse" >
  					<i class="fa fa-caret-right" aria-hidden="true"></i>
					inr
				</div>
				<div ng-show="show_inr_collapse">
					<i class="fa fa-caret-down" aria-hidden="true"></i> 
					inr
				</div>
			</div>
			<div ng-show="show_inr_collapse">
				<div class="panel-body">
					<!-- Begin tabs -->
					<div class='row'>
					    <div class='col-md-12 text-center'>
					        <ul class="nav nav-pills" role="tablist">
					            <li role="presentation" class="active">
					                <a href=".tab-medication" role="tab" data-toggle="tab">Medications</a>
					            </li>
					        </ul>
					    </div>
					</div>
					<!-- End tabs -->
					<!-- Begin tab content -->
					<div class='row'>
					    <div class='col-md-12'>
					        <div class="tab-content">
					            <!-- Problems tab -->
					            <div role="tabpanel" class="active tab-pane tab-medication">
					                <div class="row">
										<div class='col-md-12'>
											<form>
												<div class='form-group'>
													<label> Name </label>
													<input type='text' class='form-control' ng-model='new_medication.name'>
												</div>
												<div class='form-group'>
													<input type='submit' value='Add' class='btn btn-default' ng-click="add_medication(new_medication);">
												</div>
											</form>
										</div>
									</div>

									<div class="row">
										<div class='col-md-12'>
											<div>
	                                            <div class="io-box" style='margin-bottom: 40px;' 
	                                            	ng-repeat='medication in inr.inr_medications'
	                                            	ng-init='medication.show_medication_history=false;'>
                                                    {{ medication.name }}

                                                    <button class="btn btn-default" ng-click="dosage_increase(medication);">increase</button>
                                                    <button class="btn btn-default" ng-click="dosage_decrease(medication);">decrease</button>
                                                    <button class="btn btn-default" ng-click="see_medication_history(medication);">see medication history</button>

                                                    <div class="row" 
                                                    	ng-show="medication.show_medication_history">
														<div class='col-md-6'>
															<h3>history of dosages</h3>
														</div>
														<div class='col-md-6'>
															<h3>notes</h3>
															<p ng-repeat="note in medication.medication_notes"
																ng-init="note.show_edit_note=false;">
																<span ng-show="!note.show_edit_note">
																	{{ note.note }}
																	<button class="btn btn-default" ng-click="edit_note(note);">edit</button>
																	<button class="btn btn-default" ng-click="delete_note(note, medication);">delete</button>
																</span>
																<span ng-show="note.show_edit_note">
																	<input type='text' class='form-control' ng-model='note.note'>
																	<button class="btn btn-default" ng-click="save_note(note);">save</button>
																	<button class="btn btn-default" ng-click="edit_note(note);">Cancel</button>
																</span>
															</p>
														</div>
													</div>

													<div class="row">
														<div class='col-md-12'>
															<form ng-if="medication.medication_notes.length > 0">
																<div ng-repeat="note in medication.medication_notes" ng-if="$last">
																	<div class='form-group'>
																		<label> Note </label>
																		<textarea class='form-control' 
																			ng-model='note.note'></textarea>
																		<p>Last edited by: {{ note.author.user.username }} on {{ note.datetime|date:'M/d/yyyy' }}</p>
																	</div>
																	<div class='form-group'>
																		<input type='submit' value='Save' class='btn btn-default' ng-click="add_note(note, medication);">
																	</div>
																</div>
															</form>
															<form ng-if="medication.medication_notes.length == 0">
																<div class='form-group'>
																	<label> Note </label>
																	<textarea class='form-control' ng-model='new_note.note'></textarea>
																</div>
																<div class='form-group'>
																	<input type='submit' value='Add' class='btn btn-default' ng-click="add_note(new_note, medication);">
																</div>
															</form>
													 	</div>
	                                        		</div>
	                                            </div>
	                                        </div>
				                		</div>
				                	</div>
				                </div>
			                </div>
		                </div>
	                </div>

				</div>
			</div>
		</div>
	</div>
</div>