<div class='col-md-12'>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne" ng-click="open_inr()">
				<div ng-show="!show_inr_collapse" >
  					<i class="fa fa-caret-right" aria-hidden="true"></i>
					inr
				</div>
				<div ng-show="show_inr_collapse">
					<i class="fa fa-caret-down" aria-hidden="true"></i> 
					inr
				</div>
			</div>
			<div ng-show="show_inr_collapse"
                ng-init="inr.see_all=false;">
				<div class="panel-body">
	                <div class="row">
						<div class='col-md-8'>
							<p>Target inr: 
                                <label><input ng-click="checkradio(inr)" type="radio" ng-model="inr.target" value="1">2-3</label>
                                <label><input ng-click="checkradio(inr)" type="radio" ng-model="inr.target" value="0">2.5-3.5</label>
                            </p>
                            <div class="io-box">
                                <div class='table-responsive'>
                                    <table class="table table-striped listinrvalue">
                                        <thead>
                                            <th>
                                                Date measured
                                                <p class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="inrvalue.effective_datetime" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </th>
                                            <th>
                                                Current dose
                                                <p class="input-group">
                                                    <input class="form-control" type="text" ng-model='inrvalue.current_dose' name="">
                                                </p>
                                            </th>
                                            <th>
                                                Inr
                                                <!-- <input type="number" ng-model='inrvalue.value' name=""> -->
                                                <p class="input-group">
                                                    <input class="form-control" type="number" ng-model='inrvalue.value' name="">
                                                </p>
                                            </th>
                                            <th>
                                                New dosage
                                                <!-- <input type="text" ng-model='inrvalue.new_dosage' name=""> -->
                                                <p class="input-group">
                                                    <input class="form-control" type="text" ng-model='inrvalue.new_dosage' name="">
                                                </p>
                                            </th>
                                            <th>
                                                Next Inr
                                                <!-- <input type="text" ng-model='inrvalue.next_inr' name=""> -->
                                                <p class="input-group">
                                                    <input class="form-control" type="text" ng-model='inrvalue.next_inr' name="">
                                                </p>
                                            </th>
                                            <th><button class="btn btn-default" ng-click="saveinrvalue()">Save</button></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat='value in inr.inr_values'
                                                 ng-show="$index < 3 || inr.see_all">
                                                <!-- <td ng-init="value.isshow=false"> -->
                                                <td ng-init="initvalue(value)">
                                                    <p ng-show="!value.isshow">{{value.effective_datetime}}</p>
                                                    <input ng-show="value.isshow" type="text" ng-model='value.effective_datetime' name="">
                                                </td>
                                                <td>
                                                    <p ng-show="!value.isshow">{{value.current_dose}}</p>
                                                    <input ng-show="value.isshow" type="text" ng-model='value.current_dose' name="">
                                                </td>
                                                <td>
                                                    <p ng-show="!value.isshow">{{value.value}}</p>
                                                    <input ng-show="value.isshow" type="number" ng-model='value.value' name="">
                                                </td>
                                                <td>
                                                    <p ng-show="!value.isshow">{{value.new_dosage}}</p>
                                                    <input ng-show="value.isshow" type="text" ng-model='value.new_dosage' name="">
                                                </td>
                                                <td>
                                                    <p ng-show="!value.isshow">{{value.next_inr}}</p>
                                                    <input ng-show="value.isshow" type="text" ng-model='value.next_inr' name="">
                                                </td>
                                                <td>
                                                    <button ng-show="value.ispatient" class="btn btn-default smallbutton" ng-click="editinrvalue(value, value.id)">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>
                                                    <button ng-show="value.ispatient" class="btn btn-default smallbutton" ng-click="deleteinrvalue(value.id, $index, inr.inr_values)">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p>
                                <button class="btn btn-default" ng-click="inr.see_all=!inr.see_all">See all</button>
                            </p>
                            <div class="io-box">
                                <div class="row">
                                    <div class='col-md-12'>
                                        <p>Related problems:</p>
                                        <ul ng-repeat="problem in problems">
                                            <li>{{problem.problem_name}}</li>
                                        </ul>
                                        <p>Wafarin Tablets:</p>
                                        <ul>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
						</div>
                        <div class='col-md-4'>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="io-box">
                                        <p>Orders:</p>
                                        <p ng-if='!inr.inr_todos || inr.inr_todos.length == 0'> No pending order</p>
                                        <div ng-if="inr.inr_todos.length">
                                            <todo ng-model="inr.inr_todos" accomplished="false" show-problem="false"></todo>
                                        </div>
                                        <p>
                                            <a href class='btn btn-default' ng-click="repeat_todo()">Repeat inr in 1 month</a>
                                        </p>
                                        <p>
                                            <a href class='btn btn-default' ng-click="repeat_todo()">Repeat inr in 1 week</a>
                                        </p>
                                        <p>
                                            <a href class='btn btn-default' ng-click="repeat_todo()">Repeat inr in 2 weeks</a>
                                        </p>
                                        <p>
                                            Add todo: <input type="text" name="">
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="io-box" ng-init="inr.see_note=false">
                                        <form ng-if="inr.inr_notes.length > 0">
                                            <div ng-repeat="note in inr.inr_notes" ng-if="$last">
                                                <div class='form-group'>
                                                    <label> Note </label>
                                                    <textarea class='form-control' 
                                                        ng-model='note.note' 
                                                        ng-click="oldNote = note.note"></textarea>
                                                    <p>Last edited by: {{ note.author.user.username }} on {{ note.datetime|date:'M/d/yyyy' }}</p>
                                                </div>
                                                <div class='form-group'>
                                                    <input type='submit' value='Save' class='btn btn-default' ng-click="add_note(note, oldNote);">
                                                </div>
                                            </div>
                                        </form>
                                        <form ng-if="inr.inr_notes.length == 0">
                                            <div class='form-group'>
                                                <label> Note </label>
                                                <textarea class='form-control' 
                                                    ng-model='new_note.note'></textarea>
                                            </div>
                                            <div class='form-group'>
                                                <input type='submit' value='Add' class='btn btn-default' ng-click="add_note(new_note);">
                                            </div>
                                        </form>
                                        <div ng-repeat="note in inr.inr_notes" ng-if="inr.see_note">
                                            <p>name: {{note.author.user.first_name}} {{note.author.user.last_name}}</p>
                                            <p>Note: {{ note.note }}</p>
                                            <p>date: {{ note.datetime|date:'M/d/yyyy' }}</p>
                                            <hr/>
                                        </div>
                                        <p>
                                            <button class="btn btn-default" ng-click="inr.see_note=!inr.see_note">See old notes ()</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>