<div class='col-md-12'>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne" ng-click="open_inr()">
				<div ng-show="!show_inr_collapse" >
  					<i class="fa fa-caret-right" aria-hidden="true"></i>
					inr
				</div>
				<div ng-show="show_inr_collapse">
					<i class="fa fa-caret-down" aria-hidden="true"></i> 
					inr
				</div>
			</div>
			<div ng-show="show_inr_collapse">
				<div class="panel-body">
					<!-- Begin tabs -->
					<div class='row'>
					    <div class='col-md-12 text-center'>
					        <ul class="nav nav-pills" role="tablist">
					            <li role="presentation" class="active">
					                <a href=".tab-medication" role="tab" data-toggle="tab">Medications</a>
					            </li>
					        </ul>
					    </div>
					</div>
					<!-- End tabs -->
					<!-- Begin tab content -->
					<div class='row'>
					    <div class='col-md-12'>
					        <div class="tab-content">
					            <!-- Problems tab -->
					            <div role="tabpanel" class="active tab-pane tab-medication">
					                <div class="row">
										<div class='col-md-12'>
											<form>
												<div class='form-group'>
													<label> Name </label>
													<input type='text' class='form-control' ng-model='new_medication.name'>
												</div>
												<div class='form-group'>
													<input type='submit' value='Add' class='btn btn-default' ng-click="add_medication(new_medication);">
												</div>
											</form>
										</div>
									</div>

									<div class="row">
										<div class='col-md-12'>
	                                        <table class="table table-striped">
	                                        	<thead>
                                        			<th>Dosage</th>
                                        			<th>Note</th>
	                                        	</thead>
	                                        	<tbody>
	                                        		<tr ng-repeat='medication in inr.inr_medications' 
	                                        			ng-show='medication.current'>
	                                        			<td>
	                                        				<span class="cursor-pointer" ng-click='open_medication(medication)'>{{ medication.name }}</span>
                                        				</td>
	                                        			<td>
	                                        				<span ng-repeat="note in medication.medication_notes" ng-if="$last">{{ note.note }}</span>
	                                        			</td>
	                                        		</tr>
	                                        	</tbody>
	                                        </table>
				                		</div>
				                	</div>

				                	<hr ng-init="show_inactive_medications=false;">
	                                <a class='btn btn-default btn-md' ng-click='show_inactive_medications=!show_inactive_medications;'>
	                                    <span ng-if='show_inactive_medications==false'>Show inactive medications </span>
	                                    <span ng-if='show_inactive_medications==true'>Hide inactive medications </span>
	                                </a>
	                                <hr>

	                                <div class="row" ng-show="show_inactive_medications">
										<div class='col-md-12'>
											<table class="table table-striped">
	                                        	<thead>
                                        			<th>Dosage</th>
                                        			<th>Note</th>
	                                        	</thead>
	                                        	<tbody>
	                                        		<tr ng-repeat='medication in inr.inr_medications' 
	                                        			ng-show='!medication.current'>
	                                        			<td>
	                                        				<span class="cursor-pointer" ng-click='open_medication(medication)'>{{ medication.name }}</span>
                                        				</td>
	                                        			<td>
	                                        				<span ng-repeat="note in medication.medication_notes" ng-if="$last">{{ note.note }}</span>
	                                        			</td>
	                                        		</tr>
	                                        	</tbody>
	                                        </table>
				                		</div>
				                	</div>

				                </div>
			                </div>
		                </div>
	                </div>

				</div>
			</div>
		</div>
	</div>
</div>