<div class='col-md-12'>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne" ng-click="open_colon()">
				<div ng-show="!show_colon_collapse" >
  					<i class="fa fa-caret-right" aria-hidden="true"></i>
					Colon cancer screening: {{header}}
				</div>
				<div ng-show="show_colon_collapse">
					<i class="fa fa-caret-down" aria-hidden="true"></i> 
					Colon cancer screening: {{header}}
				</div>
			</div>
			<div ng-show="show_colon_collapse">
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>