<div style='max-height:375px; overflow-y:auto;'>
	<ul class='ul-clean' ui-sortable="sortableOptionsProblemList" ng-model="problems" ng-if="active_user.role=='physician' || active_user.role=='patient' || active_user.role=='mid-level'">
		<li ng-repeat="problem in problems" ng-click='open_problem(problem)'>
			<div class='item-box' ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>

				{{problem.problem_name}} <span ng-show="problem.authenticated==false">(not authenticated)</span>
			</div>
		</li>
	</ul>

	<ul class='ul-clean' ng-if="active_user.role=='nurse' || active_user.role=='secretary'">
		<li  ng-repeat='problem in problems' ng-click='open_problem(problem)'>
			
			<div class='item-box' ng-class='problem.is_controlled==true ? "green-box" : "red-box" '>

				{{problem.problem_name}}
			</div>
		</li>
	</ul>
</div>