<div class="col-md-12 todos-container" ng-show='problem_todos.length'>
    <div class="panel panel-info">
        <div class="panel-body">
		    <ul ui-sortable="sortableOptions" ng-model="problem_todos">
				<li ng-repeat="item in problem_todos" class="list-group-item todo" ng-show="item.accomplished==accomplished" ng-click="open_todo(item)">
					<div ng-show='!item.changed'>
						<div class="quick-card-editor-label">
							<a ng-repeat="label in item.labels" href class="todo-label" ng-class="label.css_class"></a>
						</div>
						<input type='checkbox' ng-model='item.accomplished' ng-change='update_todo_status(item)'> {{item.todo}} 
							<span ng-if="item.due_date"> due by <span ng-class="isDueDate(item.due_date)">{{item.due_date}}</span></span> 
							<span ng-if="item.problem && show_problem"> for problem 
								<a href="#/problem/{{item.problem.id}}">{{item.problem.problem_name}}</a>
							</span>
						<p>
							<span ng-show="item.comments.length > 0"><i class="fa fa-comment-o"></i> {{item.comments.length}}</span>
							<span ng-show="item.attachments.length > 0"><i class="fa fa-file-o"></i> {{item.attachments.length}}</span>
						</p>

						<p>
							<span ng-repeat="member in item.members" class="todo-member">{{member.user.username}}</span>
						</p>

						<a href class="btn-custom" ng-click="todoChange(item)"><i class="fa fa-pencil"></i></a>
					</div>
					<div class="quick-card-editor" id="main-menu" ng-show='item.changed' >

						<div class="quick-card-editor-text">
							<div class="quick-card-editor-label">
								<a ng-repeat="label in item.labels" href class="todo-label" ng-class="label.css_class"></a>
							</div>
							<input type="text" ng-model="item.todo">
							<button class="btn btn-default" ng-click="saveTodoText(item)">Save</button>
						</div>
						
						<div class="quick-card-editor-card" >
							
							<div class="quick-card-editor-buttons">
								<a href ng-click="closeThisTodo(item); $event.stopPropagation();"><i class="fa fa-close"></i></a>
								<a href ng-click="changeLabel(item)"><i class="fa fa-tags"></i>Edit label</a>
								
								<a href ng-click="changeDueDate(item)"><i class="fa fa-clock-o"></i>Change Due Date</a>
								<a href ng-click="changeMember(item)"><i class="fa fa-user"></i>Members</a>
							</div>

							<div ng-if="item.change_label" class="quick-card-editor-lv2">
								<div class="quick-card-editor-lv2-header">
									<a href ng-click="changeLabel(item); $event.stopPropagation();"><i class="fa fa-close"></i></a>
								</div>
								<a ng-repeat="label in labels" href class="todo-label" ng-class="label.css_class" ng-click="changeTodoLabel(item, label)">
									<i class="fa fa-check" ng-repeat="l in item.labels" ng-if="l.name==label.name"></i>
								</a>
							</div>

							<div ng-if="item.change_due_date" class="quick-card-editor-lv2">
								<div class="quick-card-editor-lv2-header">
									<a href ng-click="changeDueDate(item); $event.stopPropagation();"><i class="fa fa-close"></i></a>
								</div>
								<p ng-if="item.change_due_date">
									<input type="text" ng-model="item.due_date" ng-change="saveTodoDueDate(item)" bs-datepicker data-date-format="yyyy-MM-dd" modelDateFormat="yyyy-MM-dd" date-type="string">
								</p>
							</div>

							<div ng-if="item.change_member" class="quick-card-editor-lv2">
								<div class="quick-card-editor-lv2-header">
									<a href ng-click="changeMember(item); $event.stopPropagation();"><i class="fa fa-close"></i></a>
								</div>
								<a ng-repeat="member in members" href ng-click="changeTodoMember(item, member)">
									{{member.user.first_name}} {{member.user.last_name}}
									<i class="fa fa-check" ng-repeat="m in item.members" ng-if="m.id==member.id"></i>
								</a>
							</div>
						</div>
					</div>
				</li>
		    </ul>
		</div>
	</div>
</div>

<div class="overlay" ng-show="todo_changed"></div>