<div class="todos-container" ng-show='problem_todos.length'>
    <!-- begin sortable -->
    <ul ui-sortable="sortableOptions" ng-model="problem_todos" class="no-padding">
        <li ng-repeat="item in problem_todos" class="list-group-item todo"
            ng-show="item.accomplished==accomplished && checkSharedProblem(item.problem, sharing_patients)"
            ng-click="open_todo(item)">
            <!-- begin show item -->
            <div ng-show='!item.changed'>

                <input type='checkbox' ng-model='item.accomplished' ng-change='update_todo_status(item)'> {{item.todo}}
                <span ng-if="item.due_date"> due by <span
                        ng-class="isDueDate(item.due_date)">{{item.due_date}}</span></span>
                <span ng-if="item.problem && show_problem"> for problem
						<a href="#/problem/{{item.problem.id}}">{{item.problem.problem_name}}</a>
					</span>
                <!-- begin label -->
                <span class="quick-card-editor-label">
						<a ng-repeat="label in item.labels" href class="todo-label" ng-class="label.css_class"
                           ng-if="label.author.id==user_id || label.is_all"></a>
					</span>
                <!-- end label -->
                <p>
                    <span ng-if="item.comments.length > 0"><i
                            class="fa fa-comment-o"></i> {{item.comments.length}}</span>
                    <span ng-if="item.attachments.length > 0"><i
                            class="fa fa-file-o"></i> {{item.attachments.length}}</span>
                    <span ng-if="item.document_set.length > 0"><i
                            class="fa fa-file-pdf-o"></i> {{item.document_set.length}}</span>
                </p>

                <p>
                    <span ng-repeat="member in item.members" class="todo-member">{{member.user.username}}</span>
                </p>

                <a href class="btn-custom" ng-click="todoChange(item)"><i class="fa fa-pencil"></i></a>
            </div>
            <!-- end show item -->
            <!-- begin change item -->
            <div class="quick-card-editor" id="main-menu" ng-show='item.changed'>

                <!-- show label and text in edit mode -->
                <div class="quick-card-editor-text">
                    <div class="quick-card-editor-label">
                        <a ng-repeat="label in item.labels" href class="todo-label" ng-class="label.css_class"
                           ng-if="label.author.id==user_id || label.is_all"></a>
                    </div>
                    <input type="text" ng-model="item.todo">
                    <button class="btn btn-default" ng-click="saveTodoText(item)">Save</button>
                </div>
                <!-- end show label and text in edit mode -->

                <div class="quick-card-editor-card">

                    <!-- begin buttons -->
                    <div class="quick-card-editor-buttons">
                        <a href ng-click="closeThisTodo(item); $event.stopPropagation();"><i
                                class="fa fa-close"></i></a>
                        <a href ng-click="changeLabel(item)"><i class="fa fa-tags"></i>Edit label</a>

                        <a href ng-click="changeDueDate(item)"><i class="fa fa-clock-o"></i>Change Due Date</a>
                        <a href ng-click="changeMember(item)"><i class="fa fa-user"></i>Members</a>
                    </div>
                    <!-- end buttons -->
                    <!-- begin change label -->
                    <div ng-if="item.change_label" class="quick-card-editor-lv2">
                        <div class="quick-card-editor-lv2-header">
                            <a href ng-click="changeLabel(item); $event.stopPropagation();"><i class="fa fa-close"></i></a>
                        </div>
                        <div ng-repeat="label in labels">
                            <a href class="todo-label" ng-class="label.css_class"
                               ng-click="changeTodoLabel(item, label)">
                                {{label.name}}
                                <i class="fa fa-check" ng-repeat="l in item.labels" ng-if="l.id==label.id"></i>
                            </a>
                            <!-- begin edit label -->
                            <a href class="todo-label-edit" ng-click="editLabel(label)"
                               ng-if="label.name != 'screening' && (active_user.role == 'physician' || active_user.role == 'admin' || (label.author.profile.role != 'physician' && label.author.profile.role != 'admin' && active_user.user.id == label.author.id))"><i
                                    class="fa fa-pencil"></i></a>

                            <div ng-if="label.edit_label"
                                 class="quick-card-editor-lv2 quick-card-editor-lv3 top-left-0">
                                <div class="quick-card-editor-lv2-header">
                                    <a href ng-click="editLabel(label); $event.stopPropagation();"><i
                                            class="fa fa-close"></i></a>
                                </div>
                                <input type="text" ng-model="label.name">
                                <a ng-repeat="component in labels_component" href class="todo-label"
                                   ng-class="component.css_class" ng-click="selectEditLabelComponent(label, component)">
                                    <i class="fa fa-check" ng-if="component.css_class==label.css_class"></i>
                                </a>
                                <a href ng-click="saveEditLabel(label)">Save</a>
                                <a href class="btn btn-danger" ng-click="deleteEditLabel(label)">Delete</a>
                            </div>
                            <!-- end edit label -->

                        </div>
                        <a href ng-click="createLabel(item)"><i class="fa fa-tags"></i>Create new label</a>
                    </div>

                    <div ng-if="item.create_label" class="quick-card-editor-lv2 quick-card-editor-lv3">
                        <div class="quick-card-editor-lv2-header">
                            <a href ng-click="createLabel(item); $event.stopPropagation();"><i class="fa fa-close"></i></a>
                        </div>
                        <input type="text" ng-model="label_component.name">
                        <a ng-repeat="component in labels_component" href class="todo-label"
                           ng-class="component.css_class" ng-click="selectLabelComponent(component)">
                            <i class="fa fa-check" ng-if="component.css_class==label_component.css_class"></i>
                        </a>
                        <a href ng-click="saveCreateLabel(item)">Save just for me</a>
                        <a href ng-click="saveCreateLabelAll(item)" ng-if="active_user.role != 'patient'">Save for all
                            users</a>
                    </div>
                    <!-- end change label -->
                    <!-- begin change due date -->
                    <div ng-if="item.change_due_date" class="quick-card-editor-lv2">
                        <div class="quick-card-editor-lv2-header">
                            <a href ng-click="changeDueDate(item); $event.stopPropagation();"><i
                                    class="fa fa-close"></i></a>
                        </div>
                        <p>
                            <input type="text" ng-model="item.due_date" ng-change="saveTodoDueDate(item)"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 30000, blur: 1000 } }">
                        </p>
                        <div ng-model="item.due_date" ng-change="saveTodoDueDate(item)" pickadate
                             format="MM/dd/yyyy"></div>
                    </div>
                    <!-- end change due date -->
                    <!-- begin change member -->
                    <div ng-if="item.change_member" class="quick-card-editor-lv2">
                        <div class="quick-card-editor-lv2-header">
                            <a href ng-click="changeMember(item); $event.stopPropagation();"><i class="fa fa-close"></i></a>
                        </div>
                        <a ng-repeat="member in members" href ng-click="changeTodoMember(item, member)">
                            {{member.user.first_name}} {{member.user.last_name}}
                            <i class="fa fa-check" ng-repeat="m in item.members" ng-if="m.id==member.id"></i>
                        </a>
                    </div>
                    <!-- end change member -->
                </div>
            </div>
            <!-- end change item -->
        </li>
    </ul>
    <!-- end sortable -->
</div>

<div class="overlay" ng-show="todo_changed" ng-click="clickOutSide()"></div>
<!-- begin delete label modal -->
<div class="modal fade" id="deleteLabelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4>Are you sure?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        Deleting a label is forever. There is no undo.
                        <a href ng-click="confirmDeleteLabel(currentLabel)" class="btn btn-default">Delete</a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end delete label modal -->