<toaster-container></toaster-container>
<center> 
	<h3> 
		<a href='#/manage/sharing'><i class='glyphicon glyphicon-arrow-left'></i> Back To Manage Sharing Page </a> 
	</h3> 
</center>
<hr>

<center> <h3> Manage Sharing Problems </h3> </center>
<hr>


<div class='row'>
	<div class='col-md-4'>
		patient {{sharing_patient.user.first_name}} {{sharing_patient.user.last_name}}
		can access
	</div>
	<div class='col-md-4'>
		<p ng-repeat="problem in problems">
			<input type="checkbox" checked="checked" ng-if="inArray(sharing_problems, problem)" ng-click="changeSharingProblem(problem);">
			<input type="checkbox" ng-if="!inArray(sharing_problems, problem)" ng-click="changeSharingProblem(problem);">
			<span>{{problem.problem_name}}</span>
		</p>
	</div>
	<div class='col-md-4'>
		of patient {{shared_patient.user.first_name}} {{shared_patient.user.last_name}}

	</div>
</div>
